// /*------------------------------------*\
//     #GLOBAL COLORS
// \*------------------------------------*/

// Basic
$green: #82ad3a;
$black: #1e1f21;
$black-light: #373b44;
$grey-dark: #5d6069;
$grey-medium: #8c919b;
$grey-light: #c0c3c9;
$grey-lighter: #f1f1f1;
$white: #ffffff;

// Other colors
$red: #d82b32;
$red-light: #ff3333;
$grey-border: #cfcfcf;
$grey-divider: #e4e4e4;
$grey-disabled: #dbdee3;
$grey-disabled-text: #bdc0c6;
$grey-item-hover: #ebebeb;
$grey-pressed: #dedede;
$grey-light:#dddddd;

// Input
$input-text: $grey-medium;
$input-border: $grey-border;
$input-background: $white;

$input-disabled-text: $grey-disabled-text;
$input-disabled-background: $grey-disabled;

$input-focused-text: $grey-dark;
$input-focused-border: $grey-dark;

$input-error-text: $red;
$input-error-background: $red-light;
$input-error-border: $red;

// Radio buttons - checkbox
$radio-button-selected-border: $grey-dark;
$radio-button-selected-background: $grey-dark;
$radio-button-hover-border: $grey-dark;
$radio-button-border: $grey-light;
$radio-button-disabled-border: $grey-light;
$radio-button-disabled-background: $grey-light;
$radio-button-indeterminate-line: $grey-dark;

// Tooltip
$tooltip-text: $white;
$tooltip-background: $black-light;

// Drop-down
$dropdown-background: $white;
$dropdown-text: $grey-medium;
$dropdown-text-active: $grey-dark;
$dropdown-border: $grey-border;
$dropdown-disabled-background: $grey-disabled;
$dropdown-disabled-text: $grey-disabled-text;
$dropdown-separating: $grey-divider;
$dropdown-item-hover: $grey-item-hover;
$dropdown-item-red: $red;

// Switch
$switch-activated: $green;
$switch-deactivated: $grey-medium;
$switch-border: $grey-border;
$switch-background: $white;

// Modals
$modal-title: $black-light;
$modal-text: $grey-dark;
$modal-background: $white;
$modal-close-icon: $grey-medium;

// Texts
$text-title: $black-light;
$text-link: $green;
$text: $grey-dark;
$text-secondly: $grey-medium;
$text-small: $grey-medium;
$text-disabled: $grey-disabled-text;

// Links
$link-color: $green;

// Icons
$icon-color: $black-light;

// Tabs
$tab-on-text: $grey-medium;
$tab-on-background: $grey-lighter;
$tab-off-text: $black-light;
$tab-off-background: $white;
$tab-hover-text: $grey-medium;
$tab-hover-background: $white;

// Action buttons (top bar)
$action-button-icon: $black-light;
$action-button-icon-disabled: $grey-disabled-text;
$action-button-background: $white;
$action-button-background-hover: $black-light;
$action-button-background-pressed: $grey-pressed;
$action-button-background-disabled: $grey-disabled;

// Action buttons (aside left bar)
$aside-bar-icon: $grey-medium;
$aside-bar-icon-hover: $white;
$aside-bar-icon-active: $white;
$aside-bar-background: $black-light;
$aside-bar-background-active: $black;

// Social buttons
$facebook-button: #4573ba;
$facebook-button-hover: #5386d4;
$facebook-button-pressed: #3b629e;
$google-button: $red;
$google-button-hover: #f93940;
$google-button-pressed: #b8262b;

// Buttons
$button-disabled: $grey-disabled;
$button-disabled-text: $grey-disabled-text;

$button-primary: $green;
$button-primary-text: $white;
$button-primary-hover: #98c64a;
$button-primary-pressed: #739834;

$button-secondary: $black-light;
$button-secondary-text: $white;
$button-secondary-hover: $grey-dark;
$button-secondary-pressed: $black;

$button-tertiary: #ebebeb;
$button-tertiary-text: $black-light;
$button-tertiary-hover: #f6f5f5;
$button-tertiary-pressed: $grey-pressed;

$button-quaternary: $white;
$button-quaternary-text: $black-light;
$button-quaternary-border: $grey-light;
$button-quaternary-hover: $grey-item-hover;
$button-quaternary-pressed: $grey-pressed;

// Alerts
$alert-background: $black-light;
$alert-text: $white;
$alert-ok-icon: $green;
$alert-error-icon: $red-light;

// Toolbox
$toolbox-hardware: #b9bdc8;
$toolbox-hardware-icon: $white;
$toolbox-software-icon: $white;
$toolbox-software-zowi: #60bcc8;
$toolbox-software-components: #ce1c23;
$toolbox-software-functions: #dd5b0c;
$toolbox-software-code: #59b52e;
$toolbox-software-maths: #00c1c7;
$toolbox-software-text: #0094cf;
$toolbox-software-control: #114698;
$toolbox-software-logic: #790cd7;
$toolbox-software-class: #e10a98;

// /*------------------------------------*\
// /*------------------------------------*\
//     Penguin dependencies
// /*------------------------------------*\
// /*------------------------------------*\


// Brand colors
$brand-primary            : $green;
$brand-primary-text       : $grey-dark;
$brand-secondary          : $grey-light;
$brand-secondary-text     : $brand-secondary;

// Text
$selection-text-color-bg  : $brand-secondary;
$selection-text-color     : invert($brand-primary);

// Scaffolding
$body-bg                  : $white;
$body-color               : $brand-primary-text;

// Print
$print-text-color         : $brand-primary-text;
$print-link-visited-color : $brand-primary ;
$print-border-color       : $brand-secondary;
