.icon--big:before {
  font-size: 24px;
  padding-right: 5px;
  float: left;
  font-weight: 300;
}

.icon--url:before {
    font-family: FontAwesome;
    content: "\f0c1";
}

.icon--cloud:before {
    font-family: FontAwesome;
    content: "\f0c2";
}

.icon--desktop:before {
    font-family: FontAwesome;
    content: "\f108";
}

.icon--home:before {
    font-family: FontAwesome;
    content: "\f015";
}

.icon--windows:before {
    font-family: FontAwesome;
    content:
     "\f17a";
}

.icon--mac:before {
    font-family: FontAwesome;
    content: "\f179";
}

.icon--linux:before {
    font-family: FontAwesome;
    content: "\f17c";
}

.icon--ok:before {
    font-family: FontAwesome;
    content: "\f058";
}

.icon--no:before {
    font-family: FontAwesome;
    content: "\f057";
}

.icon--check:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.icon--chrome:before {
    font-family: FontAwesome;
    content: "\f268";
}
