.support--pane {
    min-height: 100%;
    height: 100%;

    section {
        background: #eee;
        min-height: calc(100% - 93px);
        height: calc(100% - 93px);

        .support--block {
            max-width: 1200px;
            min-height: calc(100% - 93px);
            margin: 0 auto;
            padding: 30px;
            background: #eee;

            .support--button--home {
                margin-left: -15px;
            }

            .support--icon--giga {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              font-size: 128px;
              svg {
                width: 128px;
                height: auto;
              }
            }
            .support--icon--ok {
              color: rgb(59, 145, 173);
            }
            .support--icon--no {
              color: #114698;
              svg {
                fill: #114698;
              }
            }

            .support--content {
                display: block;
                padding: 15px;
                margin: 15px;
                border: 1px dashed #d6d6d6;

                .support--tittle--centered {
                    text-align: center;
                }

                p {
                    padding: 5px;
                }

                li {
                    padding: 0 0 0 15px;
                }

                .support--next {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 5px;
                    padding: 5px;

                    span {
                        padding: 2px;

                        .btn--no {
                            background-color: #D92C32;

                            &:hover {
                                background-color: #f93940;
                            }
                        }
                    }
                }
            }
        }
    }
}
