.support--pane {
    min-height: 100%;
    height: 100%;

    section {
        background: #eee;
        min-height: calc(100% - 93px);

        .support--block {
            max-width: 1200px;
            min-height: calc(100% - 93px);
            margin: 0 auto;
            padding: 30px;
            background: #eee;

            .support--button--home {
                margin-left: -15px;
            }

            .support--icon--giga {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 128px;

                svg {
                    width: 128px;
                    height: auto;
                }
            }

            .support--icon--mid {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 90px;

                svg {
                    width: 90px;
                    height: auto;
                }

                &:before { margin:-25px -25px 0px calc(25px - 90px); }
            }

            .support--icon--si { color: $green; }
            .support--icon--naranja { color: $toolbox-software-functions; }
            .support--icon--rojo { color: $alert-error-icon; }
            .support--icon--ok { color: rgb(59, 145, 173); }
            .support--icon--no {
                color: #114698;
                svg { fill: #114698; }
            }

            .support--content {
                display: block;
                padding: 15px;
                margin: 15px;
                border: 1px dashed #d6d6d6;

                .support--tittle--centered {
                    text-align: center;
                }

                .support--ok-warning {
                  margin-top: 10px;
                  margin-bottom: 15px;
                  text-align: center;
                  span {
                    border: solid 3px rgb(59, 145, 173);
                    background-color: $grey-lighter;
                    color: rgb(59, 145, 173);
                    padding: 10px;
                    border-radius: 15px;
                  }
                }

                p {
                    padding: 5px;
                }

                li {
                    padding: 0 0 0 15px;
                }

                .support--next {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 5px;
                    padding: 5px;

                    span {
                        padding: 2px;

                        .btn--no {
                            background-color: #D92C32;

                            &:hover {
                                background-color: #f93940;
                            }
                        }
                    }
                }
            }
        }
    }
    .support--grid--2 {
      display: inline-block;
      width: 100%;
      .support--grid--2--l {
        float: left;
        width: 50%;
      }
      .support--grid--2--r {
        float: right;
        width: 50%;
      }
    }

    .support--center {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    .support--text-right {
      text-align: right;
    }

    // clone from account panel design
    .switch--chromeApp {
      color: #8c919b;
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 15px;
      input {
        margin-bottom: -2.8px;
      }
    }

    // form
    .support--form {
      form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -15px;
        margin-bottom: -15px;
        padding: 5px;
      }
      fieldset { width: 100%; }
      legend { text-align: left; }
      button, input { margin: 2px; }
    }
}
