.menu--user__center-mode {
    cursor: pointer;
    .notification-alert, .notification__title {
        pointer-events: none;
    }
}

.centerMode {
    background-color: #eeeeee;

    [class*="col-"] {
        padding-left: 0;
    }
    .svg-icon {
        fill: #373b44;
    }

    // task status
    .status-notCorrected {
        color: #dd1010;
    }

    .status-corrected, .centerMode_status_delivered {
        color: #82ad3a;
    }

    .status-mark {
        color: #373b44;
        font-weight: bold;
    }
}

.center-mode__group {
    .group__header {
        padding: 20px 30px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .tabs-layout__aside .tabs__header__item {
        border-color: #dddddd;
        &.selected--tab {
            border-top: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            &:after {
                content: '';
                display: block;
                position: relative;
                top: -3px;
                left: -40px;
                background-color: #eee;
                height: 4px;
                width: 158%;
            }
        }
        &:first-child {
            border-left: 1px solid #dddddd;
        }
    }
    .tabs-layout__content {
        border-top: 1px solid #dddddd;
    }
}

.center-mode__block {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.center-mode__table__header {
    width: 100%;
    display: table;
}

.center-mode__table__header__element-left {
    display: block;
    float: left;
    padding-bottom: 10px;
}

.center-mode__table__header__element-right {
    display: block;
    float: right;
}

.center-mode__table__header__exercise {
    top: 0;
    margin: 0;
    padding: 0 2px 2px 3px;
    width: 100%;
}

.table__block__list, .center-mode__table-title {
    &.row {
        margin: 0;
    }
    .table__item__link {
        width: 100%;
        .block__item__title {
            max-width: 95%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.center-mode__table {
    [class*="col-"]:not(:first-child) {
        text-align: center;
    }
}

.center-mode__table-title {
    padding: 0 10px;
    span:first-child {
        padding-left: 0;
    }
    [class*="col-"]:not(:first-child) {
        text-align: center;
    }
}

.center-mode__table-title--exercises {
    padding-left: 0 !important;
    padding-bottom: 5px !important;

    span {
        padding-left: 0;
    }
}

.center-mode--empty {
    text-align: center;

    .center-mode--empty__title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .center-mode--empty__info {
        color: #676a71;
    }

    &[disabled] {
        pointer-events: none;
        color: gray;

        .svg-icon {
            fill: gray;
        }
    }

    .contact-us-email {
        text-align: left;
        width: 150px;
        line-height: initial;
    }
}

.center-mode__average {
    line-height: 0.6;
    float: right;

    .average__mark {
        font-size: 40px;
        font-weight: bold;
        color: #373b44;
        display: inline;
    }

    .average__info {
        display: inline;
        color: #8c919b;
    }
}
