.explore-view {
    .explore__container {
        height          : calc(100% - 70px);
        background-color: #eee;
        display         : table;
        table-layout    : fixed;
        width           : 100%;
        position        : relative;

        .explore__toolbar {
            padding  : 20px 30px;
            max-width: 1200px;
            margin   : 0 auto;

            .explore__toolbar__container {
                height     : 35px;
                display    : table;
                width      : 100%;
                line-height: 40px;
                margin     : 0;

                .explore__tool {
                    background-color: white;
                    border-radius   : 4px;
                    border          : 1px solid #cfcfcf;
                    margin-right    : 20px;
                    min-width       : 200px;
                    position        : relative;
                    height          : 35px;
                    line-height     : 35px;
                    display         : inline-block;
                    float           : right;

                    .filter--dropdown--before {
                        &:before {
                            content         : '';
                            position        : absolute;
                            bottom          : -12px;
                            background-color: white;
                            width           : 200px;
                            left            : -1px;
                            height          : 18px;
                            border-left     : 1px solid #cfcfcf;
                            border-right    : 1px solid #cfcfcf;
                            padding         : 0;
                            margin          : 0;
                            border-bottom   : 1px solid white;
                            z-index         : 1;
                        }
                    }

                    &:first-child {
                        float: left;
                    }

                    .btn--dropdown {
                        width       : 100%;
                        margin-left : 0;
                        padding-left: 10px;
                    }

                    .explore__actions__filtered--filter {
                        &:after {
                            content          : '';
                            width            : 10px;
                            height           : 10px;
                            background-image : url('../images/icons/flecha_abajo.svg');
                            background-repeat: no-repeat;
                            background-size  : 100%;
                            position         : absolute;
                            top              : 15px;
                            right            : 10px;
                            pointer-events   : none;
                        }
                    }
                }

                .grid-list,
                .search-action {
                    background-color: transparent;
                    border          : 0;
                    min-width       : initial;
                }

                .search-action {
                    margin-right: 0;
                }
            }

            .explore__filter__dropdown {
              position: relative;
              top: 10px;
              background-color: white;
              border: 1px solid #cfcfcf;
              padding: 30px;
              border-radius: 4px;
              max-width: 1140px;
              left: 0;
              right: 0;
              display: -webkit-box;

                .explore__filter__list {
                    .explore__filter__item {
                        float: left;

                        .filter__title {
                            margin-bottom: 10px;
                            color        : #373b44;
                            font-size    : 16px;
                            font-weight  : 700;
                        }

                        .filter__option {
                            float        : left;
                            width        : 20%;
                            margin-bottom: 10px;
                            font-size    : 13px;
                            font-weight  : 400;
                            display      : block;
                            max-width    : 100%;
                            padding-right: 20px;

                            label {
                                display      : block;
                                margin-top   : -21px;
                                margin-bottom: -21px;
                                text-overflow: ellipsis;
                                white-space  : nowrap;
                                overflow     : hidden;

                                span {
                                    margin-left: 5px;
                                }

                                input {
                                    width         : 13px;
                                    height        : 13px;
                                    padding       : 0;
                                    margin        : 0;
                                    vertical-align: bottom;
                                    position      : relative;
                                    top           : -3px;
                                    *overflow     : hidden;
                                }
                            }
                        }

                        &:nth-child(1) {
                            .input--checkbox {
                                input {
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    .explore__actions__filtered--generics,
                    .explore__actions__filtered--boards {
                        .filter__option {
                            width: 100%;
                        }
                    }

                    .explore__actions__filtered--generics {
                        width: 18%;
                    }

                    .explore__actions__filtered--boards {
                        width: 15%;
                    }

                    .explore__actions__filtered--components {
                        width: 67%;
                    }
                }
            }
        }

        .explore__projects__container {
            max-width: 1200px;
            margin   : 0 auto;

            .projects__project-list {
                .project-list__item {
                    .project--item {
                        border-radius: 4px;
                        overflow     : hidden;
                        cursor       : default;

                        &:hover {
                            .img-container {
                                &:before {
                                    background-color: rgba(0, 0, 0, 0.5);
                                }

                                .more-info {
                                    transform: translateY(125px);
                                }
                            }
                        }

                        .img-container {
                            background-color: #dadada;

                            &:before {
                                content   : '';
                                position  : absolute;
                                top       : 0;
                                left      : 0;
                                width     : 100%;
                                height    : 100%;
                                transition: background-color 250ms;
                                z-index   : 2;
                            }
                            height          : 190px;
                            overflow        : hidden;
                            position        : relative;

                            img {
                                width     : 100%;
                                height    : 100%;
                                object-fit: cover;
                                position  : relative;

                                &:after {
                                    content          : '';
                                    width            : 30px;
                                    height           : 30px;
                                    position         : absolute;
                                    background-image : url('../images/icons/loadr.svg');
                                    background-size  : 30px;
                                    left             : 0;
                                    top              : 0;
                                    -webkit-animation: spin 1s infinite;
                                    animation        : spin 1s infinite;
                                    background-repeat: no-repeat;
                                    bottom           : 0;
                                    right            : 0;
                                    margin           : auto;
                                    display          : block;
                                }
                            }

                            .more-info {
                                position       : absolute;
                                top            : -50px;
                                left           : 0;
                                right          : 0;
                                margin         : auto;
                                width          : 160px;
                                text-decoration: none;
                                transition     : transform 250ms, background-color 250ms;
                                z-index        : 3;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }

                        .project__info__footer {
                            overflow: auto;
                            background-color: white;

                            [data-element="explore-project-name"] {
                                text-overflow: ellipsis;
                                overflow     : hidden;
                                width        : 100%;
                                white-space  : nowrap;
                                padding      : .5em;
                                cursor       : default;
                            }

                            p {
                                display      : inline-block;
                                width        : 50%;
                                padding      : .5em;
                                overflow     : hidden;
                                text-overflow: ellipsis;
                                float        : left;
                                color        : #8c919b;
                                font-size    : 12px;
                                white-space  : nowrap;

                                span {
                                    color         : #82ad3a;
                                    font-size     : 12px;
                                    text-transform: capitalize;
                                    cursor        : default;
                                }
                            }

                            .stats {
                                display   : inline-block;
                                padding   : .5em;
                                float     : right;
                                width     : 50%;
                                text-align: right;

                                .explore__project-item__icon {
                                    margin-right: 5px;
                                    color       : #cfcfcf;

                                    .svg-icon {
                                        width : 11px;
                                        height: 11px;
                                    }
                                }
                            }
                        }
                    }
                }

                .project--item--wide {
                    width           : 100%;
                    height          : 133px;
                    max-height      : 133px;
                    margin-bottom   : 1em;
                    background-color: white;
                    padding-right   : 0;

                    &:hover {
                        .more-info {
                            transform: translateY(100px)!important;
                        }
                    }

                    .description {
                        display           : -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow          : hidden;
                        height            : 65px;
                        padding-left      : 10px;
                        padding-right     : 10px;
                        color             : #8c919b;
                        font-size         : 12px;
                        font-weight       : 400;
                        line-height       : 20px;
                    }

                    .img-container {
                        width : 200px;
                        height: 133px!important;
                        float : left;
                    }

                    .project__info__footer {
                        float        : left;
                        width        : calc(100% - 200px);
                        height       : 133px;
                        padding-left : 10px;
                        padding-right: 10px;
                    }

                    .project--item {
                        .project__info__footer {
                            p{
                                padding:0;
                            }
                            .stats{
                                padding:0;
                            }
                        }
                    }
                }
            }
        }
    }

    .explore__projects__container--wide {
        padding-right: 20px;
    }
}
