$color: #f1c933;
$color_hover: #f19833;
$hw_toolbox: 210px;

/* hardware toolbox */

.container-default {
    pointer-events: auto;
    padding: 10px;
    margin-left: 1em;
    .name {
        padding: 5px;
        font-weight: lighter;
    }
}

.sidebar-filter-list {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: calc(90% - 54px);
    background-color: #fff;
    overflow: auto;
    .sidebar-filter-title {
        padding: 0.5em;
        text-align: left;
        padding: 1em 0 1em 20px;
        border-bottom: 1px solid #edf1f2;
    }
    .sidebar-filter-element {
        margin: 1em;
        .name {
            font-weight: lighter;
        }
    }
}

.hw-toolbox-container {
    width: #{$hw_toolbox};
    float: right;
    .components-list {
        .component-container {
            @extend .container-default;
            .component-image {
                max-width: 60%;
            }
        }
    }
    .boards-list {
        .board-container {
            @extend .container-default;
            .board-image {
                width: 80%;
            }
        }
    }
    .robots-list {
        .robot-container {
            @extend .container-default;
            .board-image {
                width: 80%;
            }
        }
    }
}

.hw-context-menu {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    &.open {
        display: block;
    }
    .menu {
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
        background-color: white;
        hr {
            border: 1px solid #ddd;
        }
        .menu__item {
            &:hover {
                background-color: #ebebeb;
            }
            button {
                padding: 15px;
            }
        }
    }
}

.protocanvas {
    float: left;
    height: 100%;
    width: calc(100% - #{$leftBarWidth + $hw_toolbox});
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    &.dragging-over {
        &.dragging-component {
            .name--container {
                opacity: 0;
            }
            .component__container {
                border: 5px solid $color;
                &.component__container--pseudovisible {
                    border: 4px dashed $color;
                    opacity: 0.5;
                    .component__message {
                        opacity: 0;
                    }
                }
                &.component__container--visible {
                    border: 4px dashed $color;
                    .component__message {
                        opacity: 1;
                    }
                }
            }
        }
        &.dragging-board {
            .board {
                outline: 4px dashed $color !important;
            }
        }
    }
    .name--container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 7;
        .component-name__container {
            opacity: 0;
            border-left: 2px solid $color;
            border-right: 2px solid white;
            border-radius: 4px;
            box-shadow: 0 0 0 2px $color;
            background-color: white;
            margin-top: 3%;
            height: 38px;
            .form--input--reset {
                border: none;
                outline: none;
                min-height: inherit;
                max-height: inherit;
                height: inherit;
                width: inherit;
            }
            .component-name__label {
                color: #000;
                font-weight: 900;
                padding: 8px 10px;
                background-color: $color;
                display: inline-block;
                white-space: nowrap;
            }
            .component-name__input {
                padding: 8px 10px;
                min-width: 130px;
            }
            .input--checkbox__oscillator {
                display: flex;
                align-items: center;
                margin: 0;
                .oscillator--checkbox {
                    vertical-align: inherit;
                    margin: 0 8px;
                }
            }
            .baudrate__container {
                display: flex;
                align-items: center;
                .baudrate__dropdown {
                    width: 115px;
                    display: inline-block;
                    vertical-align: middle;
                    .form--select {
                        border: none;
                    }
                }
            }
        }
    }
    .component__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 85%;
        height: 90%;
        opacity: 0;
        z-index: -1;
        &.component__container--visible {
            opacity: 0.4;
            border: 4px dashed #c0c3c9;
        }
        .component__message {
            margin-top: 5%;
            font-size: 1.5em;
            text-align: center;
            color: black;
            align-self: baseline;
        }
    }
    .component__container,
    .board,
    .robot {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .board,
    .robot {
        display: none;
        &.opaque {
            display: flex;
        }
    }
    .robot {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f3f3f3;
        height: 265px;
        width: 355px;
        outline: 4px dashed #c0c3c9;
        &.zowi {
            background-image: url(/images/robots/zowi.svg);
            background-color: transparent;
            height: 50%;
        }
        &.evolution {
            background-image: url(/images/robots/evolution.svg);
            background-color: transparent;
            height: 50%;
        }
        &.mBot {
            background-image: url(/images/robots/mBot.svg);
            background-color: transparent;
            height: 50%;
        }
        &.robot--selected {
            outline: 4px solid $color !important;
            background-color: transparent;
        }
        &.robot--present {
            outline: none;
            .board__message {
                opacity: 0;
            }
        }
        .board__message {
            color: #000;
            font-size: 1.5em;
            display: flex;
            align-self: center;
            opacity: 0.4;
        }
    }
    .board {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f3f3f3;
        height: 265px;
        width: 355px;
        outline: 4px dashed #c0c3c9;
        &.board--selected {
            outline: 4px solid $color !important;
            background-color: transparent;
        }
        &.board--present {
            outline: none;
            .board__message {
                opacity: 0;
            }
        }
        .board__message {
            color: #000;
            font-size: 1.5em;
            display: flex;
            align-self: center;
            opacity: 0.4;
        }
        //Boards
        &.bqZUM {
            background-image: url(/images/boards/bqZUM.svg);
            background-color: transparent;
        }
        &.FreaduinoUNO {
            background-image: url(/images/boards/FreaduinoUNO.svg);
            background-color: transparent;
        }
        &.ArduinoUNO {
            background-image: url(/images/boards/ArduinoUNO.svg);
            background-color: transparent;
        }
        &.mCore {
            background-image: url(/images/boards/ArduinoUNO.svg);
            background-color: transparent;
        }
    }
    .component {
        position: absolute;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgb(170, 170, 170) 0 0 5px 1px;
        z-index: 3;
        &.component-selected,
        &.jsplumb-dragged {
            box-shadow: 0 0 0 2px $color;
            z-index: 4;
            cursor: grabbing;
            /* fallback if grab cursor is unsupported */
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    }
    /* ** styles for jsplumb ** */
    /* jsPlumb connector styles */
    .jsplumb-connector {
        cursor: pointer;
        &.jsplumb-hover,
        &.selected {
            z-index: 4;
        }
    }
    /* jsPlumb endpoint styles */
    .jsplumb-endpoint {
        z-index: 3;
        cursor: pointer;
        border-radius: 10px;
        &.board_ep {
            opacity: 0;
        }
        &.jsplumb-hover,
        &.selected {
            z-index: 5;
            opacity: 1;
        }
        &.dragActive {
            opacity: 0.6;
            background-color: $color_hover !important;
        }
        &.dragHover {
            opacity: 0.6;
            background-color: $color_hover !important;
        }
        &.dropHover {
            opacity: 1;
        }
        &.jsplumb-drag {
            opacity: 1 !important;
            background-color: $color_hover !important;
        }
        &.jsplumb-endpoint-connected {
            background-color: $color;
            outline: none;
            opacity: 1;
            + .jsplumb-overlay {
                background-color: $color_hover !important;
            }
        }
        &.component_endpoint {
            outline: none !important;
        }
    }
    /* jsPlumb overlay styles */
    .jsplumb-overlay {
        z-index: 2;
        transition: opacity 80ms ease-in;
        opacity: 0;
        &.jsplumb-hover {
            transition: opacity 80ms ease-in;
            opacity: 1;
            font-size: 1em;
            padding: 2px 4px;
            background-color: $color;
        }
    }
}