.svg-icon-logo {
    fill: white;
    background-color: #82ad3a;
    width: 70px;
    height: 70px;
    padding: 20px;
    transition: background-color 250ms;

    &:hover {
        background-color: #5b7929;
    }
}

.header {
    display: flex;
    position: absolute;
    background-color: $font-color-heading;
    width: 100%;
    z-index: 9;
    opacity: 1;
    transition: all 250ms;

    .nav--main {
        display: flex;
        max-height: 70px;
    }

    .nav__menu .nav__menu__item--selected {
        span {
            color: white;
        }
        svg {
            fill: white;
        }
    }

    .menu {
        display: flex;
        height: 70px;

        .nav__menu:not(.menu--overlay) {
            display: flex;
            align-items: center;
            padding: 0 15px;
        }
    }

    .nav__menu__item {
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;

        .svg-icon {
            fill: #676a71;
            width: 18px;
            height: 18px;
        }
    }

    .nav__menu__link {
        text-decoration: none;
        display: block;
        font-weight: bold;

        span {
            color: #676a71;
        }

        &:hover span {
            color: white;
        }

        &:hover .svg-icon {
            fill: white;
        }

        &:hover {
            text-decoration: none;
        }
    }

    /*
    * Menu user
     */

    .menu--user {
        width: 400px;
        display: flex;
        flex: 0 auto;
        align-content: center;
        height: 70px;
        align-items: center;
        color: white;
        position: absolute;
        right: 0;
        order: 0;
    }

    .menu--user__header {
        display: flex;
        position: absolute;
        right: 25px;
        order: 0;

        &:hover {
            cursor: default;
        }

        .btn--dropdown {
            color: white;
            font-weight: bold;
        }

        .svg-icon--dropdown {
            width: 10px;
            fill: white;
            margin-left: 1em;
            position: relative;
            top: 2px;
            order: 1;
        }

        .img--avatar {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }

    .menu--user__avatar {
        order: 2;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: white;
        margin-left: 1em;
        position: relative;
    }

    .menu--user__content {
        position: absolute;
        right: 15px;
        top: 70px;
        background-color: #373b44;
        width: 220px;
        z-index: -1;

    }

    .menu--user__item {
        cursor: pointer;
        border-bottom: 1px solid #797c81;
        font-size: 12px;
        height: 40px;
        line-height: 24px;

        &:first-child {
            color: white;
            font-weight: bold;
            text-transform: capitalize;
            padding-left: 1em;
            cursor: default;
            font-size: 14px;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 40px;
            border-top: 1px solid #797c81;
            font-style: italic;

            &:hover {
                background-color: #373b44;
            }
        }

        &:nth-child(4) {
            background-color: #262930;

            .svg-icon {
                fill: #f33;
            }

            a, button {
                color: #f33;
            }
        }

        &:hover {
            background-color: #26292f;
        }

        .svg-icon {
            width: 1em;
            margin-left: .5em;
            fill: white;
        }

        a, button {
            color: white;
            text-decoration: none;
            display: block;
            height: 100%;
            padding: .5em;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 25px;
            width: 100%;
            text-align: left;
        }
    }
}

.header--relative {
    position: relative;
}

.header--transparent {
    opacity: 0;
    visibility: hidden;
}

.header--outofrange {
    transform: translate3d(0, -70px, 0);
}

.change-language--container {
    width: 200px;

    .change-language-span {
        margin-bottom: 1em;
        display: block;
    }
}

.modal-send-comments--container {
    p {
        margin-bottom: 2em;
    }

    .form--input {
        margin-bottom: 1em;
        width: 100%;
        max-width: none;

        input {
            width: 200px;
        }

        &.short--input {
            width: 202px;
        }
    }
}
