$faqlistWidth: 300px;
$changeLogsAsideWidth: 228px;

.help--ru {
    .faq__aside {
        .faq--feedback {
            button, a {
                min-height: 0;
                max-height: 100px;
            }
        }
    }
}

.help--view {
    .faqs {
        .faq--list {
            width: calc(100% - #{$faqlistWidth});
            display: block;
            float: left;
            padding: 30px 20px 30px 30px;

            .faq--item {
                background-color: white;
                margin-bottom: 10px;
                border-radius: 4px;
                overflow: hidden;

                .item--container {
                    height: 50px;
                    line-height: 50px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-bottom: 1px solid #eee;
                    font-weight: 700;
                    font-size: 16px;
                    cursor: default;

                    .svg-icon {
                        width: 11px;
                        height: 11px;
                        margin-right: 10px;
                    }
                }

                .faq--answer {
                    cursor: default;
                    padding: 20px;
                }

                .faq--item--title {
                    cursor: pointer;
                }
            }
        }

        .faq__aside {
            display: block;
            width: $faqlistWidth;
            float: right;
            padding-right: 30px;

            .faq--feedback {
                background-color: white;
                border-radius: 4px;
                overflow: hidden;
                padding: 10px 20px 20px;
                margin-top: 30px;

                .faq--feedback--title {
                    cursor: default;
                }
            }

            a {
                width: 100%;
            }

            span {
                font-size: 16px;
                font-weight: 700;
            }

            p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .changelogs {
        line-height: 28px;

        .changelogs__versions {
            height: 100%;
            width: $changeLogsAsideWidth;
            float: left;
            background-color: #ddd;
            padding: 20px;

            .bugs--list {
                li {
                    cursor: pointer;
                }
            }
        }

        .changelogs__items__container {
            width: calc(100% - #{$changeLogsAsideWidth});
            float: right;
            padding: 20px;

            .changelogs__item {
                &:before {
                    content: '-';
                    padding-right: 5px;
                }
                cursor: default;
            }

            .changelogs__item__title {
                color: #6a6d75;
                font-size: 16px;
                font-weight: 700;
                cursor: default;
            }
        }
    }
}

.contact-us-link {
    text-decoration: underline;
    color: $font-color-base;

    &:hover {
        cursor: pointer;
    }
}

.need-help {
    font-weight: bold;
}
