.contact-us-link {
    text-decoration: underline;
    color: $font-color-base;

    &:hover {
        cursor: pointer;
    }
}

.need-help {
    font-weight: bold;
}

.help__title-tab {
    color: #8c919b;
    &:hover, &:focus {
        text-decoration: none;
        color: #373b44;
    }
}
