.view--landing--howitworks {
    .landing--masthead {
        @include landingMasthead('../images/landing/home_background.jpg');
        padding-bottom: 85px;
        text-align: center;
        h1 {
            @include textGenerator(40px, 400, white, auto, 584px, false);
            padding-top: 100px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }
    .masthead__buttons {
        max-width: 1200px;
        margin: 35px auto 0 auto;
        text-align: center;
        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
    }
    .landing--howitworks-oval {
        display: inline-block;
        text-align: center;
        margin: 0 20px;
        h2 {
            font-size: 24px;
            margin-top: 25px;
            font-family: $font-family-base;
            color: white;
        }
        &.first {
            float: left;
            max-width: 200px;
        }
        &.third {
            float: right;
            max-width: 200px;
        }
        &.second {
            max-width: 300px;
        }
    }

    .download-button {
        margin-top: 55px;
        display: block;
    }
    .landing--downloads {
        text-align: center;
        margin-bottom: 30px;
        cursor: default;
        .landing--requirements {
            padding-top: 70px;
            padding-bottom: 40px;
            max-width: 1000px;
            margin: 0 auto;
            font-size: 13px;
            .h3 {
                font-size: 13px;
                font-weight: bold;
            }
        }
        h2 {
            color: $black-light;
            font-size: 30px;
            font-weight: 500;
            padding-top: 70px;
            padding-bottom: 70px;
        }
        li {
            margin-bottom: 20px;
            &:not(:first-child):not(:last-child) {
                border-right: 1px solid $grey-lighter;
                border-left: 1px solid $grey-lighter;
            }
            i {
                font-size: 35px;
                font-weight: 400;
                color: $grey-medium;
            }
            h3 {
                color: $black-light;
                font-size: 20px;
                font-weight: 700;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .download--link {
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                span {
                    @include textGenerator(12px, 400, $grey-light, 24px, 100%, false);
                    float: left;
                }
                a {
                    float: left;
                    color: $green;
                    font-weight: 400;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
                &:after {
                    content: " ";
                    display: block;
                    clear: both;
                }
            }
        }
    }
    .landing--offline {
        text-align: center;
        padding: 70px 0;
        h2 {
            font-size: 30px;
        }
        p {
            max-width: 700px;
            margin: 0 auto;
            line-height: 40px;
        }
        a {
            margin-top: 5px;
            display: block;
        }
    }
}

