@import "vendors/ngDialog-custom";
@import "vendors/loading-bar";
@import "vendors/ng-tags-input";
// Base: Reset
@import "../../bower_components/penguin/src/css/base/_reset";
// Base: Variables
@import "_variables";
// Base: Variables
@import "components/_variables";
// Base: Mixins
@import "../../bower_components/penguin/src/css/base/_mixins";
// Base: Scaffolding
@import "../../bower_components/penguin/src/css/base/_scaffolding";
// Base: Utils
@import "../../bower_components/penguin/src/css/base/_utils";
// Base: Responsive utilities
@import "../../bower_components/penguin/src/css/base/_responsive";
// Base: Grid system
@import "../../bower_components/penguin/src/css/base/_grid";
// Components: Button
@import "../../bower_components/penguin/src/css/components/_button";
//commons
@import "globals";
@import "common";
@import "alerts";
@import "vendors/prism";
// Base: components
@import "components/_modals.scss";
@import "components/_buttons.scss";
@import "components/_cookies.scss";
@import "components/_forms.scss";
@import "components/_text.scss";
@import "components/_tooltips.scss";
@import "components/_icons.scss";
@import "components/_serial.scss";
@import "components/_dropdowns.scss";
//components
@import "components/_tabs-layout";
@import "styleguide";
@import "notFound";
@import "landing";
@import "landing-header";
@import "landing-features";
@import "landing-downloads";
@import "landing-aboutus";
@import "landing-help";
@import "landing-offline";
@import "landing-howitworks";
@import "explore";
@import "login";
@import "resetPassword";
@import "infotab";
@import "bloqsproject";
@import "bloqstab";
@import "header";
@import "projects";
@import "account";
@import "project";
@import "learn";
@import "unsupported";
@import "toolbox";
@import "statictexts";
@import "forum";
@import "web2board-settings";
@import "componentInteraction";
@import "under14authorization";
// Components: hwTab
@import "hardwaretab";
// Components: Draggable
@import "components/_draggable";
@import "code";
@import "old-version-masthead";
// Override vendors
@import "vendors/_bloqs";
// admin user
@import "adminUser";
// Banners
@import "banners/campamentos2016";
//modals
@import "modals/_serialMonitor.scss";
@import "modals/_plotterMonitor.scss";
@import "modals/_viewerMonitor.scss";
