@import "vendors/ngDialog-custom";
@import "vendors/loading-bar";
@import "vendors/ng-tags-input";
// Base: Reset
@import "../../bower_components/penguin/src/css/base/_reset";
// Base: Variables
@import "_variables";
// Base: Variables
@import "components/_variables";
// Base: Mixins
@import "../../bower_components/penguin/src/css/base/_mixins";
// Base: Scaffolding
@import "../../bower_components/penguin/src/css/base/_scaffolding";
// Base: Utils
@import "../../bower_components/penguin/src/css/base/_utils";
// Base: Responsive utilities
@import "../../bower_components/penguin/src/css/base/_responsive";
// Base: Grid system
@import "../../bower_components/penguin/src/css/base/_grid";
// Components: Button
@import "../../bower_components/penguin/src/css/components/_button";
//commons
@import "globals";
@import "common";
@import "alerts";
@import "vendors/prism";
// Base: components
@import "components/_modals.scss";
@import "components/_buttons.scss";
@import "components/_cookies.scss";
@import "components/_dropdowns.scss";
@import "components/_forms.scss";
@import "components/_text.scss";
@import "components/_tooltips.scss";
@import "components/_icons.scss";
@import "components/_serial.scss";
//components
@import "components/_tabs-layout";
// View: Style Guide
@import "styleguide";
// View: Style Guide
@import "notFound";
// View: Landing
@import "landing";
// View: Landing header
@import "landing-header";
// View: Landing features
@import "landing-features";
// View: Landing downloads
@import "landing-downloads";
// View: Landing about us
@import "landing-aboutus";
// View: Landing help
@import "landing-help";
// View: Landing offline
@import "landing-offline";
// Banners
@import "banners/campamentos2016";
// View: Explore
@import "explore";
// View: Login
@import "login";
// View: Recovery Password
@import "resetPassword";
// View: Make -- Info tab
@import "infotab";
// View: Make
@import "bloqsproject";
@import "bloqstab";
// View: Header
@import "header";
// View: Projects
@import "projects";
// View: account
@import "account";
// View: project
@import "project";
// View: help
@import "help";
// View: unsupported
@import "unsupported";
// View: toolbox
@import "toolbox";
// View: termsandcookies
@import "statictexts";
// View: forum
@import "forum";
// View: web2board-settings
@import "web2board-settings";
// Components: hwTab
@import "hardwaretab";
// Components: Draggable
@import "components/_draggable";
// View: codeproject
@import "code";
@import "old-version-masthead";
// Override vendors
@import "vendors/_bloqs";
// admin user
@import "adminUser";
