.projects--actions {
    height: 40px;
    display: table;
    width: 100%;
    line-height: 40px;
    margin: 0;
    padding: 20px 0;

    .btn--projects--actions {
        cursor: pointer;
    }

    .projects--action {
        margin-right: 20px;
        display: block;
        float: left;

        input {
            line-height: 30px;
        }

        &:last-child {
            float: right;
            margin-right: 0;
        }
    }
}

.projects--action--sort {
    width: 190px;
}

.svg-icon--aside--menu {
    position: relative;
    top: 1px;
    width: 18px;
    height: 15px;
    margin-right: 0.5em;
    margin-top: -4px;
}

.projects__paginator {
    margin-top: 20px;
    margin-bottom: 50px;
}

.projects__project-list {
    position: relative;
    width: calc(100% + 20px);

    .project--item {
        box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.25);
        transition: box-shadow;
        cursor: default;
    }

    .project-list__item {
        border-radius: 4px;
        position: relative;
        height: 265px;
        display: inline-block;
        margin: 10px 0;
        padding-right: 20px;

        .my-project__options {
            position: absolute;
            top: 0px;
            right: 20px;
            height: 370px;
            width: 254px;
            &.active-options {
                z-index: 2;
            }
        }

        .my-project__options-container {
            position: relative;
            left: 5px;
            top: 41px;
            width: 242px;
            border-radius: 4px;
            box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
            border: solid 1px #cfcfcf;
        }

        .my-project__button-options {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 8px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 250ms;
            z-index: 2;
            width: 35px;
            height: 35px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px #cfcfcf;
            text-align: center;

            .svg-icon {
                fill: #373b44;
                -ms-transform: rotate(90deg); /* IE 9 */
                -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
                transform: rotate(90deg);
                width: 17px;
                height: 33px;
            }
        }

        &:hover {
            .my-project__button-options {
                visibility: visible;
                opacity: 1;
            }
            .project__image__container {
                &:before {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            .project__info__header h3 {
                color: #82ad3a;
            }
            & ~ .project-list__item {
                pointer-events: none;
            }
        }

        .project__image__container {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color 250ms;
                z-index: 2;
            }
            height: 190px;
            position: relative;
            overflow: hidden;
            background-color: #dadada;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
        }

        .project__image__open {
            display: block;
            height: 100%;
            position: relative;
        }

        .project__info__container {
            height: 75px;
            background-color: white;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .project__info__header {
            transition: transform 250ms;
            height: 75px;
            background-color: white;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;

            h3 {
                display: inline-block;
                width: 100%;
                padding: 0.5em;
                font-size: 16px;
                font-weight: 700;
                color: #373b44;
                padding-bottom: 0;
                height: 40px;
                max-width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .project__info__header__data {
                transition: opacity 250ms;
                padding: 0 0.5em;
                overflow: auto;

                time {
                    width: 97px;
                    color: #8c919b;
                    font-size: 12px;
                    font-weight: 400;
                    display: inline-block;
                    float: left;
                }

                p {
                    display: inline-block;
                    float: left;
                    font-size: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-right: 10px;

                    span {
                        color: $brand-primary;
                        font-size: 12px;
                        text-transform: capitalize;
                    }

                    &.shared-project__into__username {
                        width: 27%;
                    }
                }

                .shared-project__into__intro-date {
                    float: left;

                    p {
                        overflow: initial;
                        margin-right: 6px;
                    }
                }
            }

            .project__info__header__icons {
                display: inline-block;
                float: right;

                .svg-icon {
                    width: 13px;
                    height: 15px;
                }
            }
        }

        .project__footer {
            border-top: 1px solid #eee;
            padding-top: 1em;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            transform: translateY(30px);
            position: relative;

            .footer__icons--left {
                display: inline-block;
                float: left;
                width: 50%;
                padding-left: 0.5em;
            }

            .footer__addtomyprojects {
                display: block;
                float: left;
                padding-left: 10px;
                max-width: 100%;
                width: 100%;

                .project--footer--icon {
                    display: inline-block;
                    margin-right: 0.5em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 97%;
                    overflow: hidden;

                    .svg-icon {
                        vertical-align: text-top;
                    }
                }

                span {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                }
            }

            .footer__icons--right {
                padding-right: 0.5em;
                display: inline-block;
                float: right;
                width: 50%;
                text-align: right;
            }

            .project--footer--icon--general {
                display: inline-block;
                margin-right: 0.5em;
                @extend .handcursor;

                .svg-icon {
                    width: 13px;
                    height: 15px;
                    fill: #3b3e45;
                }
            }

            .project--footer--icon--publish {
                @extend .handcursor;

                &[disabled] {
                    pointer-events: none;
                    color: gray;

                    .svg-icon {
                        fill: gray;
                    }
                }

                .svg-icon {
                    //  pointer-events: none;
                    width: 13px;
                    height: 15px;
                    fill: #3b3e45;
                }
            }

            .project--footer--icon {
                display: inline-block;
                margin-right: 0.5em;
                @extend .handcursor;

                &[disabled] {
                    pointer-events: none;
                    color: gray;

                    .svg-icon {
                        fill: gray;
                    }
                }

                .svg-icon {
                    pointer-events: none;
                    width: 13px;
                    height: 15px;
                    fill: #3b3e45;
                }
            }
        }

        &.project__item--wide {
            width: 100%;
            height: 133px;
            max-height: 133px;
            margin-bottom: 1em;

            .project--item--wide {
                height: 133px;
            }

            .project__image__container--wide {
                height: 133px;
                width: 196px;
                display: inline-block;
                float: left;
            }

            .project__info__container--wide {
                margin-top: 0;
                display: inline-block;
                width: calc(100% - 197px);
                height: 100%;
            }

            .project__info__header--wide {
                height: 100%;
                min-height: 100%;
                transform: translateY(-12px);
                padding: 1em;
                transition: height 250ms;

                h3 {
                    transform: translateY(0);
                    padding: 0.1em;
                    margin-top: 0;
                }

                .project__info__header__data {
                    width: 100%;
                    height: 15px;
                    line-height: 17px;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    padding: 1em;
                    overflow: hidden;
                }

                .project__info--description {
                    height: 35px;
                    color: #8c919b;
                    overflow: hidden;
                    margin-top: -20px;
                    font-size: 12px;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            }

            .project__footer--wide {
                transform: translateY(90px);
                background-color: white;
                padding-top: 0.8em;
            }
        }
    }
}

.project--item--code {
    position: absolute !important;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(55, 59, 68, 0.2);
    border-radius: 3px;
    text-align: center;

    .svg-icon {
        vertical-align: text-top;
        fill: white;
        width: 15px;
        height: 24px;
        line-height: 15px;
    }
}

.new--project {
    text-decoration: none;
    margin: 0 auto;
    display: block !important;

    .project--item {
        cursor: pointer;
        height: 260px;
        background-color: white;

        h3 {
            padding: 0.5em;
        }

        .project__image__container--new {
            height: 190px;
            background-color: #373b44;
            position: relative;
            padding: 0.5em;

            .svg-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 62px;
                height: 62px;
                fill: white;
            }
        }
    }
}

.projects--view {
    .tabs-layout__aside {
        box-sizing: content-box;
    }

    .tabs-layout__aside,
    .tabs-layout__content {
        padding: 0 30px;
    }
}

.project-list__item {
    &.new--project {
        &:hover {
            text-decoration: none;
        }
    }
}

.btn--publish {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 485px) {
    .project-list__item {
        width: 100%;
    }
}

@media only screen and (min-width: 486px) and (max-width: 700px) {
    .project-list__item {
        width: 50%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1183px) {
    .project-list__item {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1184px) {
    /* Styles */
    .project-list__item {
        width: 25%;
    }
}

.project-search--empty,
.project-shared--empty {
    text-align: center;
    padding: 4%;

    .svg-icon {
        width: 12em;
        height: 12em;
    }

    .empty__info {
        color: #b9bdc8;
        font-size: 2em;
        font-weight: bold;
    }
}
