.main--static-text {
    overflow: auto;
    height: 100%;
    .main--title {
        height: 60px;
        line-height: 60px;
        margin: 1em;
        &::first-letter {
            text-transform: capitalize;
        }
    }
    section {
        padding-left: 2em;
        padding-right: 2em;
        margin-bottom: 2em;
    }
    p {
        padding: 0.5em;
    }
    a {
        color: $green;
    }
    ul {
        list-style: inherit;
        margin-left: 3em;
    }
}