.sample--heading {
    background-color: brand-primary;
    padding: .5em;
    display: inline-flex;
}

.sample--container {
    padding: 1em;	
}

.sample--label {
	margin-right: 1em;
	line-height: 35px;
}

.sample--item {
	margin-bottom: 1em;
	display: block;
}