$softwareToolboxWidth: 210px;
$softwareToolboxLevel2Width: 530px;
$softwareToolboxSpaceBetweenLevels: 50px;
$makeHeaderPlusMakeActions: 110px;

.btn--toolbox {
    position: relative;
    max-height: 60px;
    height: 10%;
    width: 100%;
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #edf1f2;
    padding-left: 2em;
    line-height: 20px;

    &:first-child {
        border-top: none;
    }

    &.btn--advanced {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 4;
        border-top: 1px solid #edf1f2;
    }
}

.level--1--shadow,
.level--2--shadow {
    position: absolute;
    height: 100%;
    width: 600px;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 250ms;
    transform: translate3d(600px, 0px, 0);
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.level--shadow--active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
}

.level--active {
    &.trash {
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            background-image: url('../images/trash.jpg');
            display: block;
            top: 0;
            right: 0;
            z-index: 3;
            background-position: 40% 40%;
            background-repeat: no-repeat;
            animation-name: fadeIn;
            animation-duration: 250ms;
        }
    }
}

.level--1 {
    z-index: 1;

    .level--1--shadow {
        background-color: rgba(55, 59, 68, 0.7);
    }

    &.level--active {
        z-index: 3;
        transform: translate3d(0px, 0px, 0);
        overflow: auto;
        overflow-x: hidden;
        height: calc(100% - #{$makeHeaderPlusMakeActions});
    }

    &.level--inactive--1 {
        transform: translate3d(-315px, 0, 0);
        border-bottom: 1px solid rgba(55, 59, 68, 0.7);
    }

    &.level--inactive--2 {
        transform: translate3d(-365px, 0, 0);
        border-bottom: 1px solid rgba(55, 59, 68, 0.7);
    }
}

.level--2 {
    z-index: 2;
    min-width: $softwareToolboxLevel2Width;
    transform: translate3d($softwareToolboxWidth, 0px, 0);

    .level--2--shadow {
        background-color: rgba(55, 59, 68, 0.4);
        pointer-events: all;
        z-index: 2;
    }

    .btn--toolbox {
        width: 90%;
    }

    &.level--active {
        height: calc(100% - 106px);
        overflow: hidden;
        transform: translate3d($softwareToolboxSpaceBetweenLevels, 0px, 0);
        z-index: 8;
    }

    &.toolbox--collapsed {
        height: calc(100% - 40px);
    }

    &.level--inactive--1 {
        transform: translate3d($softwareToolboxSpaceBetweenLevels, 0, 0);
        .bloq:not(.bloq--group) {
            z-index: 2;
        }
    }
}

.level--3 {
    z-index: 3;
    transform: translate3d($softwareToolboxLevel2Width, 0px, 0);

    &.level--active {
        height: calc(100% - 106px);
        overflow: hidden;
        transform: translate3d($softwareToolboxSpaceBetweenLevels, 0px, 0);
        z-index: 9;
    }

    &.toolbox--collapsed {
        height: 100%;
    }
}
