.under14authorization-view {
    height: 100%;
    overflow: auto;
    form {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        .form-control {
            &:last-child {
                text-align: left;
            }
            .submit {
                &:last-child {
                    text-align: center;
                }
                text-align: center;
                input {
                    text-transform: capitalize;
                }
            }
        }
    }
    input, button {
        text-transform: capitalize;
    }
}