<div class="table__main">
    <div class="breadcrumb" data-element="centerMode-header-breadcrumb">
        <h1><a href="#/center-mode/center">{{'centerMode_teacher' | translate}}</a></h1>
        <p ng-if="secondaryBreadcrumb" class="breadcrumb--secondary" ng-href="#/center-mode/{{teacher._id}}">{{teacher.name}}</p>
    </div>
    <button ng-if="urlType==='center'" data-element="centerMode-new-teacher-button" class="btn btn--primary btn--small" ng-click="newTeacher()">
        <svg class="svg-icon">
            <use xlink:href="#plus"></use>
        </svg>
        <span>{{'centerMode_button_newTeacher' | translate}}</span>
    </button>
</div>

