<div class="section-header table__header center-mode__header">
    <div class="breadcrumb header__title breadcrumb-longer second-level col-vsmall-7" data-element="centerMode-header-breadcrumb">
        <h1><a href="#/exercises">{{'header_tab_myExercises' | translate}}</a></h1>
        <span class="breadcrumb--secondary">
            {{exercise.name || common.translate('new-exercise')}}
        </span>
    </div>
</div>
<div class="table__page table__page--with-header">
    <div class="table__main">
        <div class="center-mode__block row">
            <div class="row">
                <div class="col-vsmall-5 exercise-info__classes">
                    <div class="exercise-info__class">
                        <svg class="svg-icon svg-icon--text svg-icon--menu svg-icon-classes">
                            <use xlink:href="#people"></use>
                        </svg>
                        <span class="exercise-info--text">{{'classes' | translate}}</span>
                    </div>
                    <div class="exercise-info--dropdown">
                        <common-dropdown ng-if="groupArray.length>0" class="" options="groupArray" options-click="getTasksByGroup" heading-option="groupArray[0].name"></common-dropdown>
                        <button class="btn btn--primary btn--small" ng-if="groupArray.length===0" ng-click="assignToGroup(exercise)">{{'centerMode_assignToClasses' | translate}}</button>
                    </div>
                </div>
                <div class="button-group col-vsmall-7">
                    <button class="btn btn--quaternary btn--small btn--showMoreActions" ng-click="setMoreOptions()" data-element="centerMode_button_moreActions">
                        <span class="block__item__title">{{ 'centerMode_button_moreActions' | translate}}</span>
                    </button>
                    <a class="btn btn--small" ng-class="groupArray.length > 0 ? 'btn--primary' : 'btn--secondary'" ng-href="{{'#/exercise/' + exercise._id}}" target="_blank" data-element="centerMode_openExercise">
                        <span class="block__item__title">{{ 'centerMode_editExercise' | translate}}</span>
                    </a>
                    <div ng-show="showMoreActions" class="table__block__item--menu table__block__moreactions--menu">
                        <ul>
                            <li class="table__block__item--menu__item" ng-click="renameExercise(exercise)" data-element="menu-change-name">
                                <svg class="svg-icon svg-icon--text svg-icon--menu">
                                    <use xlink:href="#pencil"></use>
                                </svg>
                                {{'change-name' | translate}}
                            </li>
                            <li class="table__block__item--menu__item" ng-click="createExerciseCopy(exercise)" data-element="menu-duplicate">
                                <svg class="svg-icon svg-icon--text svg-icon--menu">
                                    <use xlink:href="#duplicate"></use>
                                </svg>
                                {{'centerMode_exercise_duplicate' | translate}}
                            </li>
                            <li class="dropdown__item--separator--thick"></li>
                            <!--<li class="table__block__item&#45;&#45;menu__item" ng-click="exerciseService.download(exercise)">
                                <svg class="svg-icon svg-icon&#45;&#45;text svg-icon&#45;&#45;menu">
                                    <use xlink:href="#download"></use>
                                </svg>
                                {{'download' | translate}}
                            </li>-->
                            <li class="table__block__item--menu__item" ng-click="exerciseService.download(exercise, 'arduino')">
                                <svg class="svg-icon svg-icon--text svg-icon--menu">
                                    <use xlink:href="#fileCode"></use>
                                </svg>
                                {{'navigation_text_file_downloadArduinoCode' | translate}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="center-mode__date">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#clock"></use>
                </svg>
                <span class="center-mode__date--important">{{('centerMode_finishAt' | translate) + ' ' + moment(groupSelected.endDate).fromNow()}}</span>
                <span>({{('date_from' | translate) + ' ' + (groupSelected.initDate | date:'dd/MM/yyyy - HH:mm') + ' ' + ('date_to' | translate) + ' ' +(groupSelected.endDate | date:'dd/MM/yyyy - HH:mm')}})</span>
            </div>
        </div>

        <div class="center-mode__block row">
            <h1 class="table__title tasks-students">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#user"></use>
                </svg>
                {{'centerMode_column_students' | translate}}
            </h1>
            <div class="tasks-dropdown__group" ng-if="tasks.length>0 || (tasks.length === 0 && (sortSelected || taskStatusSelected))">
                <common-dropdown class="task--sort-dropdown" options="taskSortArray" options-click="sortTasks" pre-heading="'explore-sortby'" heading-option="taskSortArray[0] | translate"></common-dropdown>
                <common-dropdown class="task--sort-dropdown" options="taskStatusArray" options-click="filterTasksByStatus" pre-heading="'classes-status'" heading-option="taskStatusArray[0] | translate"></common-dropdown>
            </div>
        </div>
        <div class="center-mode" ng-include="'views/centerMode/taskTable.html'"></div>
    </div>
</div>
