<div class="section-header table__header center-mode__header">
    <div class="breadcrumb header__title col-vsmall-7">
        <h1 class="breadcrumb__title">{{'header_tab_myExercises' | translate}}</h1>
    </div>
    <div class="button-group col-vsmall-5" ng-if="exercises.length!==0">
        <a class="btn btn--primary btn--small" href="/#/exercise" target="_blank" data-element="centerMode_button_newExercise">
            <span>{{'centerMode_button_newExercise' | translate}}</span>
        </a>
    </div>
</div>

<div class="table__page table__page--with-header">
    <div class="center-mode table__main" ng-include="'views/centerMode/exerciseTable.html'"></div>
    <div class="center-mode--empty" ng-if="exercises.length===0 && !common.isLoading && !search.searchExercisesText && !sortSelected && !statusSelected && !classFilter">
        <h1 class="center-mode--empty__title">{{'exercises_empty' | translate}}</h1>
        <p class="center-mode--empty__info">{{'centerMode_exercises_emptyInfo' | translate}}</p>
        <a class="btn btn--primary btn--small" href="/#/exercise" target="_blank" data-element="centerMode_button_newExercise">
            <span>{{'centerMode_button_newExercise' | translate}}</span>
        </a>
    </div>
</div>
