<div class="center-mode__table__header" ng-if="common.section!=='class' && (exercises.length > 0 || (exercises.length===0 && (search.searchExercisesText || statusSelected || classFilter)))">
    <div class="classes-dropdown--group">
        <common-dropdown class="classes-dropdown" options="sortExercisesArray" options-click="sortExercises" pre-heading="'classes-sortby'" heading-option="sortClassesArray[1] | translate"></common-dropdown>
        <common-dropdown class="classes-dropdown" options="groupArray" options-click="filterByClass" pre-heading="'class-dropdown-header'" heading-option="classesStatusArray[0] | translate"></common-dropdown>
        <common-dropdown class="classes-dropdown" options="exerciseStatusArray" options-click="filterByStatus" pre-heading="'classes-status'" heading-option="classesStatusArray[0] | translate"></common-dropdown>
        <span class="form--input classes--input searcher" ng-class="{'input--focused':focus === 'search'}">
            <svg class="svg-icon--search">
                <use xlink:href="#search"></use>
            </svg>
            <input type="search" name="search--normal" id="search--normal" placeholder="{{'find'|translate}}" data-ng-model="search.searchExercisesText" data-ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" data-ng-focus="focus = 'search'" data-ng-blur="focus = false" data-element="classes-searcher">
        </span>
    </div>
</div>
<div ng-class="{'loading--content':common.isLoading}"></div>
<div class="center-mode__table" ng-if="exercises.length > 0">
    <div class="center-mode__table-title center-mode__table-title--exercises row">
        <span ng-class="common.section==='class' ? 'col-vsmall-8' : 'col-vsmall-5'">{{'centerMode_column_name' | translate}}</span>
        <span class="col-vsmall-3" ng-if="common.section !== 'class'">{{'centerMode_column_classes' | translate}}</span>
        <span class="col-vsmall-3 col-text-right">{{'centerMode_column_time' | translate}}</span>
    </div>
    <div class="table__block table__block__exercise">
        <div class="table__block__list table__block__hover row" dir-paginate="exercise in exercises | itemsPerPage: itemsPerPage" current-page="pagination.exercises.current" total-items="{{exercisesCount}}">
            <div ng-class="common.section==='class' ? 'col-vsmall-8' : 'col-vsmall-5'" class="table__block__item">
                <a class="table__item__text table__item__link" ng-href="{{'#/exercise-info/' + exercise._id}}" data-tooltip-position="bottom" data-tooltip="{{exercise.name}}" data-bitbloq-tooltip data-bitbloq-tooltip-showonellipsis="true">
                    <h2 class="block__item__title" data-element="{{'centerMode-item-' + exercise.name}}">
                        {{exercise.name || 'new-exercise' | translate}}</h2>
                </a>
            </div>
            <div ng-if="common.section !== 'class'" class="table__block__item table__block__item--groups col-vsmall-3">
                {{exercise.groups}}
            </div>
            <div class="table__block__item col-vsmall-3 col-text-right">
                <p class="fist-uppercase" data-element="{{'centerMode-endDate' + exercise.name}}">
                    {{exercise.endDate? moment(exercise.endDate).fromNow() : ('time-unlimited' | translate)}}
                </p>
            </div>
            <div class="table__block__item table__column--right col-vsmall-1 center-mode__table__menu" ng-class="{'active-options': menuActive[$index]}" ng-mouseleave="menuActive[$index] = false">
                <button class="btn btn--center-mode--table table__block__button" ng-click="changeExerciseMenu($index)" data-element="centerMode-button-options">
                    <svg class="svg-icon">
                        <use xlink:href="#ellipsis"></use>
                    </svg>
                </button>
                <div ng-show="menuActive[$index]" class="table__block__item--parent">
                    <ul class="table__block__item--menu">
                        <li class="table__block__item--menu__item table__block__item--menu__item--open">
                            <a class="table__block__item--menu__link" data-ng-href="#/exercise/{{exercise._id}}" target="_blank">
                                {{'centerMode_editExercise' | translate}}</a>
                        </li>
                        <li class="dropdown__item--separator"></li>
                        <li class="table__block__item--menu__item" ng-click="editGroups(exercise)" data-element="menu-edit-groups">
                            <svg class="svg-icon svg-icon--text svg-icon--menu">
                                <use xlink:href="#people"></use>
                            </svg>
                            {{'centerMode_assignToClasses' | translate}}
                        </li>
                        <li class="table__block__item--menu__item" ng-click="renameExercise(exercise)" data-element="menu-change-name">
                            <svg class="svg-icon svg-icon--text svg-icon--menu">
                                <use xlink:href="#pencil"></use>
                            </svg>
                            {{'change-name' | translate}}
                        </li>
                        <li class="table__block__item--menu__item" ng-click="createExerciseCopy(exercise)" data-element="menu-duplicate">
                            <svg class="svg-icon svg-icon--text svg-icon--menu">
                                <use xlink:href="#duplicate"></use>
                            </svg>
                            {{'centerMode_exercise_duplicate' | translate}}
                        </li>
                        <li class="dropdown__item--separator--thick"></li>
                        <!--<li class="table__block__item&#45;&#45;menu__item" ng-click="exerciseService.download(exercise)">
                            <svg class="svg-icon svg-icon&#45;&#45;text svg-icon&#45;&#45;menu">
                                <use xlink:href="#download"></use>
                            </svg>
                            {{'download' | translate}}
                        </li>-->
                        <li class="table__block__item--menu__item" ng-click="exerciseService.download(exercise, 'arduino')">
                            <svg class="svg-icon svg-icon--text svg-icon--menu">
                                <use xlink:href="#fileCode"></use>
                            </svg>
                            {{'navigation_text_file_downloadArduinoCode' | translate}}
                        </li>
                        <li class="dropdown__item--separator--thick"></li>
                        <li ng-if="exercise.creator===common.user._id" class="table__block__item--menu__item table__block__item--menu__item-red" ng-click="deleteExercise(exercise)">
                            <svg class="svg-icon svg-icon--text svg-icon--menu">
                                <use xlink:href="#delete"></use>
                            </svg>
                            {{'button_delete' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="forum__paginator">
        <dir-pagination-controls on-page-change="getExercisesPaginated(newPageNumber)" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</div>
<div class="center-mode--empty" ng-if="exercises.length===0 && !search.searchExercisesText && !statusSelected &&!classFilter && common.section==='class'">
    <h1 class="center-mode--empty__title">{{' centerMode_exercises_group_empty' | translate}}</h1>
    <p class="center-mode--empty__info">{{'centerMode_exercises_group_emptyInfo' | translate}}</p>
</div>
<div class="center-mode--empty" ng-if="exercises.length===0 && (search.searchExercisesText || statusSelected || classFilter)">
    <h1 class="center-mode--empty__title">{{'centerMode_exercises_empty_search' | translate}}</h1>
</div>
