<h1 class="table__title">
    <svg class="svg-icon svg-icon--text">
        <use xlink:href="#people"></use>
    </svg>
    {{'centerMode_groups' | translate}}
</h1>
<div class="centerMode__table-title row">
    <span class="col-vsmall-9">{{'centerMode_column_group' | translate}}</span>
    <span class="col-vsmall-3">{{'centerMode_column_students' | translate}}</span>
</div>
<ul class="table__block">
    <li class="table__block__list row" ng-repeat="group in groups">
        <span class="col-vsmall-11 table__block__item">
            <a ng-href="{{'#/center-mode/group/' + group._id}}">
                <h2 class="block__item__title block__item__title--small" data-element="{{'centerMode_item_' + group.name}}">
                    {{group.name}}
                </h2>
                <span class="block__item__explanation--subscript text-ID">{{group.accessId}}</span>
            </a>
        </span>
        <span class="col-vsmall-1 table__block__item">{{group.students.length || 0}}</span>
    </li>
</ul>

<button class="btn btn--small btn--tertiary btn--row" ng-if="common.urlType==='exercise-info'" ng-click="editGroups()">
    {{'centerMode_editGroups' | translate}}
</button>
