<div ng-if="urlSubType==='student'" class="table__main">
    <div class="center-mode" ng-include="'views/centerMode/taskTable.html'"></div>
</div>
<div class="center-mode__group" ng-if="urlSubType!=='student'">
    <div class="group__header">
        <label class="switch-button">
            <input type="checkbox" ng-model="classStateCheck" ng-change="classStateCheck? group.status='open' : group.status='inProgress'; changeStatusClass();" ng-disabled="group.status==='closed'" checked>
            <div class="slider round" data-element="centerMode-enrolment-button">
                <svg class="svg-icon">
                    <use xlink:href="#close"></use>
                </svg>
                <svg class="svg-icon">
                    <use xlink:href="#tick"></use>
                </svg>
            </div>
            <span ng-if="group.status==='open'">{{'centerMode_groupStatus_open' | translate}}</span>
            <span ng-if="group.status==='inProgress'">{{'centerMode_groupStatus_closed' | translate}}</span>
            <span ng-if="group.status==='closed'">{{'centerMode_groupStatus_closed' | translate}}</span>
        </label>
        <div class="button-group">
            <button class="btn btn--tertiary btn--small btn--delete" ng-click="deleteGroup()" data-element="centerMode-delete-group">
                <svg class="svg-icon">
                    <use xlink:href="#delete"></use>
                </svg>
            </button>
            <button class="btn btn--tertiary btn--small" ng-click="closeGroup()" ng-disabled="group.status==='closed'" data-element="centerMode-close-group">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#store"></use>
                </svg>
                {{ 'closeGroup_modal_title' | translate }}
            </button>
        </div>
    </div>
    <div class="tabs-layout">
        <aside class="tabs-layout__aside">
            <h1 class="invisible">Groups menu</h1>
            <ul class="tabs__header" ng-init="selectedTab = 'students'">
                <li class="tabs__header__item tabs__header__main" ng-class="{'selected--tab':selectedTab === 'students'}" ng-click="selectedTab = 'students'">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#people"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{ 'centerMode_column_students' | translate }} ({{ students.length || 0}})
                    </span>
                </li>
                <li ng-class="{'tabs__header__item':true, 'aside--menu__item--releases':true, 'selected--tab':selectedTab === 'exercises'}" ng-click="selectedTab = 'exercises'" data-element="centerMode-tab-exercises">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#exercise"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{'centerMode_exercises' | translate}} ({{ exercises.length || 0 }})
                    </span>
                    </span>
                </li>
            </ul>
        </aside>
        <div class="tabs-layout__content">
            <div class="tab myprojects" ng-show="selectedTab === 'students'" ng-include="'views/centerMode/studentTable.html'"></div>
            <div class="tab mysharedprojects" ng-show="selectedTab === 'exercises'" ng-include="'views/centerMode/exerciseTable.html'"></div>
        </div>
    </div>
</div>
