<div ng-if="students.length>0">
    <div class="dropdown-group table__added clearfix">
        <common-dropdown data-ng-show="sortArray.length > 0" class="projects--sort-dropdown" options="sortArray" options-click="sortInstances" pre-heading="'explore-sortby'" heading-option="orderOptions[0] | translate"></common-dropdown>
    </div>
    <div class="center-mode__table">
        <div class="center-mode__table-title row">
            <div class="col-vsmall-7">
                <span>{{'centerMode_column_name' | translate}}</span>
            </div>
            <div class="table__column--centered col-vsmall-3">
                <span>{{'centerMode_column_averageMark' | translate}}</span>
            </div>
        </div>
        <div class="table__block">
            <div class="table__block__list table__block__hover row" ng-repeat="student in students | orderBy:'orderInstance'" data-element="student-{{student.username}}">
                <div class="table__block__item col-vsmall-7">
                    <a ng-href="{{'#/class/' + group._id + '/student/' + student._id}}">
                        <h2 class="block__item__title">{{student.firstName? student.firstName + ' ' + student.lastName : student.username}}</h2>
                        <span class="block__item__explanation">{{student.email}}</span>
                    </a>
                </div>
                <div class="table__block__item table__column--centered col-vsmall-3">
                    <span data-element="{{'centerMode-student-averageMark' + student.username}}">
                        {{student.averageMark || '-'}}
                    </span>
                </div>
                <div class="table__block__item table__column--hover table__column--right col-vsmall-2">
                    <a class="btn btn--tertiary btn--small table__item__btn" ng-href="{{'#/class/' + group._id + '/student/' + student._id}}" data-element="{{'centerMode-button-showTasks' + student._id}}">
                        {{'centerMode_button_showExercises' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center-mode--empty" ng-if="students.length===0">
    <h1 class="center-mode--empty__title">{{'centerMode_students_class_empty' | translate}}</h1>
    <p class="center-mode--empty__info">{{'centerMode_students_class_emptyInfo' | translate}}</p>
</div>
