<div ng-if="students.length>0">
    <div class="dropdown-group table__added clearfix">
        <common-dropdown options="sortArray" options-click="sortInstances" pre-heading="'explore-sortby'" heading-option="orderOptions[0] | translate" class="projects--sort-dropdown"></common-dropdown>
    </div>
    <div>
        <div class="centerMode__table-title row">
            <div class="col-vsmall-9">
                <span>{{'centerMode_column_name' | translate}}</span>
            </div>
            <div class="table__column--centered col-vsmall-2">
                <span>{{'centerMode_column_mark' | translate}}</span>
            </div>
        </div>
        <div class="table__block">
            <div class="table__block__list row" ng-repeat="student in students | orderBy:'orderInstance'">
                <div class="table__block__item col-vsmall-9">
                    <a ng-href="{{'#/center-mode/group/' + group._id + '/student/' + students._id}}">
                        <h2 class="block__item__title" data-element="{{'centerMode-student-' + student.firstName + student.lastName}}">
                            {{student.firstName}}</h2>
                    </a>
                </div>
                <div class="table__block__item table__column--centered col-vsmall-2">
                    <span data-element="{{'centerMode-student' + student.mark}}">
                        {{student.mark}}
                    </span>
                </div>
                <div class="table__block__item table__column--right col-vsmall-1">
                    <button data-element="centerMode-button-options" class="btn table__block__button table__block__button--options">
                        <svg class="svg-icon">
                            <use xlink:href="#menu"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="students.length===0">
    <h1>{{'centerMode_students_empty' | translate}}</h1>
    <p>{{'centerMode_students_emptyInfo' | translate}}</p>
    <button data-element="centerMode-add-students-button" class="btn btn--primary btn--small" ng-click="newExercise()">
        <span>{{'centerMode_button_addStudents' | translate}}</span>
    </button>
</div>
