<div ng-if="tasks.length>0">
    <div class="center-mode__table">
        <div class="center-mode__table-title row">
            <div class="col-vsmall-5">
                <span>{{'centerMode_column_name' | translate}}</span>
            </div>
            <div class="col-vsmall-1">
                <span>{{'centerMode_column_mark' | translate}}</span>
            </div>
            <div class="col-vsmall-3">
                <span>{{'centerMode_column_status' | translate}}</span>
            </div>
        </div>
        <div class="table__block table__block__exercise">
            <div class="table__block__list table__block__hover row" dir-paginate="task in tasks | orderBy:'orderInstance' | itemsPerPage: itemsPerPage" current-page="pagination.tasks.current" total-items="{{tasksCount}}">
                <div class="table__block__item table__item__ellipsis col-vsmall-5">
                    <h2 class="block__item__title">
                        {{(task.firstName? task.firstName + ' ' + task.lastName : task.username) || task.name || task.exercise.name}}
                    </h2>
                </div>
                <div class="table__block__item col-vsmall-1">
                    <span data-element="{{'centerMode-task-mark' + task._id}}">
                        {{task.mark || '-'}}
                    </span>
                </div>
                <div class="table__block__item col-vsmall-2">
                    <span ng-class="{'status-notCorrected': task.status==='delivered', 'status-corrected' : task.status==='corrected' || (task.status==='delivered' && task.mark)}" data-element="{{'centerMode-task-status' + task._id}}">
                        {{(task.status==='corrected' || (task.status==='delivered' && task.mark))? 'centerMode_status_corrected' : task.status==='delivered'? 'centerMode_status_notCorrected' : task.status==='notDelivered' ? 'centerMode_status_notDelivered' : 'centerMode_status_pending' | translate}}
                    </span>
                </div>
                <div class="table__block__item table__column--hover table__column--right col-vsmall-4">
                    <button class="btn btn--quaternary btn--small btn--delete table__item__btn" ng-if="common.urlType==='group'" ng-click="deleteTask(task)" data-element="{{'centerMode-button-deleteTask' + task._id}}">
                        <svg class="svg-icon">
                            <use xlink:href="#delete"></use>
                        </svg>
                    </button>
                    <a class="btn btn--quaternary btn--small table__item__btn" ng-href="{{'#/task/' + task._id}}" target="_blank" data-element="{{'centerMode-button-showTask' + task._id}}">
                        {{(task.status!=='delivered' || task.status==='corrected' || (task.status==='delivered' && task.mark))? 'see': 'centerMode_button_correct' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="forum__paginator">
        <dir-pagination-controls on-page-change="getTasksPaginated(newPageNumber)" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</div>
<div class="center-mode--empty" ng-if="tasks.length===0 && !sortSelected && !taskStatusSelected">
    <h1 class="center-mode--empty__title">{{'centerMode_tasks_empty' | translate}}</h1>
    <p class="center-mode--empty__info">{{'centerMode_tasks_emptyInfo' | translate}}</p>
</div>

<div class="center-mode--empty" ng-if="tasks.length===0 && taskStatusSelected">
    <h1 class="center-mode--empty__title">{{'centerMode_tasks_empty_search' | translate}}</h1>
</div>
