<div ng-if="exercises.length>0 || groups.length>0" class="centerMode">
    <div class="row">
        <div class="col-vsmall-7">
            <div ng-include="'views/centerMode/exerciseTable.html'"></div>
        </div>
        <div class="col-vsmall-5">
            <div class="table__aside" ng-include="'views/centerMode/groupTable.html'"></div>
        </div>
    </div>
</div>
<div ng-if="exercises.length===0 && groups.length===0">
    <h1>{{'centerMode_groups_empty' | translate}}</h1>
    <p>{{'centerMode_groups_emptyInfo' | translate}}</p>
    <button data-element="centerMode-new-teacher-button" class="btn btn--primary btn--small" ng-click="newGroup()">
        <span>{{'centerMode_button_newGroup' | translate}}</span>
    </button>
</div>
