<div class="projects--action projects--action--sort table__added clearfix">
    <common-dropdown options="sortArray" options-click="sortInstances" pre-heading="'explore-sortby'" heading-option="orderOptions[0] | translate" class="projects--sort-dropdown"></common-dropdown>
</div>
<div>
    <div class="centerMode__table-title row">
        <div class="col-vsmall-6">
            <span>{{'centerMode_column_name' | translate}}</span>
        </div>
        <div class="col-vsmall-3">
            <span>{{'centerMode_column_groups' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'centerMode_column_students' | translate}}</span>
        </div>
    </div>
    <div class="table__block">
        <div class="table__block__list row" ng-repeat="item in teachers | orderBy:'orderInstance'">
            <div class="col-vsmall-6 table__block__item">
                <a ng-href="{{'#/center-mode/center-teacher/' + item._id}}">
                    <h2 class="block__item__title" data-element="{{'centerMode-item-' + item.name}}">
                        {{item.name || item.username}}</h2>
                    <span class="block__item__explanation">{{item.email}}</span>
                </a>
            </div>
            <div class="col-vsmall-3 table__block__item">
                <span data-element="{{'centerMode-groups' + item.name}}">
                    {{item.groups}}
                </span>
            </div>
            <div class="col-vsmall-2 table__block__item">
                <span>{{item.students}}</span>
            </div>
            <div class="col-vsmall-1 table__block__item">
                <button data-element="centerMode-delete-teacher" class="btn btn--secondary table__block__button table__block__button--delete" ng-click="deleteTeacher(item)">
                    <svg class="svg-icon">
                        <use xlink:href="#cierre"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
