node_modules/
dist/
.tmp/
.sass-cache
bower_components/
*.log
*~
nbproject
target/

app/res/config

# Editor File Ignore
*.sublime-project
*.sublime-workspace
.idea/
*.orig

i18n
counters
propertiesScripts
contentScripts


app/scripts/config.js
.gitconfig
gruntconfig.json
backupsDB


bower-template.json
package-template.json
sendToTranslate
