<footer class="landing--footer">
    <div class="content">
        <div class="map">
            <div class="section">
                <h3>{{ 'project' | translate}}</h3>
                <ul>
                    <li>{{ 'footer_aboutus' | translate}}</li>
                    <li>{{ 'footer_bqeducation' | translate}}</li>
                    <li>{{ 'footer_inschools' | translate}}</li>
                    <li>{{ 'footer_bitbloqoffline' | translate}}</li>
                </ul>
            </div>
            <div class="section">
                <h3>{{ 'community' | translate}}</h3>
                <ul>
                    <li>{{ 'forum' | translate}}</li>
                    <li>{{ 'explore' | translate}}</li>
                    <li>DIWO</li>
                    <li>{{ 'footer_bitbloqongithub' | translate}}</li>
                </ul>
            </div>
            <div class="section">
                <h3>{{ 'help' | translate}}</h3>
                <ul>
                    <li>{{ 'contact' | translate}}</li>
                    <li>{{ 'help_faqs' | translate}}</li>
                    <li>{{ 'tutorials' | translate}}</li>
                </ul>
            </div>
        </div>
        <div class="language">
            <div class="dropdown_box num-items-{{envData.config.supportedLanguages.length}}" data-ng-class="{'open': showDropdown}">
                <ul class="dropdown_list" >
                    <li data-ng-repeat="language in envData.config.supportedLanguages" data-ng-click="translate.use(language)">
                        <svg class="svg-icon">
                            <use xlink:href="" ng-attr-xlink:href="{{'#flag_' + language}}"></use>
                        </svg>{{ language | translate }}
                    </li>
                </ul>
                <div class="dropdown_selected" data-ng-click="showDropdown=!showDropdown">
                    <svg class="svg-icon">
                        <use xlink:href="" ng-attr-xlink:href="{{'#flag_' + translate.use()}}"></use>
                    </svg>
                    <span class="language--name">{{ translate.use() | translate }}</span>
                    <span class="fa fa-angle-up arrow"></span>
                </div>
            </div>
        </div>
        <div class="followus">
            <span>{{'follow-us' | translate}}</span>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-github-alt"></i>
        </div>
        <hr>
        <ul class="links">
            <li><a data-element="landing-cookies-button" href="#/cookies">{{ 'landing-main-footer-link-cookies' | translate }}</a></li>
            <li><a data-element="landig-terms-button" href="#/terms">{{ 'landing-main-footer-link-tos' | translate }}</a></li>
        </ul>
        <span>{{ 'landing-main-copyright' | translate }}</span>
        <div class="bqproject">
            <span>{{ 'landing_text_footer' | translate }}</span>
            <a ng-href="{{'http://bq.com/' + common.langToBQ[translate.use().split('-')[0]]}}" target="_blank">
                <img src="../images/landing/logothumbs.png" alt="bq logo">
            </a>
        </div>
    </div>


    <!--<div class="footer&#45;&#45;top">
        <i class="fa fa-globe"></i>
        <ul class="left">
            <li ng-repeat="language in envData.config.supportedLanguages" ng-class="{'active':translate.use() === language}">
                <span data-element="landing-language-{{ language }}" data-ng-click="translate.use(language)">{{ language | translate }}</span>
            </li>
        </ul>
        <div class="right">
            <span>{{ 'landing_text_footer' | translate }}</span>
            <a ng-href="{{'http://bq.com/' + common.langToBQ[translate.use().split('-')[0]]}}" target="_blank">
                <img src="../images/landing/logothumbs.png" alt="bq logo">
            </a>
        </div>
    </div>
    <div class="footer--bottom">
        <i class="fa fa-paper-plane"></i>
        <ul class="left">
            <li ng-if="common.user">
                <button data-element="landing-contact-button" ng-click="commonModals.sendCommentsModal()">{{ 'landing_link_contact' | translate }}
                    <button>
            </li>
            <li ng-if="!common.user">
                <a data-element="landing-contact-button" href="mailto:{{'support_email' | translate}}" target="_blank">{{'landing_link_contact' | translate}}</a>
            </li>
            <li>
                <a data-element="landing-cookies-button" href="#/cookies">{{ 'landing-main-footer-link-cookies' | translate }}</a>
            </li>
            <li>
                <a data-element="landig-terms-button" href="#/terms">{{ 'landing-main-footer-link-tos' | translate }}</a>
            </li>
        </ul>
        <div class="right">
            <span>{{ 'landing-main-copyright' | translate }}</span>
        </div>
    </div>-->
</footer>
