<footer class="landing--footer">
    <div class="content">
        <div class="map">
            <div class="section">
                <h3>{{ 'project' | translate}}</h3>
                <ul>
                    <li><a href="/#/aboutus" target="_blank">{{ 'footer_aboutus' | translate}}</a></li>
                    <li><a href="https://www.bq.com/es/bq-educa" target="_blank">{{ 'footer_bqeducation' | translate}}</a></li>
                    <!--<li><a href="" target="_blank">{{ 'footer_inschools' | translate}}</a></li>-->
                    <li><a href="/#/offline" target="_blank">{{ 'footer_bitbloqoffline' | translate}}</a></li>
                </ul>
            </div>
            <div class="section">
                <h3>{{ 'community' | translate}}</h3>
                <ul>
                    <li><a href="/#/forum" target="_blank">{{ 'forum' | translate}}</a></li>
                    <li><a href="/#/explore" target="_blank">{{ 'explore' | translate}}</a></li>
                    <li><a href="http://diwo.bq.com" target="_blank">DIWO</a></li>
                    <li><a href="https://github.com/bq/?utf8=%E2%9C%93&query=bitbloq-" target="_blank">{{ 'footer_bitbloqongithub' | translate}}</a></li>
                </ul>
            </div>
            <div class="section">
                <h3>{{ 'help' | translate}}</h3>
                <ul>
                    <li><a href="/#/bitbloq-help" target="_blank">{{ 'contact' | translate}}</a></li>
                    <li><a href="/#/forum/Preguntas%20frecuentes" target="_blank">{{ 'help_faqs' | translate}}</a></li>
                    <li><a href="/#/learn" target="_blank">{{ 'tutorials' | translate}}</a></li>
                </ul>
            </div>
        </div>
        <div class="language">
            <div class="dropdown_box num-items-{{envData.config.supportedLanguages.length}}" data-ng-class="{'open': showDropdown}" data-element="landing-language-dropdown">
                <ul class="dropdown_list" data-ng-click="showDropdown = false">
                    <li data-ng-repeat="language in envData.config.supportedLanguages" data-ng-click="translateGuest(language)" data-element="landing-language-{{language}}">
                        <svg class="svg-icon">
                            <use xlink:href="" ng-attr-xlink:href="{{'#flag_' + language}}"></use>
                        </svg>{{ language | translate }}
                    </li>
                </ul>
                <div class="dropdown_selected" data-ng-click="showDropdown=!showDropdown">
                    <svg class="svg-icon">
                        <use xlink:href="" ng-attr-xlink:href="{{'#flag_' + translate.use()}}"></use>
                    </svg>
                    <span class="language--name">{{ translate.use() | translate }}</span>
                    <span class="fa fa-angle-up arrow"></span>
                </div>
            </div>
        </div>
        <div class="followus">
            <span>{{'follow-us' | translate}}</span>
            <a class="fa fa-google-plus" href="https://plus.google.com/communities/110778922976735717392" target="_blank"></a>
            <a class="fa fa-twitter" href="https://twitter.com/bitbloq" target="_blank"></a>
            <a class="fa fa-github-alt" href="https://github.com/bq/?utf8=%E2%9C%93&query=bitbloq-" target="_blank"></a>
        </div>
        <hr>
        <div class="footer-down">
            <ul class="links">
                <li><a data-element="landing-cookies-button" href="#/cookies" target="_blank">{{ 'landing-main-footer-link-cookies' | translate }}</a></li>
                <li><a data-element="landig-terms-button" href="#/terms" target="_blank">{{ 'landing-main-footer-link-tos' | translate }}</a></li>
            </ul>
            <span class="copyright">{{ 'landing-main-copyright' | translate }}</span>
            <span class="bqproject">{{ 'landing_text_footer' | translate }}</span>
            <a class="bq-logo" ng-href="{{'http://bq.com/' + common.langToBQ[translate.use().split('-')[0]]}}" target="_blank">
                <img src="../images/landing/logothumbs.png" alt="bq logo">
            </a>
        </div>
    </div>
</footer>
