<header ng-class="{'responsive__menu--on':menuVisible}">
    <h1 class="hidden">Bitbloq</h1>
    <nav class="nav nav__menu nav__menu--landing">
        <h1 class="hidden">Bitbloq Navigation</h1>
        <a class="logo--icon--link" href="#/">
            <svg class="logo--icon">
                <use xlink:href="#logoBibtloq_webTool"></use>
            </svg>
        </a>
        <ul class="left">
            <li ng-click="landing.section = 0" ng-class="{'active':common.section === 'howitworks'}">
                <a href="#/howitworks" data-element="landing-howitworks-button">{{ 'general_howitworks' | translate }}</a>
            </li>
            <li ng-click="landing.section = 0" ng-class="{'active':common.section === 'features'}">
                <a href="#/features" data-element="landing-features-button">{{ 'general_features' | translate }}</a>
            </li>
            <li ng-click="landing.section = 2" ng-class="{'active':common.section === 'aboutus'}">
                <a href="#/aboutus" data-element="landing-aboutus-button">{{ 'general_aboutUs' | translate }}</a>
            </li>
            <li ng-click="landing.section = 2" ng-class="{'active':common.section === 'bitbloq-help'}">
                <a href="#/bitbloq-help" data-element="landing-aboutus-button">{{ 'help' | translate }}</a>
            </li>
        </ul>
        <ul class="right">
            <li><a class="login" href="#/login" data-element="enter-button">{{ 'enter' | translate }}</a></li>
            <li><a class="register" href="#/register">{{ 'general_button_register' | translate }}</a></li>
        </ul>
        <div class="icon-wrapper" data-ng-click="toggleMenu()" data-element="open-landing-menu" role="button" tabindex="0">
            <div class="top" ng-class="{rotatedown:menuVisible}"></div>
            <div class="middle" ng-class="{hidemiddle:menuVisible}"></div>
            <div class="bottom" ng-class="{rotateup:menuVisible}"></div>
        </div>
    </nav>
</header>