<div ng-class="{'landing--ru':translate.use() === 'ru-RU'}" ng-click="closeMenu($event)" class="view view--landing view--landing--downloads">
    <div ng-class="{'landing--header':true, 'opaque':windowScroll || menuVisible,'fixed':true}" data-ng-include="'views/landing/landing-header.html'"></div>
    <div class="landing--masthead">
        <h1 ng-if="operatingSystem === 'Windows'" class="medium">{{ 'landing_title_download' | translate }}Windows</h1>

        <h1 ng-if="operatingSystem === 'Linux'" class="medium">{{ 'landing_title_download' | translate }}Linux</h1>

        <h1 ng-if="operatingSystem === 'Mac'" class="medium">{{ 'landing_title_download' | translate }}Mac OS 10.10</h1>

        <h1 class="small">{{ 'landing_title_availableForAllOS' | translate }}</h1>
        <img class="medium" src="../images/landing/download.png" alt="">

        <p class="landing--text--big--dark">{{ 'landing_text_download' | translate }}</p>

        <div class="masthead__buttons medium">
            <a ng-if="operatingSystem === 'Mac'" class="btn btn--masthead" data-ng-href="{{envData.config.web2boardLinkMac}}">
                <i class="fa fa-chevron-circle-down"></i>
                <span>{{ 'landing_link_download' | translate }} Mac OS X</span>
            </a>
            <a ng-if="operatingSystem === 'Windows'" class="btn btn--masthead" data-ng-href="{{envData.config.web2boardLinkWindows}}">
                <i class="fa fa-chevron-circle-down"></i>
                <span>{{ 'landing_link_download' | translate }} Windows 32/64 bits</span>
            </a>
            <a ng-if="operatingSystem === 'Linux'" class="btn btn--masthead" href="{{envData.config.web2boardLinkLinux}}">
                <i class="fa fa-chevron-circle-down"></i>
                <span>Web2Board Linux 64-bits</span>
            </a>
            <a ng-if="operatingSystem === 'Linux'" class="btn btn--masthead" href="{{envData.config.web2boardLinkLinux32}}">
                <i class="fa fa-chevron-circle-down"></i>
                <span>Web2Board Linux 32-bits</span>
            </a>
        </div>
    </div>
    <div class="row row--inline landing--section medium max-width">
        <div class="col-medium-4">
            <div class="downloads--step">
                <div class="image--container">
                    <img src="../images/landing/web2board.png" alt="">
                </div>
                <h2>{{ 'general_download' | translate }}</h2>
                <span>{{ 'landing_text_downloadStepFirst' | translate }}</span>
            </div>
        </div>
        <div class="col-medium-4">
            <div class="downloads--step">
                <div class="image--container">
                    <img src="../images/landing/gear.png" alt="">
                </div>
                <h2>{{ 'general_install' | translate }}</h2>
                <span>{{ 'landing_text_downloadStepSecond' | translate }}</span>
            </div>
        </div>
        <div class="col-medium-4">
            <div class="downloads--step">
                <div class="image--container">
                    <img src="../images/landing/logogradient.png" alt="">
                </div>
                <h2>{{ 'landing_title_downloadStepInstall' | translate }}</h2>
                <span>{{ 'landing_text_downloadStepInstall' | translate }} </span>
            </div>
        </div>
    </div>
    <div class="landing--call-to-action">
        <div class="cta--container">
            <h1 class="landing--heading--white">{{'landing-main-title' | translate}}</h1>
            <a href="#/bloqsproject" class="btn btn--call--test-it-now">{{'landing_link_testItNow' | translate}}</a>
            <a href="#/register" class="btn btn--call--register">{{'general_button_register' | translate}}</a>
        </div>
    </div>
    <div class="landing--downloads max-width">
        <h2 class="medium">{{ 'landing_title_availableForAllOS' | translate }}</h2>
        <ul class="row row--inline landing--section">
            <li class="col-medium-4">
                <i class="fa fa-windows"></i>

                <h3>Windows</h3>

                <div class="download--link medium">
                    <a class="landing--link--small" data-ng-href="{{envData.config.web2boardLinkWindows}}">{{ 'download' | translate }} Web2Board 32/64 bits</a>
                </div>
            </li>
            <li class="col-medium-4">
                <i class="fa fa-linux"></i>

                <h3>Linux</h3>

                <div class="download--link medium">
                    <a class="landing--link--small" data-ng-href="{{envData.config.web2boardLinkLinux}}">{{ 'download' | translate }} Web2Board 64-bits</a>
                    <a class="landing--link--small" data-ng-href="{{envData.config.web2boardLinkLinux32}}">{{ 'download' | translate }} Web2Board 32-bits</a>
                </div>
            </li>
            <li class="col-medium-4">
                <i class="fa fa-apple"></i>

                <h3>Mac OS 10.10</h3>

                <div class="download--link medium">
                    <a class="landing--link--small" data-ng-href="{{envData.config.web2boardLinkMac}}">{{ 'download' | translate }} Web2Board</a>
                </div>
            </li>
        </ul>
        <div class="landing--requirements">
          <span class="h3">
            {{ 'landing_requirements' | translate }}
          </span>
          <span class="text--secondary">
            {{ 'landing_requirements_text' | translate }}
          </span>
        </div>
    </div>
    <div class="footer" data-ng-include="'views/landing/landing-footer.html'"></div>
</div>
