.breadcrumb {
    width: 50%;
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
    h1 {
        display: inline-block;
    }

    .breadcrumb--subtext {
        font-size: 12px;
        color: #8c919b;
        &::before {
            text-decoration: initial;
            content: 'ID';
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    h1 {
        color: #8c919b;
        font-weight: 700;
        display: inline-block;
    }
    a {
        text-decoration: none;
        color: #373b44;
        &:hover {
            color: #82ad3a;
        }
    }

    &.second-level, &.third-level {
        h1 {
            &:after {
                content: '>';
                margin-left: 5px;
            }
        }
    }

    &.second-level {
        .breadcrumb--secondary{
            pointer-events: none;
            color: #8c919b;
            cursor: default;
        }
    }
}

/*
.table__header{
.breadcrumb {
    font-size: 20px;
    color: #373b44;
    a {
        color: #8c919b;
    }
}
*/
