/*
// BUTTONS //
*/
@mixin button($backgroudColor, $textColor) {
    font-weight: bold;
    background-color: $backgroudColor;
    color: $textColor;
    padding: 0.8em 1em;
    border-radius: 0.3em;
    min-width: 170px;
    min-height: 50px;
    line-height: 27px;
    transition: background-color 250ms;
    text-decoration: none;

    &:hover {
        transition: background-color 250ms;
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    .svg-icon {
        fill: $textColor;
        width: 1em;
        height: 1em;
        pointer-events: none;
    }
}

@mixin iconButton($backgroudColor, $textColor) {
    font-weight: bold;
    background-color: $backgroudColor;
    color: $textColor;
    width: 52px;
    padding: 0 1.25em;
    border-radius: 0.3em;
    line-height: 27px;
    transition: background-color 250ms;
    text-decoration: none;

    &:hover {
        transition: background-color 250ms;
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    .svg-icon {
        fill: $textColor;
        width: 1em;
        height: 1em;
        pointer-events: none;
    }
}

.btn--primary {
    @include button($button-primary, $button-primary-text);

    &:hover {
        background-color: $button-primary-hover;
    }

    &:active {
        background-color: $button-primary-pressed;
    }
}

.btn--secondary {
    @include button($button-secondary, $button-secondary-text);

    &:hover {
        background-color: $button-secondary-hover;
    }

    &:active {
        background-color: $button-secondary-pressed;
    }
}

.btn--tertiary {
    @include button($button-tertiary, $button-tertiary-text);

    &.btn--showMoreActions {
        span {
            pointer-events: none;
        }
    }

    &:hover {
        background-color: $button-tertiary-hover;
    }

    &:active {
        background-color: $button-tertiary-pressed;
    }
}

.btn--quaternary {
    @include button($button-quaternary, $button-quaternary-text);
    border: 1px solid $button-quaternary-border;

    &.btn--showMoreActions {
        span {
            pointer-events: none;
        }
    }

    &:hover {
        background-color: $button-quaternary-hover;
    }

    &:active {
        background-color: $button-quaternary-pressed;
    }
}


.btn--delete {
    float: right;
    min-width: 50px;

    .svg-icon {
        width: 13px;
        height: 13px;
        fill: $red!important;
    }
}

.btn--center-mode--table {
    @include button(rgba(0,0,0,0), $black-light);
    font-weight: bold;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);

    &:hover {
        background-color: #e8e8e8;
        border: 1px solid #dddddd;
    }

    &:active {
        background-color: $white;
        border: 1px solid #dddddd;
    }
}

.btn--disabled {
    background-color: $button-disabled;
    color: $button-disabled-text;

    .svg-icon {
        fill: $button-disabled-text;
    }
}

.btn:disabled {
    background-color: $button-disabled;
    color: $button-disabled-text;

    .svg-icon {
        fill: $button-disabled-text;
    }
}

.btn--small {
    max-height: 35px;
    min-height: 35px;
    line-height: 15px;
}

.btn--medium {
    min-height: 40px;
    max-height: 40px;
    line-height: 14px;
}

.btn--new-project {
    float: right;
    padding-right: 40.5px;
    padding-left: 40.5px;
}

.btn--social {
    width: 110px;
    font-size: 0.9375em;
    font-weight: bold;
    padding: 0.9em;
    color: white;
    height: 34px;
    line-height: 10px;
    transition: background-color 120ms linear;
}

.btn--dropdown {
    color: $grey-medium;
    flex: 1;
    text-align: left;
    height: 34px;
    font-style: italic;
    min-width: 70px;
    padding-right: 0.2em;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;

    .dropdown__heading {
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
        color: $grey-dark;
        cursor: pointer;
        margin-left: 0.2em;
        font-weight: 400;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    :first-child {
        margin-left: 11px;
        font-style: normal;
    }
}

.btn--dropdown--active {
    color: $grey-dark;
}

.button-group {
    float: right;
    padding: 0;

    a,
    button {
        margin: 0 10px;
        float: right;

        &:first-child {
            margin-right: 0;
        }
    }
}

.btn--row {
    width: 100%;
    margin-top: 21px;
}
