.date-picker, .time-picker {
    input {
        display: inline-block;
        height: 35px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #cfcfcf;
        margin: 0;
        padding: 12px 20px 11px 10px;
        font-size: 13px;
        &:disabled {
            color: #c0c3c9;
            background-color: #ebebeb;
        }
    }
    .btn {
        display: inline-block;
        width: 40px;
        height: 35px;
        background-color: #eeeeee;
        border: solid 1px #cfcfcf;
        padding: 0;
        margin: 0;
        position: relative;
        left: -6px;
        top: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.date-picker input {
    width: 100px;
}

.time-picker input {
    width: 72px;
}

.wickedpicker {
    z-index: 99999;
    width: 143px;
    height: 92px;
    .wickedpicker__title {
        display: none;
    }
}

.date-picker-date-time {
    border: solid 1px #cfcfcf;
}

.picker__container {
    display: inline-block;
    width: 49.5%;
    .picker-title {
        display: block;
        font-weight: bold;
        color: #373b44;
        line-height: 2.43;
    }

    .date-picker, .time-picker {
        display: inline-block;
    }
}
