// Modals

.ngdialog-close:before {
    color: #c0c3c9;
    position: relative;
    right: 4px;
}

.modal--container {
    text-align: center;
    /* May want to do this if there is risk the container may be narrower than the element inside */
    white-space: nowrap;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .ngdialog-overlay {
        z-index: -1;
    }

    .ngdialog-content {
        border-radius: 5px;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
    }

    &.modal--feedback-error,
    &.modal--input,
    &.modal--publish,
    &.modal--send-comments,
    &.modal--share-no-users,
    &.password-reset--modal {
        .ngdialog-content {
            width: 500px;
        }
    }

    &.modal--centerMode {
        .ngdialog-content {
            width: 580px;
        }

        .modal--information {
            .btn {
                width: 187px;
            }
        }
    }

    &.password-reset--modal {
        .modal {
            text-align: left;

            .form-control {
                margin-bottom: 30px;

                label {
                    margin-bottom: 10px;
                    color: #5d6069;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    &.modal--input {
        .form--input {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .modal--title{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 10px;
        }
    }

    &.modal--publish {
        p {
            white-space: normal;
        }
    }

    &.modal--feedback-error {
        .common--textarea {
            margin-top: 20px;
            margin-bottom: 10px;

            textarea {
                resize: none;
                border-radius: 10px;
                color: #8c919b;
                font-size: 13px;
                font-style: italic;
            }
        }

        .form--input {
            input {
                color: #8c919b;
                font-size: 13px;
                font-style: italic;
                border-radius: 4px;
            }
        }
    }

    &.modal--send-comments {
        .short--input {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        textarea {
            resize: none;
            border-radius: 10px;
            color: #8c919b;
            font-size: 13px;
            font-style: italic;
        }

        input {
            color: #8c919b;
            font-size: 13px;
            font-style: italic;
            border-radius: 4px;
        }
    }

    &.modal--alert {
        .ngdialog-content {
            width: 560px;

            .modal {
                text-align: center;
                position: relative;

                .modal--not-logged--image {
                    width: 65px;
                    fill: #f33;
                    height: 59px;
                    margin: 20px auto;
                    display: block;
                }

                .modal--not-logged-alert {
                    color: #373b44;
                    font-size: 24px;
                    font-weight: 700;
                    font-family: 'PT Sans', sans-serif;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: block;
                }

                .modal--not-logged--text {
                    margin-bottom: 30px;
                }

                button {
                    margin-bottom: 20px;
                }

                .btn--primary {
                    margin: auto;
                }

                .btn--secondary {
                    margin-left: 10px;
                }

                .btn__modal--close--no-title {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
            }
        }
    }

    &.modal--teacher {
        .ngdialog-content {
            width: 560px;

            form {
                text-align: center;

                .h1 {
                    margin-bottom: 10px;
                }

                button {
                    margin-top: 20px;
                    width: 235px;
                }

                p {
                    margin-bottom: 20px;
                }

                span {
                    height: 50px;
                    min-width: 236px;
                    background-color: #ebebeb;
                    display: block;
                    line-height: 50px;
                    padding-left: 20px;
                    border-radius: 4px;
                    color: #373b44;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    max-width: 235px;
                    margin: 10px auto;
                    cursor: pointer;
                    position: relative;

                    input {
                        margin-right: 20px;
                    }

                    label {
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding-left: 50px;
                    }
                }
            }
        }
    }

    &.modal--tour {
        .ngdialog-content {
            width: 560px;
        }

        .modal {
            text-align: center;
        }

        .btn {
            padding-left: 3em;
            padding-right: 3em;
        }

        .tour--reject {
            margin-top: 24px;
        }
    }

    &.modal--share-with-users {
        tags-input {
            margin-top: 20px;
        }
    }

    &.modal--activate-robot {
        .ngdialog-content {
            width: 670px;
        }

        form {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &.modal--hardware-wizard {
        .ngdialog-content {
            width: 835px;
            height: 628px;
        }
        .modal--buttons{
          padding-top: 20px;
        }
        .modal__footer{
          position: absolute;
          bottom: 0;
        }
        .ngdialog-close{
          display: none;
        }
        .modal__header h1{
          border-right: 0px;
        }
      }

    &.modal--download-web2board {
        .ngdialog-content {
            width: 550px;
            text-align: center;
        }

        .modal--download--webtoboard--title {
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: center;
        }

        .modal--download--webtoboard--text {
            margin-bottom: 2em;
            text-align: center;
            margin-left: 1em;
            margin-right: 1em;
        }

        .modal--download--webtoboard--choose {
            font-weight: bold;
            text-align: center;
            width: 100%;
            display: block;
            margin-bottom: 2em;
        }

        .modal--download--webtoboard--block-container {
            display: flex;
            height: 139px;

            small {
                margin-top: 1em;
                margin-bottom: 1em;
            }

            .webtoboard-view-all-link {
                color: #666;
                font-size: 12px;
                margin-top: 17px;
                display: block;
            }
        }

        .modal--download--webtoboard--image--container {
            display: flex;
            width: 127px;
            height: 118px;
            margin-left: 7%;
        }

        .modal--download--webtoboard--text-container {
            float: right;

            span {
                height: 13px;
                color: #373b44;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                display: block;
                cursor: default;
            }
        }

        .btn--webtoboard {
            width: 139px;
            height: 36px;
            background-color: #373b44;
            border-radius: 4px;
            margin-top: 17px;
        }
    }

    &.modal--open-project {
        .ngdialog-content {
            width: 780px;

            .modal {
                .modal__body {
                    padding: 0;

                    .open-project--tabs {
                        padding: 20px 30px;
                        color: #5d6069;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    .modal--projects--actions {
                        padding: 20px 30px;

                        .modal--projects--action {
                            display: inline-block;

                            common-dropdown {
                                width: 200px;
                            }
                        }
                    }

                    .modal--project--list {
                        margin-bottom: 30px;
                        height: 328px;
                        overflow: auto;

                        & .modal--project--item {
                            height: 50px;
                            line-height: 50px;
                            padding-left: 30px;
                            padding-right: 30px;

                            .modal--project--name {
                                width: 70%;
                                float: left;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            .modal--project--date {
                                float: right;
                                width: 30%;
                                float: right;
                                color: #8c919b;
                                font-size: 12px;
                                text-align: right;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            &:hover {
                                background-color: #ebebeb;
                                cursor: pointer;
                            }

                            &:nth-child(odd) {
                                background-color: #f6f6f6;

                                &:hover {
                                    background-color: #ebebeb;
                                    cursor: pointer;
                                }
                            }
                        }

                        .selected--item {
                            background-color: black !important;
                            color: white;
                            font-weight: bold;

                            &:hover {
                                background-color: black;
                            }

                            &:nth-child(odd) {
                                background-color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    &.modal--register-in-group {
        .input--error {
            margin-bottom: 0;
        }
    }
}

.modal {
    height: 100%;
    text-align: left;

    .modal__dialog {
        height: 100%;
    }

    .modal__dialog__content {
        height: 100%;
    }

    .modal__header {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #e2e2e2;
        line-height: 60px;
        color: #373b44;
        font-size: 16px;
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        .modal--close,
        h1 {
            display: inline-block;
            border-top-right-radius: 5px;
        }

        h1 {
            padding-left: 30px;
            width: calc(100% - 60px);
            border-right: 1px solid #e2e2e2;
        }

        .modal--close {
            width: 60px;
            border: 1px solid #e2e2e2;
            border-bottom: 0;
            float: right;

            .btn__modal--close {
                width: 100%;
                height: 60px;
            }

            .svg-icon__modal--close {
                fill: $font-color-disabled;
                width: 13px;
                height: 13px;
                transition: fill 250ms;
            }

            &:hover {
                .svg-icon__modal--close {
                    transition: fill 250ms;
                    fill: #939499;
                }
            }
        }
    }

    .modal__body {
        padding: 30px;

        .modal__parraph {
            margin-bottom: 17px;

            & + .modal__input {
                margin-top: 27px;
            }
        }
    }

    .modal--buttons {
        button {
            margin-right: 20px;
        }
        padding: 0 30px 30px;
    }
}

.modal--share-no-users {
    .modal__body {
        padding: 25px 0 !important;

        p {
            padding: 5px 30px;
        }
    }

    .import-modal__error-files {
        background-color: #e2e2e2;
        padding: 20px 48px;
        .files{
            list-style: initial;
        }
    }

    .share-modal__emails-no-user {
        background-color: #e2e2e2;
        padding: 20px 30px;
        .files{
            list-style: initial;
        }
        .email:last-child {
            .colon {
                display: none;
            }
        }
    }
}

.modal-share-social--container {
    .social-networks {
        padding: 15px 0;
    }
}

.modal-share--short-url-input {
    width: 100%;
    margin-top: 10px;

    input {
        height: 28px;
        text-align: center;
        padding-right: 10px;
        border-right: 1px solid #cfcfcf;
        min-width: calc(100% - 60px);
    }

    &:after {
        content: none;
    }

    .copy-selected-text {
        margin-left: 5px;
        position: relative;
        text-align: center;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.modal--delete-group {
    p:not(:first-child):not(:last-child){
        margin: 15px 0;
    }
}

.modal__footer--text {
    padding: 17px;
    text-align: center;
    background-color: #f1f1f1;

    .link--modal {
        color: #373b44;
    }
}

.modal--web2board-errors {
    .modal__body {
        width: 546px;
        padding: 50px;
    }

    .modal--web2board-errors--title {
        text-align: center;
        margin: 20px 0;
    }

    .modal--web2board-errors--content {
        margin: 30px;
    }

    .modal--web2board-errors--text {
        margin: 20px 0;
    }

    .modal--web2board-errors--list {
        margin: 5px 0;

        .svg-icon {
            fill: #82ad3a;
            width: 15px;
        }
    }

    .modal--web2board-errors--item {
        margin: 10px 0;
    }

    .modal--web2board-errors--phone {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

    .link--default {
        color: #000000;
    }
}

.modal_input_secondaryText {
    font-size: 25px;
    margin-top: 15px;

    &::before {
        content: 'ID ';
    }
}
/*
* simple and information modals
*/
.modal--information {
    text-align: center;
    display: block;

    .modal__header {
        padding-top: 30px;
        border-bottom: none;
        padding-left: 0;

        h1 {
            border-right: 0;
            padding-left: 0;
        }
    }

    .modal--title {
        font-size: 21px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modal--sencond-title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 48px;
        margin-bottom: 24px;
    }

    .modal_alert > *:not(.btn) {
        display: block;
        margin: 37px auto 25px;
    }

    .modal_alert > *:first-child {
        margin-top: 10px;
    }

    .modal_alert .text-content {
        margin: 25px auto 15px;
    }

    .modal--buttons button {
        margin: 0 10px;
    }

    a {
        color: #5d6069;
    }

    .objective-list {
        text-align: left;

        li {
            vertical-align: middle;
            margin: 10px 0;
            text-indent: -1.8em;
            padding-left: 1.8em;
            line-height: 1.57;
        }

        li::before {
            content: '';
            margin-right: 11.5px;
            background-image: url("../images/common/tickGreen.svg");
            background-size: 13px 10px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 12px;
            height: 10px;
        }
    }

    .input-list {
        .row {
            margin-top: 10px;
        }

        label {
            text-align: right;
            height: 35px;
            line-height: 2.5;
            font-size: 13px;
        }

        & input {
            width: 324px;
            height: 35px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px #cfcfcf;
        }

        small {
            padding-left: 0;
        }
    }

    .modal--buttons {
        padding: 0 30px 50px;
    }

    .modal__body {
        padding: 25px 52px;
    }
}
