.table__page {
    background-color: #eeeeee;
}

.table__page--with-header {
    height: calc(100% - 93px);
}

.table__header {
    height: 93px;
    padding: 36px 0 22px 0;
    .header__title {
        font-size: 20px;
        font-weight: 700;
        color: #373b44;
        padding: 0;
    }
}

.table__block {
    border-top: 2px solid #dddddd;
    .table__block__list:nth-child(2n) {
        background-color: white;
    }

}

.table__block--invert {
    padding: 0 10px;
    background-color: white;
    .table__block__list:nth-child(2n + 1) {
        background-color: white;
    }
}

.table__block--invert, .table__block {
    .table__block__list {
        padding: 10px;
        background-color: #eeeeee;
        min-height: 50px;
        &:hover {
            background-color: #e2e2e2;
            .table__block__button--delete {
                display: block;
            }
            .table__column--hover .btn {
                display: inherit;
            }
        }
        &:first-child {
            border-top: 1px solid #dddddd;
        }
        &:last-child {
            border-bottom: 1px solid #dddddd;
        }
        .table__column--hover .btn {
            display: none;
        }
    }
}

.table__block__list, .centerMode__table-title {
    &.row {
        margin: 0;
    }
}

.centerMode__table-title--exercises {
    padding-left: 0 !important;
    padding-bottom: 5px !important;

    span {
        padding-left: 0;
    }
}

.table__title {
    padding: 0 10px 30px 0;
    font-size: 16px;
    color: #373b44;
}

.centerMode__table-title span:first-child {
    padding-left: 0;
}

.table__block__item {
    margin: 0;
    padding: 0;
    padding-top: 0.7px;
    .table__item__text {
        color: #373b44;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: color 120ms;
        line-height: 1.5;
        text-align: left;
        &:hover {
            &, & > * {
                color: #82ad3a;
                cursor: pointer;
            }
        }
    }

    .block__item__title {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .block__item__title--small {
        font-size: 1em;
        font-weight: initial;
    }
    .block__item__explanation {
        display: inline-block;
        font-size: 12px;
        color: #8c919b;

    }
    .block__item__explanation--subscript {
        font-size: 0.7em;
        font-weight: 100;
        color: gray;
        display: block;
    }
}

.table__block__button--delete {
    float: right;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    display: none;
    background-color: white;
    border: solid 1px #cfcfcf;
    border-radius: 4px;
    .svg-icon {
        fill: #d82b32;
    }
}

.table__main {
    padding: 36px 0 22px 0;
    max-width: 1200px;
    margin: 0 auto;

    .table__item {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.table__added {
    margin: 30px 0;
    width: 100%;

    common-dropdown {
        float: left;
        width: 190px;
    }

    &:after {
        clear: both;
    }
}

.table__added__exercise {
    margin: 30px 0;
    width: 100%;

    common-dropdown {
        float: left;
        width: 48%;
        margin: 0 7px;

        &:last-child {
            float: right;
        }
    }

    &:after {
        clear: both;
    }
}

.table__block__button {
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    padding: 5px;
    line-height: 0;
    svg {
        width: 13px;
        height: 13px;
    }
}

.table__block--separated {
    border-top: 5px solid #ebebeb;
}

.table__column--centered {
    text-align: center;
}

.table__column--right {
    text-align: right;
}
