.tabs-layout {
    height : calc(100% - #{$sectionSubHeaderHeight});
    width  : 100%;
    display: table;

    .tabs-layout__aside {
        max-width: 1200px;
        margin   : 0 auto;

        .tabs__header {
            display     : block;
            width       : 100%;
            height      : $tabsLayout-asideHeight;
            padding-left: 30px;

            .tabs__header__item {
                display      : inline-block;
                float        : left;
                padding-left : 40px;
                padding-right: 40px;
                border       : 1px solid #eee;
                border-left  : 0;
                color        : #8c919b;
                font-weight  : bold;
                height       : $tabsLayout-asideHeight;
                line-height  : $tabsLayout-asideHeight;
                transition   : color 250ms, background-color 250ms;

                &:first-child {
                    border-left: 1px solid #eee;
                }

                .svg-icon--aside--menu {
                    transition: fill 250ms;
                }

                &:hover {
                    color : #373b44;
                    cursor: pointer;

                    .svg-icon--aside--menu {
                        fill: #373b44;
                    }
                }

                .svg-icon--aside--menu {
                    fill: #8c919b;
                }

                &.selected--tab {
                    background-color: #eee;
                    border          : 0;
                    color           : #373b44;

                    &:hover {
                        color: #373b44;
                    }

                    .svg-icon--aside--menu {
                        fill: $font-color-heading;
                    }
                }

                span {
                  cursor: pointer;
                }
            }
        }
    }

    .tabs-layout__content {
        height          : calc(100% - #{$tabsLayout-asideHeight});
        background-color: #eee;
        width           : 100%;
        display         : table;
        table-layout    : fixed;

        .tab {
            height   : 100%;
            max-width: 1200px;
            margin   : 0 auto;
        }
    }

    &.tabs-layout-proyect {
      height: 100%;
    }

}
