.table__page {
    background-color: #eeeeee;

    div[class^="col-"] {
        padding-left: 0;
    }
}

.table__page--with-header {
    min-height: calc(100% - 93px);
    //padding-top: 1px;
}

.table__header {
    height: 93px;
    padding-top: 36px;

    .header__title {
        font-size: 20px;
        font-weight: 700;
        color: $black-light;
        padding: 0;
    }
}

.table__block {
    border-top: 2px solid #dddddd;

    .table__block__list:nth-child(2n) {
        background-color: white;
    }
}

.table__block--invert {
    padding: 0 10px;
    background-color: white;

    .table__block__list:nth-child(2n + 1) {
        background-color: white;
    }
}

.table__block,
.table__block--invert {
    .table__block__list {
        padding: 11px 10px 9px;
        background-color: #eeeeee;
        min-height: 50px;

        &.table__block__hover:hover {
            background-color: #e2e2e2;

            .table__block__button--delete {
                display: block;
            }

            .table__column--hover .btn {
                display: inherit;
            }
        }

        &:last-child {
            border-bottom: 1px solid #dddddd;
        }

        .table__column--hover .btn {
            display: none;
        }
    }
}

.table__title {
    padding: 0 10px 30px 0;
    font-size: 16px;
    color: $black-light;

    .svg-icon--text {
        height: 13px;
        width: 13px;
        margin-top: 5px;
        margin-right: 10px;

        &.svg-icon--big {
            height: 16px;
            width: 16px;
            margin-top: 4px;
        }
    }
}

.table__block__item {
    margin: 0;
    padding: 0.7px 0 0;

    .table__item__text {
        width: 100%;
        color: $black-light;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: color 120ms;
        line-height: 1.5;
        text-align: left;
        cursor: default;
    }

    .table__item__link:hover {
        &,
        & > * {
            color: $green;
            cursor: pointer;
        }
    }

    .block__item__title {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .block__item__title--small {
        font-size: 1em;
        font-weight: initial;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .block__item__explanation {
        display: inline-block;
        font-size: 12px;
        color: $grey-medium;
        margin-left: 3px;
    }

    .block__item__explanation--subscript {
        font-size: 0.7em;
        font-weight: 100;
        color: gray;
        display: block;
        cursor: default;
    }

    .table__item__btn {
        &:not(.btn--delete) {
            width: 95px;
        }
        float: right;
    }
}

.table__block__button--delete {
    float: right;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    display: none;
    border: solid 1px $grey-border;
    border-radius: 4px;

    .svg-icon {
        fill: $red;
    }
}

.table__main {
    padding: 36px 30px 22px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #eeeeee;

    .table__item {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.table__added {
    margin: 20px 0;
    width: 100%;

    common-dropdown {
        float: left;
        width: 190px;
    }

    &:after {
        clear: both;
    }
}

.table__added__exercise {
    padding: 30px 0;
    width: 100%;
    border-top: 1px solid #dddddd;

    common-dropdown {
        float: left;
        width: 48%;
        margin: 0 7px;

        &:last-child {
            float: right;
        }
    }

    &:after {
        clear: both;
    }
}

.table__block__button {
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    padding: 5px;
    line-height: 0;

    svg {
        width: 13px;
        height: 13px;
    }
}

.table__block--separated {
    border-top: 5px solid $grey-item-hover;
}

.table__column--centered {
    text-align: center;
}

.table__column--right {
    text-align: right;
}
// Actions menu

.table__block__item--menu {
    position: absolute;
    height: auto;
    width: auto;
    margin-right: 6%;
    margin-top: 3%;
    right: 0;
    background-color: white;
    border: 1px solid #dadada;
    border-top: 0;
    white-space: nowrap;
    z-index: 8;
    border-left: 1px solid white;
    padding-top: 0.5em;

    &.table__block__moreactions--menu {
        margin-right: 0;
        margin-top: 36px;
        -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
            padding-left: 7px;

        &:hover {
            background-color: white;
        }
    }

    li:last-child {
        margin-bottom: 0.5em;
    }
    -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
}

.table__block__item--menu__item {
    display: flex;
    padding: 0.3em 1em;
    align-items: center;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: $grey-item-hover;
        cursor: pointer;
    }

    & > div[disabled],
    &[disabled] {
        pointer-events: none;
        color: $grey-light;

        .svg-icon {
            fill: $grey-light;
        }
    }

    .contact-us-email {
        text-align: left;
        width: 150px;
        line-height: initial;
    }
}

.table__block__item--menu__item--open {
    padding: 0 29px;
    text-align: left;
}

.table__block__item--menu__link {
    color: $grey-dark;
    padding: 0.3em 1em;
    width: 100%;
}

.table__block__item--menu__item-red {
    color: red;

    .svg-icon--menu{
      fill: red;
    }
}
