.table__page {
    background-color: #eeeeee;
}

.table__page--with-header {
    height: calc(100% - 93px);
}

.table__header {
    height: 93px;
    padding: 36px 0 22px 0;
    .header__title {
        font-size: 20px;
        font-weight: 700;
        color: #373b44;
        padding: 0;
    }
}

.table__block {
    border-top: 2px solid #dddddd;
    .table__block__list:nth-child(2n) {
        background-color: white;
    }

}

.table__block--invert {
    padding: 0 10px;
    background-color: white;
    .table__block__list:nth-child(2n + 1) {
        background-color: white;
    }
}

.table__block--invert, .table__block {
    .table__block__list {
        padding: 10px;
        background-color: #eeeeee;
        min-height: 50px;
        &.table__block__hover:hover {
            background-color: #e2e2e2;
            .table__block__button--delete {
                display: block;
            }
            .table__column--hover .btn {
                display: inherit;
            }
        }
        &:last-child {
            border-bottom: 1px solid #dddddd;
        }
        .table__column--hover .btn {
            display: none;
        }
    }
}

.table__title {
    padding: 0 10px 30px 0;
    font-size: 16px;
    color: #373b44;
    .svg-icon--text {
        height: 13px;
        width: 13px;
        margin-top: 5px;
        margin-right: 10px;
        &.svg-icon--big{
            height: 16px;
            width: 16px;
            margin-top: 4px;
        }
    }
}

.table__block__item {
    margin: 0;
    padding: 0;
    padding-top: 0.7px;
    .table__item__text {
        color: #373b44;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: color 120ms;
        line-height: 1.5;
        text-align: left;
        cursor: default;
    }
    .table__item__link:hover {
        &, & > * {
            color: #82ad3a;
            cursor: pointer;
        }
    }

    .block__item__title {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .block__item__title--small {
        font-size: 1em;
        font-weight: initial;
    }
    .block__item__explanation {
        display: inline-block;
        font-size: 12px;
        color: #8c919b;

    }
    .block__item__explanation--subscript {
        font-size: 0.7em;
        font-weight: 100;
        color: gray;
        display: block;
        cursor: default;
    }
    .table__item__btn {
        &:not(.btn--delete) {
            width: 95px;
        }
        float: right;
    }
}

.table__block__button--delete {
    float: right;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    display: none;
    background-color: white;
    border: solid 1px #cfcfcf;
    border-radius: 4px;
    .svg-icon {
        fill: #d82b32;
    }
}

.table__main {
    padding: 36px 0 22px 0;
    max-width: 1200px;
    margin: 0 auto;

    .table__item {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.table__added {
    margin-bottom: 30px;
    width: 100%;

    common-dropdown {
        float: left;
        width: 190px;
    }

    &:after {
        clear: both;
    }
}

.table__added__exercise {
    padding: 30px 0;
    width: 100%;
    border-top: 1px solid #dddddd;

    common-dropdown {
        float: left;
        width: 48%;
        margin: 0 7px;

        &:last-child {
            float: right;
        }
    }

    &:after {
        clear: both;
    }
}

.table__block__button {
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
    padding: 5px;
    line-height: 0;
    svg {
        width: 13px;
        height: 13px;
    }
}

.table__block--separated {
    border-top: 5px solid #ebebeb;
}

.table__column--centered {
    text-align: center;
}

.table__column--right {
    text-align: right;
}

// Actions menu

.table__block__item--menu {
    position: absolute;
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #dadada;
    border-top: 0;
    white-space: nowrap;
    z-index: 8;
    border-left: 1px solid white;
    padding-top: 0.5em;

    li:last-child {
        margin-bottom: 0.5em;
    }
    -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2), 0 15px 12px 1px rgba(0, 0, 0, 0.2);
}

.table__block__item--menu__item {
    display: flex;
    padding: 0.3em 1em;
    align-items: center;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: #ebebeb;
        cursor: pointer;
    }

    &[disabled] {
        pointer-events: none;
        color: gray;

        .svg-icon {
            fill: gray;
        }
    }

    .contact-us-email {
        text-align: left;
        width: 150px;
        line-height: initial;
    }
}

.table__block__item--menu__item--open {
    padding: 0;
}

.table__block__item--menu__link {
    color: #5d6069;
    padding: 0.3em 1em;
    width: 100%;
}

.table__block__item--menu__item-red {
    color: red;

    .svg-icon {
        fill: red;
    }
}
