[data-tooltips="true"] {
    &[data-tooltip] {
        cursor: default;
        position: relative;
        &:before {
            content: attr(data-tooltip);
            display: none;
            position: absolute;
            background-color: $black-light;
            font-size: 12px;
            font-weight: 700;
            min-width: 100px;
            text-align: center;
            border-radius: 4px;
            padding: 6px 10px;
            color: rgba(255, 255, 255, 0.95);
            font-weight: 500;
            width: 100%;
            clear: both;
            animation: ngdialog-fadein 250ms;
        }
        &:after {
            content: '';
            display: none;
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 5px 0;
            border-top-color: $black-light;
            animation: ngdialog-fadein 250ms;
        }
        &:hover {
            &:after,
            &:before {
                display: block;
                z-index: 9;
                height: 30px;
                width: auto;
                word-wrap: break-word;
                max-width: 500px;
            }
        }
    }
    &[data-tooltip-id="social-share"]:hover {
        &:after {
            z-index: -1;
        }
    }
    /* Tooltip styling */
    &[data-tooltip-position="top"] {
        &:before {
            transform: translateX(-35%);
            bottom: 100%;
            right: -50%;
        }
        &:after {
            bottom: 100%;
            margin-bottom: -5px;
        }
        &:hover {
            &:after {}
        }
    }
    &[data-tooltip-position="bottom"] {
        &:before {
            top: calc(100% + 10px);
            transform: translateX(-18px);
            height: auto!important;
        }
        &:hover {
            &:after {
                top: calc(100% - 20px);
                transform: translateX(30px) rotate(180deg);
            }
        }
    }
    &[data-tooltip-position="table__block__list"] {
        &:before {
            top: calc(100%);
            transform: translateX(-12px);
            height: auto!important;
        }
        &:hover {
            &:after {
                transform: rotate(180deg);
                top: 2px;
                left: 22px;
            }
        }
    }
    &[data-tooltip-position="table__block__item"] {
        &:before {
            top: 32px;
            transform: translateX(-12px);
            height: auto!important;
        }
        &:hover {
            &:after {
                transform: rotate(180deg);
                top: 2px;
                left: 22px;
            }
        }
    }
    &[data-tooltip-position="myprojects"] {
        &:before {
            top: calc(100% - 2px);
            transform: translateX(-3px);
            height: auto!important;
        }
        &:hover {
            &:after {
                transform: rotate(180deg);
                top: -16px;
                left: 20px;
            }
        }
    }
    &[data-tooltip-position="myprojects--right"] {
        &:before {
            top: calc(100% + 10px);
            transform: translateX(-40px);
            height: auto!important;
        }
        &:hover {
            &:after {
                transform: rotate(180deg);
                top: 2px;
                left: 0;
            }
        }
    }
    &[data-tooltip-position="myprojects--wide"] {
        &:before {
            top: calc(-45px + 5px);
            transform: translateX(-45%);
            white-space: nowrap;
        }
        &:hover {
            &:after {
                transform: translateY(-32px);
            }
        }
    }
    &[data-tooltip-position="myprojects--wide--right"] {
        &:before {
            transform: translateX(-45%);
            bottom: 32px;
            height: auto!important;
        }
        &:hover {
            &:after {
                transform: translateY(-32px) translateX(2px);
            }
        }
    }
    &[data-tooltip-position="right"] {
        &:before {
            left: calc(100% + 20px);
            top: 0;
            bottom: 0;
            margin: auto;
            white-space: nowrap;
        }
        &:hover {
            &:after {
                width: 10px;
                height: 10px;
                left: calc(100% + 15px);
                top: 43%;
                border: 5px solid $black-light;
                transform: rotate(45deg);
            }
        }
    }
    &[data-tooltip-position="left"] {
        &:before {
            right: calc(100% + 20px);
            top: 9px;
            bottom: 0;
            margin: auto;
            width: auto;
            white-space: nowrap;
        }
        &:hover {
            &:after {
                right: calc(100% + 15px);
                top: 43%;
                border: 5px solid $black-light;
                transform: rotate(45deg);
                height: 0;
            }
        }
    }
}
