// z-index
$zindex-modal        : 99;
$zindex-spinner      : 100;

// backdrops
$modal-backdrop-bg   : rgba(51, 51, 51, 0.75);
$spinner-backdrop-bg : rgba(255, 255, 255, 0.75);

// Typography
$styles-typography   : true;
$h1-size             : 24;
$h2-size             : 20;
$h3-size             : 16;
$h4-size             : 19;
$h5-size             : 17;
$h6-size             : 16;
$text-size           : 14;
$lead-size           : 18;
$small-size          : 12;

// Alert
$styles-alert        : false;

// Breadcrumb
$styles-breadcrumb   : false;

// Button
$styles-button       : true;

// Dropdown
$styles-dropdown     : false;

// Navigation
$styles-navigation   : false;

// Table
$styles-table        : false;

// Form
$styles-form         : false;

// Tab
$styles-tab          : false;

// Icon
$styles-icon         : false;

// Modal
$styles-modal        : false;

// Banner
$styles-banner       : false;

// Spinner
$styles-spinner      : false;

// Paginator
$styles-paginator    : false;

// Panel
$styles-panel		 : false;