.wysiwyg__container {
    display: block;
    width  : 100%;
    border : 1px solid $grey-border;

    .wysiwyg__header {
        display: block;

        .wysiwyg__btngroup {
            display         : block;
            background-color: #eee;
            margin          : 1px;
            height          : 30px;

            .wysiwyg__btngroup__item {
                font-family: sans-serif;
                float      : left;
                height     : 30px;

                .wysiwyg__btngroup__item__button {
                  padding: 5px;
display: block;
height: 30px;
width: 30px;
                    .wysiwyg__btngroup__item__button__icon {}

                    .wysiwyg__btngroup__item__button__text {
                        color: #666;
                    }
                }
            }
        }
    }

    .wysiwyg__content {}
}
