<div ng-include="'views/forum/forumHeader.html'"></div>
<div class="forum__category" ng-if="!forum.results.show">
    <div class="forum__table-title">
        <div class="col-vsmall-6">
            <span>{{'forum_column_theme' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'forum_column_answers' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'forum_column_views' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'forum_column_lastAnswer' | translate}}</span>
        </div>
    </div>
    <div class="forum__block">
        <div dir-paginate="thread in forum.categoryThemes | filter:q | itemsPerPage: forum.categoryThemesPerPage" class="row">
            <div class="col-vsmall-6">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <a ng-href="{{'#/help/forum/' + forum.currentCategory + '/' + thread._id}}">
                            <h2 class="block__item__title" data-element="forum-category-theme-title">{{thread.title}}</h2>
                        </a>
                        <span class="block__item__description">{{'by' | translate}}
                            <span class="block__item__owner">{{thread.creator.username}}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-2">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <span>{{thread.numberOfAnswers}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-2">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <span>{{thread.numberOfViews}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-2">
                <ul class="forum__block__list" ng-if="thread.numberOfAnswers !== 0">
                    <li class="forum__block__item">
                        <span class="block__username">{{'by' | translate}} <span class="block__username__link">{{thread.lastAnswer.creator.username}}</span></span>
                        <time>{{thread.lastAnswer.updatedAt | amDateFormat:'DD MMM YYYY, HH:mm'}}</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="forum__paginator">
        <dir-pagination-controls boundary-links="true" on-page-change="forum.refreshSearchLayout()" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</div>
<div class="forum__categories" ng-if="forum.results.show">
    <div class="forum__block">
        <div dir-paginate="result in forum.results.data | filter:{title: forum.searchText} | itemsPerPage: '10' track by $index">
            <ul class="forum__block__list">
                <li class="forum__search__item">
                    <a ng-href="{{'#/help/forum/' + result.categoryName + '/' + result._id}}">
                        <h2 class="block__item__title">{{result.title}}</h2>
                    </a>
                <span class="block__item__description">{{'by' | translate}}
                    <span class="block__item__owner">{{result.creator.username}}</span>
                    <span>{{'forum__searcher__into' | translate}}</span>
                    <span>{{result.categoryName}}</span>
                </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum__paginator">
        <dir-pagination-controls boundary-links="true" on-page-change="forum.refreshSearchLayout()" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</div>
