<div ng-include="'views/forum/forumSearcher.html'"></div>
<div class="forum__categories" ng-if="!forum.results.show">
    <div class="forum__table-title">
        <div class="col-vsmall-4">
            <span>{{'forum_column_category' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'forum_column_themes' | translate}}</span>
        </div>
        <div class="col-vsmall-2">
            <span>{{'forum_column_answers' | translate}}</span>
        </div>
        <div class="col-vsmall-4">
            <span>{{'forum_column_lastTheme' | translate}}</span>
        </div>
    </div>
    <div ng-repeat="(key, section) in forum.sections" class="forum__block">
        <div ng-if="key !== 'forum_section_1_main'" class="section__heading">{{key | translate}}</div>
        <div ng-repeat="category in section | orderBy:'order'" class="row">
            <div class="col-vsmall-4">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <a ng-href="{{'#/forum/' + category.name}}">
                            <h2 class="block__item__title" data-element="{{'forum-category-' + category.name}}">{{category.name}}</h2>
                        </a>
                        <span class="block__item__description">{{category.description}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-2">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <span data-element="{{'forum-threads-counter-' + category.name}}">{{category.numberOfThreads}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-2">
                <ul class="forum__block__list">
                    <li class="forum__block__item">
                        <span>{{category.numberOfAnswers}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-vsmall-4">
                <ul class="forum__block__list" ng-if="category.numberOfThreads !== 0">
                    <li class="forum__block__item">
                        <a href="#/forum/{{category.name | encode}}/{{category.lastThread._id}}">
                            <h3 class="block__last-theme__title">{{category.lastThread.title}}</h3>
                        </a>
                        <span class="block__username">{{'by' | translate}}
                            <span class="block__username__link">{{category.lastThread.creator.username}}</span>
                        </span>
                        <time>{{category.lastThread.updatedAt | amDateFormat:'DD MMM YYYY, HH:mm'}}</time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="forum__categories" ng-if="forum.results.show">
    <div class="forum__block">
        <div dir-paginate="result in forum.results.data | itemsPerPage: forum.itemsPerPage track by $index" current-page="forum.currentPage" total-items="forum.results.totalSize">
            <ul class="forum__block__list">
                <li class="forum__search__item">
                    <a ng-href="{{'#/forum/' + result.category._id + '/' + result._id}}">
                        <h2 class="block__item__title">{{result.title}}</h2>
                    </a>
                <span class="block__item__description">{{'by' | translate}}
                    <span class="block__item__owner">{{result.creator.username}}</span>
                    {{'forum__searcher__into' | translate}}
                    <span>{{result.category.name}}</span>
                </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum__paginator">
        <dir-pagination-controls boundary-links="true" on-page-change="forum.refreshSearchLayout()" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</div>
