<div class="forum">
    <div class="forum__header"  ng-if="forum.displayedView === 'main' || forum.displayedView === 'category' || forum.displayedView === 'theme'" ng-class="{'forum__header__admin':forum.isAdmin()}" ng-include="'views/forum/forumHeader.html'"></div>
    <div class="forum__main" ng-include="'views/forum/forumIndex.html'" ng-show="forum.displayedView === 'main'"></div>
    <div class="forum__main" ng-if="forum.displayedView === 'new-theme'" ng-include="'views/forum/newTheme.html'"></div>
    <div class="forum__main" ng-if="forum.displayedView === 'category'" ng-include="'views/forum/category.html'"></div>
    <div class="forum__main" ng-if="forum.displayedView === 'theme'" ng-include="'views/forum/theme.html'"></div>
    <div class="forum__main" ng-if="forum.displayedView === 'banned-users'" ng-include="'views/forum/bannedUsers.html'"></div>
    <span class="forum__footer">{{'forum__footer_contactUs' | translate }}
        <span>
            <button class="link--default" data-element="forum-contact-us-button" ng-click="forum.commonModals.contactModal()" ng-if="common.user" type="button">{{'forum__footer_contactUs-ClickHere' | translate}}</button>
            <a class="contact-us" data-element="forum-contact-us-link" href="mailto:{{'support_email' | translate}}" ng-if="!common.user" target="_blank">{{'forum__footer_contactUs-ClickHere' | translate}}</a>
        </span>
        {{'forum__footer_contactUsByEmail' | translate}}
        <b>soporte.bitbloq@bq.com</b>
    </span>
</div>
