<div class="forum__main forum__header">
    <div class="breadcrumb" ng-class="{'second-level':forum.currentCategory, 'third-level':forum.themeCategory}" data-element="forum-header-breadcrumb" >
        <h1><a href="#/forum">{{'help_title_forum' | translate}}</a></h1>
        <a ng-if="forum.currentCategory || forum.themeCategory" class="breadcrumb--secondary" ng-href="#/forum/{{forum.themeCategory | encode}}">{{forum.currentCategory || forum.themeCategory}}</a>
    </div>
    <button ng-if="!forum.themeCategory" class="btn btn--primary btn--small" ng-click="forum.goForumSection('new-theme')" data-element="forum-new-topic-button">
        <svg class="svg-icon">
            <use xlink:href="#plus"></use>
        </svg>
        <span>{{'forum_button_newTheme' | translate}}</span>
    </button>
    <button ng-if="!forum.themeCategory && forum.isAdmin()" class="btn btn--secondary btn--small btn--ban-user" ng-click="forum.goForumSection('banned-users')" data-element="forum-new-topic-button">
        <span>{{'forum_button_bannedUsers' | translate}}</span>
    </button>
</div>
