.plotter--panel {
    .plotter {
        width: 95% !important;
    //    height: 400px !important;
        margin-left: 14px !important;
        .chart-air {
            margin-top: 25px !important;
        }
    }

    .ports {
        .ports--sort-dropdown {
            width: 90%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 2%;
        }
        .refresh {
            display: inline-block;
            vertical-align: middle;
            .svg-icon {
                fill: $brand-icons-default-color;
            }
        }
    }
}
