.serial--panel {
    .ports {
        .ports--sort-dropdown {
            width: 90%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 2%;
        }
        .refresh {
            display: inline-block;
            vertical-align: middle;
            .svg-icon {
                fill: $brand-icons-default-color;
            }
        }
    }
}