<div class="modal_alert">
    <p>{{mainText | translate}}</p>
    <h2 class="exercise-name">{{exerciseName}}</h2>
    
    <div class="assign-group">
        <div class="centerMode__table-title row">
            <span class="col-vsmall-7">{{'centerMode_column_group' | translate}}</span>
            <span class="col-vsmall-5">{{'centerMode_column_students' | translate}}</span>
        </div>
        <ul class="table__block--invert assign-group__content">
            <li class="table__block__list" ng-repeat="group in groups">
                <span class="checkbox--general">
                        <input type="checkbox" name="groupCheck" id="{{'group_'+group._id}}" ng-init="group.selected=oldGroups[group._id]? true: false" ng-model="group.selected"/>
                </span>
                <div class="group__head row" ng-click="expandedItem[group._id] = !expandedItem[group._id]">
                    <span class="col-vsmall-8 table__block__item">
                            <h2 class="block__item__title block__item__title--small" data-element="{{'centerMode_item_' + group.name}}">
                                {{group.name}}
                            </h2>
                            <span class="block__item__explanation--subscript text-ID">{{group.accessId}}</span>
                    </span>
                    <span class="col-vsmall-3 table__block__item group__expanded--number">{{group.students.length || 0}}</span>
                    <div class="col-vsmall-1 table__block__item group__expanded--icon">
                        <svg class="svg-icon svg-icon--text" ng-show="!expandedItem[group._id]">
                            <use xlink:href="#plus"></use>
                        </svg>
                        <svg class="svg-icon svg-icon--text" ng-show="expandedItem[group._id]">
                            <use xlink:href="#minus"></use>
                        </svg>
                    </div>
                </div>
                <div class="group__content" ng-show="expandedItem[group._id]" ng-init="group.calendar={}">
                    <span class="checkbox" ng-init="group.withoutDate=(oldGroups[group._id]&&!oldGroups[group._id][0].endDate)">
                        <input type="checkbox" name="date" id="{{'withoutDate' + group._id}}" ng-model="group.withoutDate"/>
                        <label class="without-date" for="{{'withoutDate' + group._id}}">{{'centerMode_exerciseWithoutDate' | translate}}</label>
                    </span>
                    <div ng-show="!group.withoutDate">
                        <div class="picker__container" ng-init="group.calendar.from={}">
                            <span class="picker-title">{{'centerMode_date_from' | translate}}</span>
                            <div class="date-picker" ng-init="group.calendar.from.date=oldGroups[group._id]?oldGroups[group._id][0].initDate:today">
                                <input date-time id="{{'datePicker0' + group._id}}" ng-model="group.calendar.from.date" format="DD/MM/YYYY" placeholder="dd/mm/aaaa" min-view="date" max-view="year" view="date" ng-disabled="group.withoutDate"/>
                                <button class="btn btn--tertiary table__block__button" ng-click="showDatePicker('datePicker0' + group._id)" ng-disabled="group.withoutDate">
                                    <svg class="svg-icon">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="time-picker" ng-init="initTimePicker(); group.calendar.from.time = getTime(oldGroups[group._id]?oldGroups[group._id][0].initDate:'')">
                                <input type="text" id="{{'timePicker0' + group._id}}" class="timepicker" ng-model="group.calendar.from.time" placeholder="hh:mm" ng-disabled="group.withoutDate"/>
                                
                                <button class="btn btn--tertiary table__block__button" ng-click="showTimePicker('timePicker0' + group._id, $event)" ng-disabled="group.withoutDate">
                                    <svg class="svg-icon">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="picker__container" ng-init="group.calendar.to={date: today}">
                            <span class="picker-title">{{'centerMode_date_to' | translate}}</span>
                            <div class="date-picker" ng-init="group.calendar.to.date=oldGroups[group._id]?oldGroups[group._id][0].endDate:today">
                                <input date-time id="{{'datePicker1' + group._id}}" ng-model="group.calendar.to.date" format="DD/MM/YYYY" placeholder="dd/mm/aaaa" min-view="date" max-view="year" view="date" ng-disabled="group.withoutDate"/>
                                <button class="btn btn--tertiary table__block__button" ng-click="showDatePicker('datePicker1' + group._id)" ng-disabled="group.withoutDate">
                                    <svg class="svg-icon">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="time-picker" ng-init="initTimePicker(); group.calendar.to.time = getTime(oldGroups[group._id]?oldGroups[group._id][0].endDate:'')">
                                <input type="text" id="{{'timePicker1' + group._id}}" class="timepicker" ng-model="group.calendar.to.time" placeholder="hh:mm" ng-disabled="group.withoutDate"/>
                                
                                <button class="btn btn--tertiary table__block__button" ng-click="showTimePicker('timePicker1' + group._id, $event)" ng-disabled="group.withoutDate">
                                    <svg class="svg-icon">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <button class="btn btn--secondary btn--small" ng-click="newGroup()" data-element="centerMode-new-group">
        {{ 'centerMode_button_createNewGroup' | translate }}
    </button>
</div>
