<div class="modal_alert editgroup">
    <p>{{mainText | translate}}</p>
    <h2 class="exercise-name" data-tooltip-position="bottom" data-tooltip="{{exerciseName}}" data-bitbloq-tooltip data-bitbloq-tooltip-showonellipsis="true">{{exerciseName}}</h2>
    <div class="assign-group">
        <div class="center-mode__table-title row">
            <span class="col-vsmall-7">{{'centerMode_column_group' | translate}}</span>
            <span class="col-vsmall-4">{{'centerMode_column_students' | translate}}</span>
        </div>
        <ul class="table__block--invert assign-group__content">
            <li class="table__block__list table__block__hover handcursor" ng-repeat="group in groups" ng-show="!onlyEdit || (!onlyShowGroup && oldGroups[group._id]) || group._id === onlyShowGroup"
                data-element="editclassesmodal-class-{{group.name}}">
                <ng-form name="{{'form' + group._id}}">
                    <span class="checkbox--general">
                        <input type="checkbox" name="groupCheck" id="{{'group_'+group._id}}" ng-show="!onlyEdit" ng-model="group.selected" ng-click="expandedItem[group._id] = true" data-element="editclassesmodal-select-input" />
                    </span>
                    <div class="group__head row" ng-click="clickGroupHandler(group)">
                        <span class="col-vsmall-7 table__block__item handcursor" data-tooltip-position="table__block__item" data-tooltip="{{group.name}}"
                            data-bitbloq-tooltip data-bitbloq-tooltip-showonellipsis="true">
                            <h2 class="block__item__title block__item__title--small handcursor" data-element="{{'centerMode_item_' + group.name}}">
                                {{group.name}}
                            </h2>
                        </span>
                        <span class="col-vsmall-3 table__block__item group__expanded--number">{{group.students.length || 0}}</span>
                        <div class="col-vsmall-1 table__block__item group__expanded--icon">
                            <svg class="svg-icon svg-icon--text animated-rotate" ng-class="{'rotate-90':expandedItem[group._id],'rotate90':!expandedItem[group._id]}">
                                <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="group__content" ng-show="expandedItem[group._id]" ng-init="group.calendar={}" ng-click="group.selected=group.selected?group.selected:(!!group.calendar.from.date || !!group.calendar.from.time  || !!group.calendar.to.date || !!group.calendar.to.time)">
                        <span class="checkbox" ng-init="group.withoutDate=(oldGroups[group._id]&&!oldGroups[group._id][0].initDate)">
                            <input type="checkbox" name="date" id="{{'withoutDate' + group._id}}" ng-model="group.withoutDate" ng-click="group.selected=true" />
                            <label class="without-date" for="{{'withoutDate' + group._id}}">{{'centerMode_exerciseWithoutDate' | translate}}</label>
                        </span>
                        <div ng-show="!group.withoutDate">
                            <div class="picker__container" ng-init="group.calendar.from={}">
                                <span class="picker-title">{{'centerMode_date_from' | translate}}</span>
                                <div class="date-picker" ng-init="group.calendar.from.date=oldGroups[group._id]?oldGroups[group._id][0].initDate:''">
                                    <input date-time readonly="readonly" name="{{'datePicker0' + group._id}}" id="{{'datePicker0' + group._id}}" ng-model="group.calendar.from.date"
                                        format="DD/MM/YYYY" placeholder="dd/mm/aaaa" min-view="date" max-view="year" view="date"
                                    />
                                    <button class="btn btn--tertiary table__block__button" ng-click=" showDatePicker('datePicker0' + group._id)">
                                        <svg class="svg-icon">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="time-picker" ng-init="initTimePicker(getTime(oldGroups[group._id]?oldGroups[group._id][0].initDate:''),group._id, 0); group.calendar.from.time = getTime(oldGroups[group._id]?oldGroups[group._id][0].initDate:'')">
                                    <input type="text" readonly="readonly" id="{{'timePicker0' + group._id}}" class="timepicker" ng-model="group.calendar.from.time"
                                        placeholder="hh:mm" />
                                    <button class="btn btn--tertiary table__block__button" ng-click="showTimePicker('timePicker0' + group._id, $event)">
                                        <svg class="svg-icon">
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="picker__container" ng-init="group.calendar.to={}">
                                <span class="picker-title">{{'centerMode_date_to' | translate}}</span>
                                <div class="date-picker" ng-init="initDatePicker();group.calendar.to.date=oldGroups[group._id]?oldGroups[group._id][0].endDate:''">
                                    <input date-time readonly="readonly" id="{{'datePicker1' + group._id}}" ng-model="group.calendar.to.date" format="DD/MM/YYYY"
                                        placeholder="dd/mm/aaaa" min-view="date" max-view="year" view="date" />
                                    <button class="btn btn--tertiary table__block__button" ng-click="showDatePicker('datePicker1' + group._id)">
                                        <svg class="svg-icon">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div id="time-picker-to" class="time-picker" ng-init="initTimePicker(getTime(oldGroups[group._id]?oldGroups[group._id][0].endDate:'')); group.calendar.to.time = getTime(oldGroups[group._id]?oldGroups[group._id][0].endDate:'')">
                                    <input type="text" readonly="readonly" id="{{'timePicker1' + group._id}}" class="timepicker" ng-model="group.calendar.to.time"
                                        placeholder="hh:mm" ng-pattern-restrict="^[0-9 ]{0,2}([: ])*([0-9 ]{0,2})?$" />
                                    <button class="btn btn--tertiary table__block__button" ng-click="showTimePicker('timePicker1' + group._id, $event, group.calendar.to.time)">
                                        <svg class="svg-icon">
                                            <use xlink:href="#clock"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </li>
        </ul>
    </div>
    <button class="btn btn--secondary btn--small" ng-if="!onlyEdit" ng-click="newGroup()" data-element="centerMode-new-group">
        {{ 'centerMode_button_newClass' | translate }}
    </button>
</div>