<!DOCTYPE html>
<html>

<head>
    <title>Bitbloq</title>
    <!-- Standard html meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Mundo Reader S.L.">
    <meta name="description" content="¿Quieres programar el mundo? Aprende a programar jugando y crea todo lo que te imagines: robots, juegos electrónicos ¡y hasta tus propios inventos!">
    <meta name="keywords" content="bitbloq, programación visual, programacion para niños">
    <meta name="application-name" content="Bitbloq">
    <meta name="copyright" content="Mundo Reader, S.L.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="bitbloq">
    <meta itemprop="description" content="¿Quieres programar el mundo? Aprende a programar jugando y crea todo lo que te imagines: robots, juegos electrónicos ¡y hasta tus propios inventos!">
    <meta itemprop="url" content="http://bitbloq.bq.com/">
    <meta itemprop="image" content="images/common/app-logo.png">
    <meta itemprop="author" content="bq">
    <meta itemprop="datePublished" content="20-11-2014">
    <meta itemprop="operatingSystems" content="Windows, Linux, Mac OS">
    <meta itemprop="applicationCategory" content="robótica, educación, arduino">
    <meta itemprop="applicationSubCategory" content="Arduino, Freaduino">
    <meta itemprop="softwareVersion" content="0.0.5">
    <meta itemprop="browserRequirements" content="HTML5, Google Chrome, JavaScript">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bqreaders">
    <meta name="twitter:creator" content="@bqreaders">
    <meta name="twitter:title" content="bitbloq">
    <meta name="twitter:description" content="¿Quieres programar el mundo? Aprende a programar jugando y crea todo lo que te imagines: robots, juegos electrónicos ¡y hasta tus propios inventos!">
    <meta name="twitter:image:src" content="images/common/twitter-card.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="bitbloq">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bitbloq.bq.com/">
    <meta property="og:image" content="images/common/app-logo.png">
    <meta property="og:description" content="¿Quieres programar el mundo? Aprende a programar jugando y crea todo lo que te imagines: robots, juegos electrónicos ¡y hasta tus propios inventos!">
    <meta property="og:site_name" content="bitbloq">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/common/favicon.ico">
    <link rel="apple-touch-icon" href="images/common/touch-icon.png">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- build:css({.tmp,app,.}) styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/bloqs/dist/bloqs.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body data-ng-app="bitbloqApp" class="body" data-ng-class="{'show--header':isHeader()}" data-ng-controller="BodyCtrl" oncontextmenu="return false;">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-include="'images/sprite.svg'" class="hidden"></div>
    <div data-ng-include="'views/header.html'" class="header--general" data-ng-if="isHeader()"></div>
    <div data-ng-include="'views/alerts.html'" class="alerts--container" ng-controller="AlertsCtrl"></div>
    <div data-ng-view="" class="main">
    </div>
    <div ng-hide="common.cookiesAccepted" class="bitbloq--cookies" ng-class="{visible:common.userIsLoaded || common.user && !common.user.properties.cookiePolicyAccepted}">
        <p>{{ 'policies-cookies-info' | translate }} <a href="/#/cookies" data-element="cookies-link">{{ 'policies-cookies' | translate }}</a></p>
        <button data-element="cookies" class="btn btn--close--cookies" ng-click="common.acceptCookies()">
            {{'accept' | translate}}
        </button>
        <a href="http://bq.com">{{'reject' | translate}}</a>
    </div>
    <canvas id="testcanvas" style="background-color: white; width: 285px; height: 190px;" class="invisible"></canvas>
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- build:js({.,app}) scripts/vendors.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-elastic-input/dist/angular-elastic-input.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/angular-websocket/angular-websocket.min.js"></script>
    <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script src="bower_components/js-beautify/js/lib/beautify.js"></script>
    <script src="bower_components/jsplumb/dist/js/jsPlumb-2.0.5.js"></script>
    <script src="bower_components/jsrsasign/jsrsasign-latest-all-min.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/mobile-detect/mobile-detect.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/jszip/dist/jszip.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/angular-clipboard/angular-clipboard.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/jquery-auto-grow-input/jquery.auto-grow-input.min.js"></script>
    <script src="bower_components/autogrow/autogrow.js"></script>
    <script src="bower_components/bloqs/dist/bloqs.min.js"></script>
    <script src="bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
    <!-- endbower -->
    <!-- jsrsasign: manual injection -->
    <script src="bower_components/ace-builds/src-min/ace.js"></script>
    <script src="bower_components/ace-builds/src-min/ext-language_tools.js"></script>
    <script src="bower_components/ace-builds/src-min/ext-beautify.js"></script>
    <script src="bower_components/ace-builds/src-min/snippets/text.js"></script>
    <script src="bower_components/ace-builds/src-min/snippets/c_cpp.js"></script>
    <script src="bower_components/ace-builds/src-min/theme-chrome.js"></script>
    <script src="res/ace-themes/theme-bitbloq.js"></script>
    <script src="bower_components/ace-builds/src-min/mode-c_cpp.js"></script>
    <script src="bower_components/jsrsasign/base64x-1.1.min.js"></script>
    <script src="bower_components/jsrsasign/ext/sha256.js"></script>
    <!-- /jsrsasign -->
    <script src="scripts/vendors/prism.js"></script>
    <!-- <script src="scripts/vendors/protoBoLa.js"></script> -->
    <script src="scripts/vendors/autoGrow.js"></script>
    <script src="scripts/vendors/autoGrowInput.js"></script>
    <script src="res/vendor/moment.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/HubsApi.js"></script>
    <script src="scripts/services/HubsAPI.factory.js"></script>
    <script src="scripts/services/alerts.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/authInterceptor.js"></script>
    <script src="scripts/services/common.js"></script>
    <script src="scripts/services/userApi.js"></script>
    <script src="scripts/services/projectApi.js"></script>
    <script src="scripts/services/imageApi.js"></script>
    <script src="scripts/services/faqsApi.js"></script>
    <script src="scripts/services/changeLogsApi.js"></script>
    <script src="scripts/services/forumApi.js"></script>
    <script src="scripts/services/resource.js"></script>
    <script src="scripts/services/web2board.js"></script>
    <script src="scripts/services/web2board2.js"></script>
    <script src="scripts/services/bloqsApi.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/hw2bloqs.js"></script>
    <script src="scripts/services/feedbackApi.js"></script>
    <script src="scripts/services/commonModals.js"></script>
    <script src="scripts/services/lodash.factory.js"></script>
    <script src="scripts/services/openWindow.js"></script>
    <script src="scripts/directives/corbelsrc.js"></script>
    <script src="scripts/directives/beautyCode.js"></script>
    <script src="scripts/directives/bitbloqBloqCreator.js"></script>
    <script src="scripts/directives/commonDropdown.js"></script>
    <script src="scripts/directives/drag&drop.js"></script>
    <script src="scripts/directives/bitbloqTooltip.js"></script>
    <script src="scripts/controllers/landing.js"></script>
    <script src="scripts/controllers/body.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/controllers/make.js"></script>
    <script src="scripts/controllers/makeActions.js"></script>
    <script src="scripts/controllers/explore.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/bloqstab.js"></script>
    <script src="scripts/controllers/infotab.js"></script>
    <script src="scripts/controllers/hardwareTab2.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/infotab.js"></script>
    <script src="scripts/controllers/projects.js"></script>
    <script src="scripts/controllers/resetPassword.js"></script>
    <script src="scripts/controllers/styleguide.js"></script>
    <script src="scripts/controllers/cookies.js"></script>
    <script src="scripts/controllers/terms.js"></script>
    <script src="scripts/controllers/alerts.js"></script>
    <script src="scripts/controllers/project.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/unsupported.js"></script>
    <script src="scripts/controllers/code.js"></script>
    <script src="scripts/controllers/forum.js"></script>
    <script src="scripts/controllers/serialMonitor.js"></script>
    <script src="scripts/services/bloqs.factory.js"></script>
    <!-- endbuild -->
</body>

</html>
