<div class="tour-steps">
    <div ng-show="tourCurrentStep === 5" class="tour-step--fifth tour-step--right">
        <small>{{ 'tour-step-five' | translate }}</small>
        <span>{{ 'tour-step-five-text' | translate }}</span>
    </div>
    <div ng-show="tourCurrentStep === 6" class="tour-step--sixth tour-step--right">
        <small>{{ 'tour-step-six' | translate }}</small>
        <span>{{ 'tour-step-six-text' | translate }}</span>
    </div>
</div>
<aside id="toolbox" class="toolbox--right toolbox--software" ng-init="selectedToolboxTab = 'basic'" ng-class="{'toolbox--expand':selectedBloqsToolbox!=='', 'toolbox--checks':common.section==='exercise'}" data-element="toolbox">
    <h1 class="hidden">Components Toolbox</h1>
    <!--
    -- ALIAS COLOR BUTTONS
    -->
    <aside class="tabs-layout__aside tabs-layout__aside--vertical">
        <!-- project buttons -->
        <ul class="element-toolbox" ng-click="selectedToolboxTab = 'basic'" ng-show="common.section ==='bloqsproject' || common.section ==='task' || (common.section ==='exercise' && selectedBloqsToolbox!=='')">
            <li class="tabs__header__item--vertical" ng-repeat="(key, item) in generalToolboxOptions" ng-class="{'toolbox-{{key}}':true, 'selected--tab': selectedBloqsToolbox===key}" ng-show="item.showCondition?item.showCondition():true" data-element="{{item.dataElement}}">
                <button class="btn-text element-toolbox" ng-click="changeBloqsToolbox(key)">
                    {{item.icon? '':(item.literal | translate).substring(0, 3)}}
                    <svg class="svg-icon" ng-if="item.icon">
                        <use xlink:href="{{item.icon}}"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <!-- exercise buttons -->
        <ul ng-click="selectedToolboxTab = 'basic'" ng-if="common.section==='exercise'" ng-show="selectedBloqsToolbox===''">
            <li class="tabs__header__item--vertical" ng-repeat="(key, item) in generalToolboxOptions" ng-class="{'toolbox-{{key}}':true, 'selected--tab': selectedBloqsToolbox===key}" ng-show="item.showCondition?item.showCondition():true" data-element="{{item.dataElement}}">
                <button class="btn-svg element-toolbox">
                    <span class="input input--checkbox">
                        <input type="checkbox" class="element-toolbox" ng-id="{{item.id}}" ng-model="item.model" data-indeterminate-checkbox data-counter-check="item.counter" data-change-function="addChecks" data-selected-tab="selectedBloqsToolbox" data-basic-tab="{{item.basicTab}}" data-advanced-tab="{{item.advancedTab}}" data-update-state="statusGeneralCheck" />
                    </span>
                </button>
            </li>
        </ul>
    </aside>
    <!--
    -- ALIAS TEXT BUTTONS
    -->
    <div class="toolbox__menu" ng-show="selectedBloqsToolbox===''">
        <ul ng-click="selectedToolboxTab = 'basic'">
            <li class="toolbox__item" ng-repeat="(key, item) in generalToolboxOptions" ng-show="item.showCondition?item.showCondition():true">
                <button class="btn btn-text element-toolbox" ng-click="changeBloqsToolbox(key)">
                    {{item.literal | translate}}
                    <svg class="svg-icon svg-icon--right">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!--
     -- TABS
     -->
    <div class="toolbox__content tabs-layout" ng-show="selectedBloqsToolbox!==''">
        <aside class="toolbox__tabs tabs-layout__aside">
            <h1 class="invisible">Components menu</h1>
            <ul class="tabs__header">
                <li class="tabs__header__item toolbox_tabs--checkbox" ng-class="{'selected--tab':selectedToolboxTab === 'basic'}">
                    <button class="element-toolbox" ng-click="selectedToolboxTab = 'basic'" data-element="toolbox-basic-button">
                        <span class="input input--checkbox">
                            <input type="checkbox" class="element-toolbox" id="basicCheck" ng-model="basicModel" data-indeterminate-checkbox data-counter-check="checkBasicTab" data-change-function="addChecks" data-selected-tab="selectedBloqsToolbox" data-update-state="statusGeneralCheck" />
                        </span>
                        {{'basics' | translate}}
                    </button>
                </li>
                <li class="tabs__header__item toolbox_tabs--checkbox" ng-class="{'selected--tab':selectedToolboxTab === 'advance'}" ng-show="common.properties.bloqsSortTree['advanced'+selectedBloqsToolbox.charAt(0).toUpperCase()+selectedBloqsToolbox.slice(1)]">
                    <button class="element-toolbox" ng-click="selectedToolboxTab = 'advance'" data-element="toolbox-advanced-button">
                        <span class="input input--checkbox">
                            <input type="checkbox" class="element-toolbox" id="advanceCheck" ng-model="advancedModel" data-indeterminate-checkbox data-counter-check="checkAdvanceTab" data-change-function="addChecks" data-selected-tab="'advanced'+selectedBloqsToolbox.charAt(0).toUpperCase()+selectedBloqsToolbox.slice(1)" />
                        </span>
                        {{'make-swtoolbox-advanced' | translate}}
                    </button>
                </li>
            </ul>
        </aside>
        <!--
        -- BASIC BLOQS
        -->
        <div class="tabs-layout__content" ng-show="selectedToolboxTab === 'basic'">
            <ul class="toolbox--bloqs--container" ng-repeat="(key, item) in generalToolboxOptions" ng-show="selectedBloqsToolbox===key && (!item.backgroundImage || currentProject.hardware.showRobotImage)" data-element="{{item.dataElement}}Container">
                <li ng-repeat="bloq in common.properties.bloqsSortTree[item.properties.basicBloqs]" ng-id="{{'bloq' + bloq.name}}" data-ng-class="bloq.addClass" ng-show="(common.section !== 'task' || currentProject.selectedBloqs[key].indexOf(bloq.name)>-1) && (!item.showBasicBloqsCondition || item.showBasicBloqsCondition(bloq.name))" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree[item.properties.basicBloqs][$index].name]" data-components-array="currentProjectService.componentsArray">
                    <span class="input input--checkbox">
                        <input type="checkbox" class="element-toolbox" id="{{bloq.name + 'Check'}}" ng-model="checkModel[bloq.name]" ng-click="addChecks(key, checkModel[bloq.name], bloq.name)" data-indeterminate-checkbox data-children-checkbox="currentProject.selectedBloqs[key]" />
                    </span>
                </li>
                <li ng-if="key==='components' && !anyComponent()" class="error--text">{{"no-components-connected" | translate}}</li>
            </ul>
            <!-- mBot V1-->
            <ul class="toolbox--bloqs--container" ng-show="selectedBloqsToolbox==='mBot' && !currentProject.hardware.showRobotImage">
                <li id="{{'bloq' + mBot.name}}" data-ng-class="mBot.addClass" data-ng-repeat="mBot in common.properties.bloqsSortTree.mBot" ng-show="common.section !== 'task' || currentProject.selectedBloqs.mBot.indexOf(mBot.name)>-1" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.mBot[$index].name]" data-components-array="currentProjectService.componentsArray">
                    <span class="input input--checkbox">
                        <input type="checkbox" class="element-toolbox" id="{{mBot.name + 'Check'}}" ng-model="checkModel[mBot.name]" ng-click="addChecks('mBot', checkModel[mBot.name], mBot.name)" data-indeterminate-checkbox data-children-checkbox="currentProject.selectedBloqs.mBot" />
                    </span>
                </li>
            </ul>
        </div>
        <!--
        -- ADVANCE BLOQS
        -->
        <div class="tabs-layout__content" ng-show="selectedToolboxTab === 'advance'">
            <ul class="toolbox--bloqs--container" ng-repeat="(key, item) in generalToolboxOptions" ng-if="item.properties.advancedBloqs" ng-show="selectedBloqsToolbox===key && (!item.backgroundImage || currentProject.hardware.showRobotImage)">
                <li ng-repeat="advancedBloq in common.properties.bloqsSortTree[item.properties.advancedBloqs]" ng-id="{{'bloq' + advancedBloq.name}}" ng-class="advancedBloq.addClass" ng-show="(common.section !== 'task' || currentProject.selectedBloqs[item.properties.advancedBloqs].indexOf(advancedBloq.name)>-1) && (!item.showBasicBloqsCondition || item.showBasicBloqsCondition(advancedBloq.name))" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree[item.properties.advancedBloqs][$index].name]" data-components-array="currentProjectService.componentsArray">
                    <span class="input input--checkbox">
                        <input type="checkbox" class="element-toolbox" id="{{advancedBloq.name + 'Check'}}" ng-model="checkModel[advancedBloq.name]" ng-click="addChecks(item.properties.advancedBloqs, checkModel[advancedBloq.name], advancedBloq.name)" data-indeterminate-checkbox data-children-checkbox="currentProject.selectedBloqs[item.properties.advancedBloqs]" />
                    </span>
                </li>
            </ul>
            <!-- mBot V1-->
            <ul class="toolbox--bloqs--container" ng-show="selectedBloqsToolbox==='mBot' && !currentProject.hardware.showRobotImage">
                <li id="{{'bloq' + advancedMBot.name}}" data-ng-class="advancedMBot.addClass" data-ng-repeat="advancedMBot in common.properties.bloqsSortTree.advancedMBot" ng-show="common.section !== 'task' || currentProject.selectedBloqs.advancedMBot.indexOf(advancedMBot.name)>-1" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedMBot[$index].name]" data-components-array="currentProjectService.componentsArray">
                    <span class="input input--checkbox">
                        <input type="checkbox" class="element-toolbox" id="{{advancedMBot.name + 'Check'}}" ng-model="checkModel[advancedMBot.name]" ng-click="addChecks('advancedMBot', checkModel[advancedMBot.name], advancedMBot.name)" data-indeterminate-checkbox data-children-checkbox="currentProject.selectedBloqs.advancedMBot" />
                    </span>
                </li>
            </ul>
        </div>
    </div>
</aside>
<aside id="trashcan" class="toolbox--right toolbox--software trashcan" ng-show="showTrashcan" data-element="paper-bin">
    <svg class="svg-icon">
        <use xlink:href="#delete"></use>
    </svg>
</aside>