<div ng-class="{'make-view':true, 'main--collapsed':collapsedHeader || !common.user, 'walkthrough':tourCurrentStep}" class="step-{{tourCurrentStep}}">
    <!-- Navigation -->
    <div ng-show="common.user && common.section === 'bloqsproject'" ng-class="{'nav':true, 'nav--bar':true, 'nav--make':true, 'header--collapsed':collapsedHeader}">
        <div class="tour-steps">
            <div ng-show="tourCurrentStep === 7 && common.user" class="tour-step--seventh--logged tour-step--right">
                <small>{{ 'tour-step-seven' | translate }}</small>
                <span>{{ 'tour-step-seven-text' | translate }}</span>
            </div>
        </div>
        <ul class="nav__menu">
            <li class="nav--logo" data-element="nav-logo">
                <a data-ng-href="#/{{common.user?'projects':''}}" class="nav__menu__link">
                    <svg class="svg-icon svg-icon-logo">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                    </svg>
                </a>
            </li>
            <li class="nav__menu__item project--title">
                <h1 id="currentproject" class="h3" data-element="project-name">
                    <button class="project--name project--name--editable" ng-click="currentProjectService.rename()" data-element="project-name">
                        <span>{{currentProject.name || 'new-project' | translate}}</span>
                    </button>
                </h1>
                <span class="make--saving" data-element="project-save-label-{{currentProjectService.getSavingStatusIdLabel()}}">{{ currentProjectService.getSavingStatusIdLabel() | translate }}</span>
            </li>
            <li class="nav__menu__item nav__item--white right--last" data-tooltips="true" data-tooltip="{{ (!common.user && isThirdPartyRobot())?'robots-not-activated-guest-compile':  currentProject.hardware.showRobotImage && !isRobotActivated() ? 'robots-not-activated-compile' :'verify' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="verify()" data-ng-disabled="isWeb2BoardInProgress() || !common.user && isThirdPartyRobot() || currentProject.hardware.showRobotImage && !isRobotActivated()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}">
                    <svg class="svg-icon">
                        <use xlink:href="#tick"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-tooltips="true" data-tooltip="{{ (!common.user && isThirdPartyRobot())?'robots-not-activated-guest-upload':  currentProject.hardware.showRobotImage && !isRobotActivated() ? 'robots-not-activated-upload' :'load' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="upload()" data-ng-disabled="isWeb2BoardInProgress()|| !common.user && isThirdPartyRobot() || currentProject.hardware.showRobotImage && !isRobotActivated()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-walkthrough="upload">
                    <svg class="svg-icon">
                        <use xlink:href="#load"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="!currentProject._acl.ALL && utils.userIsOwner(currentProject, common.user._id)" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':currentProjectService.showActivation?'activate-robot-explore':'publish-project') | translate}}" data-tooltips="{{!currentProject._id || !common.user || !utils.userIsOwner(currentProject, common.user._id, common.section) || currentProjectService.showActivation}}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="publishProject()" data-ng-class="{'btn--make--disabled':!currentProject._id || !utils.userIsOwner(currentProject, common.user._id)}" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id || currentProjectService.showActivation">
                    <svg class="svg-icon">
                        <use xlink:href="#cloud"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="currentProject._acl.ALL && currentProject._id && utils.userIsOwner(currentProject, common.user._id)" data-tooltips="{{!currentProject._id || !common.user || !utils.userIsOwner(currentProject, common.user._id)}}" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id)?'you-are-not-the-admin-copy-it':'do-private') | translate}}" data-tooltip-position="bottom">
                <button ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!utils.userIsOwner(currentProject, common.user._id)}" data-ng-click="commonModals.doPrivateProject(currentProject)" data-ng-disabled="!currentProject._id || !utils.userIsOwner(currentProject, common.user._id)">
                    <svg class="svg-icon">
                        <use xlink:href="#private"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="currentProject._acl['user:' + common.user._id].permission === 'READ' || currentProject._acl.ALL && currentProject._id && !utils.userIsOwner(currentProject, common.user._id)" data-tooltips="true" data-tooltip="{{ 'project-addto-myprojects' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="commonModals.clone(currentProject, true)">
                    <svg class="svg-icon">
                        <use xlink:href="#plusCircle"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!-- Actions Menu -->
    <div class="actions--make" data-ng-include="'views/makeActions.html'" data-ng-controller="MakeActionsCtrl"></div>
    <!-- Left Bar -->
    <div data-ng-class="{'content--main':true, 'content--main--collapse':collapsedHeader}" data-ng-click="dropdown = false">
        <aside data-ng-class="{'tabs--make--left':true, 'content--main--collapse':collapsedHeader}">
            <ul class="tabs__menu">
                <li data-element="hardware-tab" data-ng-class="{tabs__menu__item:true, selected:currentTab===0}" data-ng-click="setTab(0)" data-tooltips="true" data-tooltip="{{ 'hardware' | translate }}" data-tooltip-position="right">
                    <svg class="svg-icon">
                        <use xlink:href="#hardware"></use>
                    </svg>
                </li>
                <li data-walkthrough="software-tab" data-element="software-tab" data-ng-class="{tabs__menu__item:true, selected:currentTab===1}" data-ng-click="setTab(1); handleTour(5)" data-tooltips="true" data-tooltip="{{ 'software' | translate }}" data-tooltip-position="right">
                    <svg class="svg-icon">
                        <use xlink:href="#software"></use>
                    </svg>
                </li>
                <li data-element="info-tab" data-ng-class="{tabs__menu__item:true, selected:currentTab===2}" data-ng-click="setTab(2)" data-tooltips="true" data-tooltip="{{ 'project-info' | translate }}" data-tooltip-position="right">
                    <svg class="svg-icon">
                        <use xlink:href="#info"></use>
                    </svg>
                </li>
            </ul>
        </aside>
        <div class="tab--container">
            <div class="tab--make" data-ng-show="currentTab===0" data-ng-include="'views/project/hardwareTab.html'"></div>
            <div class="tab--make" data-ng-show="currentTab===1" data-ng-include="'views/project/softwareTab.html'"></div>
            <div class="tab--make" data-ng-show="currentTab===2" data-ng-include="'views/project/infoTab.html'"></div>
        </div>
    </div>
</div>
