<div ng-class="{'make-view':true, 'main--collapsed':collapsedHeader || !common.user, 'walkthrough':tourCurrentStep}" class="step-{{tourCurrentStep}}">
    <!-- Navigation -->
    <div ng-show="common.user" ng-class="{'nav':true, 'nav--bar':true, 'nav--make':true, 'header--collapsed':collapsedHeader}">
        <ul class="nav__menu">
            <li class="nav--logo" data-element="nav-logo">
                <a data-ng-href="#/{{common.user?'projects':''}}" class="nav__menu__link">
                    <svg class="svg-icon svg-icon-logo">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                    </svg>
                </a>
            </li>
            <li class="nav__menu__item project--title">
                <h1 data-element="project-name" id="currentproject" class="h3 make__project--name" ng-click="currentProjectService.rename()">{{currentProject.name || 'new-project' | translate}}
                    <span></span>
                </h1>
                <span class="make--saving" data-element="project-save-label-{{currentProjectService.getSavingStatusIdLabel()}}">{{ currentProjectService.getSavingStatusIdLabel() | translate }}</span>
            </li>
            <li class="nav__menu__item nav__item--white right--last" data-tooltips="true" data-tooltip="{{ 'verify' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="verify()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}">
                    <svg class="svg-icon">
                        <use xlink:href="#tick"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-tooltips="true" data-tooltip="{{ 'load' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="upload()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-walkthrough="upload">
                    <svg class="svg-icon">
                        <use xlink:href="#load"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-tooltips="true" data-tooltip="{{(!onTime()[0]?'centerMode_send_initDateError': !onTime()[1]?'centerMode_send_endDateError' : 'send') | translate}}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="sendTask()" data-ng-disabled="currentProject.status!=='pending' || !onTime()[0] || !onTime()[1]" data-ng-class="{'btn--make--disabled':currentProject.status!=='pending'}" data-walkthrough="upload">
                    <svg class="svg-icon">
                        <use xlink:href="#airplane"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!-- Actions Menu -->
    <div class="actions--make" data-ng-include="'views/makeActions.html'" data-ng-controller="MakeActionsCtrl"></div>
    <!-- Left Bar -->
    <div data-ng-class="{'content--main':true, 'content--main--collapse':collapsedHeader}" data-ng-click="dropdown = false">
        <aside data-ng-class="{'tabs--make--left':true, 'content--main--collapse':collapsedHeader}">
            <ul class="tabs__menu">
                <li data-ng-class="{tabs__menu__item:true, selected:currentTab===2}" data-ng-click="setTab(2)" data-tooltips="true" data-tooltip="{{ 'exercise-info' | translate }}" data-tooltip-position="right" data-element="info-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#info"></use>
                    </svg>
                </li>
                <li data-ng-class="{tabs__menu__item:true, selected:currentTab===0}" data-ng-click="setTab(0)" data-tooltips="true" data-tooltip="{{ 'hardware' | translate }}" data-tooltip-position="right" data-element="hardware-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#hardware"></use>
                    </svg>
                </li>
                <li data-ng-class="{tabs__menu__item:true, selected:currentTab===1}" data-ng-click="setTab(1); handleTour(5)" data-tooltips="true" data-tooltip="{{ 'software' | translate }}" data-tooltip-position="right" data-walkthrough="software-tab" data-element="software-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#software"></use>
                    </svg>
                </li>
                <li data-ng-if="common.section==='task' && (common.userRole==='headMaster' || common.userRole==='teacher')" data-ng-class="{tabs__menu__item:true, selected:currentTab===3}" data-ng-click="setTab(3)" data-tooltips="true" data-tooltip="{{ 'project-mark' | translate }}" data-tooltip-position="right"
                    data-element="info-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#tickCircle"></use>
                    </svg>
                </li>
            </ul>
        </aside>
        <div class="tab--container">
            <div class="tab--make" data-ng-show="currentTab===0" data-ng-include="'views/project/hardwareTab.html'"></div>
            <div class="tab--make" data-ng-show="currentTab===1" data-ng-include="'views/project/softwareTab.html'"></div>
            <div class="tab--make" data-ng-show="currentTab===2" data-ng-include="'views/project/infoTab.html'"></div>
            <div class="tab--make" data-ng-if="common.section==='task' && isOwner" data-ng-show="currentTab===3" data-ng-include="'views/project/markTab.html'"></div>
        </div>
    </div>
</div>
