<div class="tour-steps">
    <div class="tour-step--first tour-step--right" ng-show="tourCurrentStep === 1">
        <small>{{ 'tour-step-one' | translate }}</small>
        <span>{{ 'tour-step-one-text' | translate }}</span>
    </div>
    <div class="tour-step--second tour-step--right" ng-show="tourCurrentStep === 2">
        <small>{{ 'tour-step-two' | translate }}</small>
        <span>{{ 'tour-step-two-text' | translate }}</span>
        <span>{{ 'tour-step-two-text-small' | translate }}</span>
    </div>
    <div class="tour-step--third tour-step--right" ng-show="tourCurrentStep === 3">
        <small>{{ 'tour-step-three' | translate }}</small>
        <span>{{ 'tour-step-three-text' | translate }}</span>
    </div>
    <div class="tour-step--fourth tour-step--left" ng-show="tourCurrentStep === 4">
        <small>{{ 'tour-step-four' | translate }}</small>
        <span>{{ 'tour-step-four-text' | translate }}</span>
    </div>
</div>
<aside id="hwtoolbox" class="toolbox--right" ng-class="{'toolbox--expand':selectedToolbox!==''}">
    <aside class="tabs-layout__aside tabs-layout__aside--vertical" ng-click="changeToolbox('', $event)">
        <ul class="tabs__header--vertical">
            <li class="tabs__header__item--vertical" ng-class="{'selected--tab': selectedToolbox==='boards'}" data-walkthrough="boards">
                <button class="btn-svg" ng-click="changeToolbox('boards'); handleTour(2)" data-element="toolbox-boards">
                    <svg class="svg-icon">
                        <use xlink:href="#board"></use>
                    </svg>
                </button>
            </li>
            <li class="tabs__header__item--vertical" ng-class="{'selected--tab': selectedToolbox==='components'}">
                <button class="btn-svg" ng-click="changeToolbox('components')" data-element="toolbox-components">
                    <svg class="svg-icon">
                        <use xlink:href="#component"></use>
                    </svg>
                </button>
            </li>
            <li class="tabs__header__item--vertical" ng-class="{'selected--tab': selectedToolbox==='robots'}">
                <button class="btn-svg" ng-click="changeToolbox('robots')" data-element="toolbox-robots">
                    <svg class="svg-icon">
                        <use xlink:href="#robot"></use>
                    </svg>
                </button>
            </li>
            <li ng-show="envData.robotComponents[currentProject.hardware.robot]" class="tabs__header__item--vertical" ng-class="{'selected--tab': selectedToolbox==='robotsComponents'}">
                <button class="btn-svg" ng-click="changeToolbox('robotsComponents')" data-element="toolbox-robotscomponents">
                    <svg class="svg-icon">
                        <use xlink:href="#robot"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </aside>
    <div class="toolbox__menu" ng-show="selectedToolbox===''">
        <ul>
            <li class="toolbox__item" data-walkthrough="boards">
                <button class="btn btn-text" ng-click="changeToolbox('boards'); handleTour(2)">
                    {{'boards' | translate}}
                    <svg class="svg-icon svg-icon--right">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="toolbox__item">
                <button class="btn btn-text" ng-click="changeToolbox('components')">
                    {{'components' | translate}}
                    <svg class="svg-icon svg-icon--right">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="toolbox__item">
                <button class="btn btn-text" ng-click="changeToolbox('robots')">
                    {{'robots' | translate}}
                    <svg class="svg-icon svg-icon--right">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="toolbox__item" ng-show="envData.robotComponents[currentProject.hardware.robot]">
                <button class="btn btn-text" ng-click="changeToolbox('robotsComponents')">
                    {{'robotsComponents' | translate}}
                    <svg class="svg-icon svg-icon--right">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="toolbox__content" ng-show="selectedToolbox==='boards'">
        <h1 class="h3 submenu__title">{{'boards' | translate}}</h1>
        <ul class="toolbox__content-container">
            <li class="toolbox__content__list" ng-if="board.showInToolbox && (!board.underDevelopment || common.user.seeBoardsUnderDevelopment)" ng-repeat="board in hardware.boardList track by board.id" data-ng-click="drop({type:'boards', id:board.id})">
                <h1 class="list-name">{{board.name}}</h1>
                <img draggable dragid="{{board.id}}" dragtype="boards" ng-src="/images/boards/{{board.id}}.png">
            </li>
        </ul>
    </div>
    <div class="toolbox__content" ng-show="selectedToolbox==='components'">
        <h1 class="h3 submenu__title">{{'components' | translate}}</h1>
        <ul class="toolbox__content-container">
            <li class="toolbox__content__list" ng-repeat="component in hardware.componentSortered">
                <h1 class="list-name" translate>{{component.id}}</h1>
                <img ng-if="component.id !== 'device' && !common.user || common.user" class="component-image" dragcategory="{{component.category}}" draggable dragid="{{component.id}}" dragtype="{{component.dragType || 'components'}}" ng-src="/images/components/{{component.id}}.svg" ng-style="{width:component.width + 'px'}">
                <div ng-if="component.id === 'device' && !common.user" data-tooltips="true" data-tooltip="{{'need-to-be-logged-component' | translate}}" data-tooltip-position="bottom">
                    <img class="component-image component-image--device" draggable="false" ng-src="/images/components/{{component.id}}.svg" ng-style="{width:component.width + 'px'}">
                </div>
            </li>
            <li data-ng-show="currentProject.hardware.robot === 'mbot' && !currentProject.hardware.showRobotImage" class="toolbox-info">{{'hardware-toolbox-no-mbot-components' | translate}}</li>
        </ul>
    </div>
    <div class="toolbox__content" ng-show="selectedToolbox==='robots'">
        <h1 class="h3 submenu__title">{{'robots' | translate}}</h1>
        <ul class="toolbox__content-container">
            <li class="toolbox__content__list" ng-if="!robot.underDevelopment || common.user.seeBoardsUnderDevelopment" ng-repeat="robot in hardware.robotList" data-ng-click="drop({type:'robots', id:robot.id})">
                <h1 class="list-name">{{robot.name}}</h1>
                <img ng-if="!robot.thirdParty && !common.user || common.user" draggable dragid="{{robot.id}}" dragtype="robots" ng-src="/images/robots/{{robot.id}}.svg" ng-style="{width:robot.width + 'px'}">
                <div ng-if="robot.thirdParty === true && !common.user" data-tooltips="true" data-tooltip="{{'need-to-be-logged-robot' | translate}}" data-tooltip-position="bottom">
                    <img class="component-image--device" draggable dragid="{{robot.id}}" dragtype="robots" ng-src="/images/robots/{{robot.id}}.svg" ng-style="{width:robot.width + 'px'}">
                </div>
            </li>
        </ul>
    </div>
    <div class="toolbox__content" ng-show="selectedToolbox==='robotsComponents' && envData.robotComponents[currentProject.hardware.robot]">
        <h1 class="h3 submenu__title">{{'robotsComponents' | translate}}</h1>
        <ul class="toolbox__content-container">
            <li class="toolbox__content__list" ng-if="!robot.underDevelopment || common.user.seeBoardsUnderDevelopment" ng-repeat="robotComponent in envData.robotComponents[currentProject.hardware.robot]" data-ng-click="drop({type:'robotsComponents', id:robotComponent.id})">
                <h1 class="list-name">{{robotComponent.name}}</h1>
                <img draggable dragid="{{robotComponent.id}}" dragtype="robotsComponents" ng-src="/images/robotscomponents/{{robotComponent.id}}.svg" ng-style="{width:robotComponent.width + 'px'}">
            </li>
        </ul>
    </div>
</aside>