<div class="form--infotab" data-ng-controller="InfoTabCtrl">
    <form id="form-infotab" name="form" class="form-infotab" novalidate="true">
        <fieldset class="fieldset--left" ng-if="common.section!=='task'" data-ng-init="focus = false">
            <div class="field--title">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#info"></use>
                </svg>
                <legend class="h3">{{ common.section !== 'exercise'? 'info' : 'infoTab_title_exerciseInfo' | translate }}</legend>
            </div>
            <div class="form--section">
                <!-- input type="text"-->
                <div class="form-control">
                    <label>{{ 'name' | translate }}*</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'projectname', 'input--error': form.projectname.$error.required && publishProjectError}">
                        <input type="text" id="projectname" name="projectname" placeholder="{{'infotab-project-name' | translate}}" data-ng-model="currentProject.name" data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" data-ng-focus="focus = 'projectname'" data-ng-blur="checkPojectName()"
                               data-ng-disabled="!common.user" data-element="info-project-name" required>
                    </span>
                    <span class="form--error" ng-show="form.projectname.$error.required && publishProjectError">
                        <small>{{ 'infotab-project-nameError' | translate }}</small>
                    </span>
                </div>
                <!-- textarea -->
                <div class="form-control project__description">
                    <label>{{ common.section !== 'exercise'? 'description' : 'centerMode_title_exerciseContent' | translate }}*</label>
                    <span data-ng-class="{'form--textarea':true, 'input--focused':focus === 'textarea', 'input--error': form.textarea.$error.required && publishProjectError}">
                        <textarea id="textarea" name="textarea" rows="6" cols="53" placeholder="{{'infotab-project-description' | translate}}" data-ng-model="currentProject.description" data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" data-ng-focus="focus = 'textarea'"
                                  data-ng-disabled="!common.user" data-element="infotab-description" required> </textarea>
                    </span>
                    <span class="form--error" ng-show="form.textarea.$error.required && publishProjectError">
                        <small>{{ 'infotab-project-descriptionError' | translate }}</small>
                    </span>
                </div>
            </div>
            <div ng-if="common.section!=='exercise'" class="form--section">
                <!-- input type="text"-->
                <div class="form-control">
                    <label>{{ 'video' | translate }}</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'videourl'}">
                        <input type="text" id="videourl" name="videourl" placeholder="{{'infotab-videourl' | translate}}" data-ng-model="currentProject.videoUrl"
                               data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" value="{{currentProject.videoUrl}}" data-ng-focus="focus = 'videourl'" data-ng-disabled="!common.user"
                               data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" data-element="infotab-youtubevideo">
                    </span>
                </div>
            </div>
            <div class="form--section">
                <!-- input type="file"-->
                <div class="form-control">
                    <div class="labelcontainer">
                        <label>{{ 'info-tab-first-image' | translate }}</label>
                        <small>{{ 'info-tab-image-requisites' | translate }}</small>
                    </div>
                    <div class="imagecontainer">
                        <div class="main--project--image" id="main-image">
                            <img id="projectImage" data-ng-disabled="!common.user" ng-src="{{urlGetImage + currentProject._id}}" err-src="../images/common/default-project.png" data-element="infotab-projectimage">
                        </div>
                        <input class="btn btn--primary btn--small main-image--input" onchange="angular.element(this).scope().uploadImage(this.files)" type="file" id="projectimage" name="projectimage" placeholder="" data-ng-focus="focus = 'projectimage'" tabindex="-1" data-element="infotab-fileinput"/>
                        <button type="button" ng-class="{'btn':true, 'btn--primary':true, 'btn--small':true, 'btn--disabled':!common.user}" data-ng-click="uploadImageTrigger('main')" data-element="infotab-uploadimage">
                            {{'upload-image' | translate}}
                        </button>
                    </div>
                </div>
                <!-- input type="file"-->
                <!-- <div class="form-control">
                    <div class="labelcontainer">
                        <label for="otherimages">{{ 'info-tab-others-image' | translate }}</label>
                        <small>{{ 'info-tab-image-requisites' | translate }}</small>
                    </div>
                    <div class="other-images--container">
                        <div class="image--container" data-ng-repeat="image in projectImages | limitTo: 3">
                            <img src="../images/common/default-project.png" alt="">
                            <button ng-if="$last" class="btn btn--primary btn--small" data-ng-click="uploadImageTrigger()" data-ng-disabled="!common.user">{{ 'upload-image' | translate }}</button>
                        </div>
                    </div>
                </div>
                <input class="other-image--input" type="file" multiple id="otherimages" name="otherimages" placeholder="" data-ng-focus="focus = 'otherimages'" data-ng-blur="focus = false" data-ng-disabled="!common.user">-->
            </div>
            <div ng-if="common.section!=='exercise'" class="form--section">
                <div class="form-control  form--tags">
                    <label>{{ 'tags' | translate }}</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'tagsinput'}">
                        <input type="text" id="tagsinput" name="tagsinput" maxlength="25" placeholder="{{ 'tag-input-placeholder' | translate }}" data-ng-keyup="addTag(form.tag, $event)"
                               data-ng-focus="focus = 'tagsinput'" data-ng-blur="focus = false" data-ng-disabled="!common.user" data-ng-model="form.tag" data-element="infotab-taginput-text">
                        <button type="button" class="btn btn--secondary btn--small btn--addtag" data-ng-disabled="!common.user" data-ng-click="addTag(form.tag)" tabindex="1" data-element="infotab-taginput-button">{{ 'add' | translate }}</button>
                    </span>
                </div>
                <div class="tags">
                    <div class="tags__item" data-ng-repeat="tag in currentProject.hardwareTags">
                        <span>{{tag | translate}}</span>
                    </div>
                    <div class="tags__item" data-ng-repeat="tag in currentProject.userTags">
                        <span class="tags__item--text">{{tag}}</span>
                        <span class="tags__item--trash">
                            <svg class="svg-icon" data-ng-click="removeTag(tag)" data-element="infotab-remove-tag">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <small ng-if="common.section!=='exercise'" class="form--infotab--mandatory">{{ 'infotab-mandatory' | translate }}</small>
        </fieldset>
        <fieldset class="fieldset--left" ng-if="common.section==='task'">
            <div class="field--title">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#info"></use>
                </svg>
                <legend class="h3">{{ 'infoTab_title_exerciseInfo' | translate }}</legend>
            </div>
            <div class="form--section task__student-info">
                <div class="form-control">
                    <img class="image-alone" ng-src="{{urlGetImage + currentProject.exercise._id}}" err-src="../images/common/default-project.png">
                    <div class="form-time">
                        <div class="form--title">
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#clock"></use>
                            </svg>
                            <legend class="h3">{{ 'centerMode_column_time' | translate }}</legend>
                        </div>
                        <p class="form--title-distinguished">
                            {{currentProject.endDate? currentProjectService.getDatetime(currentProject.endDate) :'time-unlimited' | translate}}
                        </p>
                        <div class="form--content">
                            <span class="container-span row">
                                <p class="col-vsmall-4">{{'centerMode_startDate' | translate}}:</p>
                                <p class="date">{{(currentProject.initDate | date:'dd MMM yyyy - HH:mm') || 'date_without_initDate' | translate}}</p>
                            </span>
                            <span class="container-span row">
                                <p class="col-vsmall-4">{{'centerMode_endDate' | translate}} : </p>
                                <p class="date">{{(currentProject.endDate | date:'dd MMM yyyy - HH:mm') || 'date_without_endDate' | translate}}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <p class="form-control">{{currentProject.description}}</p>
            </div>
        </fieldset>
        <fieldset ng-if="!currentProject.codeProject" class="fieldset--right">
            <div class="field--title">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#brush"></use>
                </svg>
                <legend class="h3">{{ 'infotab_title_theme' | translate }}</legend>
            </div>
            <div class="form--section choose--theme">
                <common-dropdown options="availableThemes" heading-option="currentProject.defaultTheme | translate" options-click="setTheme" data-element="'infotab_choosetheme'"></common-dropdown>
                <img ng-show="currentProject.defaultTheme === 'infotab_option_grayTheme' || !currentProject.defaultTheme" src="../../images/gray-theme.jpg" alt=""/>
                <img ng-show="currentProject.defaultTheme === 'infotab_option_colorTheme'" src="../../images/color-theme.jpg" alt=""/>
            </div>
        </fieldset>
        <fieldset ng-if="currentProject.codeProject" class="fieldset--right" data-ng-init="focus = false">
            <div class="field--title">
                <legend class="h3">{{ 'boards_and_robots' | translate }}</legend>
            </div>
            <div class="form--section choose--theme">
                <common-dropdown options="boardNameList" heading-option="currentProject.hardware.showRobotImage ? getNameFromId(currentProject.hardware.showRobotImage) : getNameFromId(currentProject.hardware.board)" options-click="setBoard" ng-model="currentProject.hardware.name"
                                 data-element="'infotab_chooseboard'"></common-dropdown>
                <img ng-if="boardImage" ng-src="/images/boards/{{boardImage}}.png"/>
                <img ng-if="robotImage" ng-src="/images/robots/{{robotImage}}.png"/>

            </div>
        </fieldset>
        <fieldset ng-if="common.section==='exercise'" class="fieldset--right" data-ng-init="focus = false">
            <div class="field--title">
                <svg class="svg-icon svg-icon--text svg-icon--big">
                    <use xlink:href="#people"></use>
                </svg>
                <legend class="h3">{{ 'infotab_title_groups' | translate }}</legend>
            </div>
            <ul class="table__block--invert">
                <li class="table__block__list table__block__hover" ng-repeat="group in groups">
                    <span class="table__block__item">
                        <a ng-href="{{'#/center-mode/group/' + group._id}}">
                            <h2 class="block__item__title block__item__title--small" data-element="{{'centerMode_item_' + group.name}}">
                                {{group.name}}
                            </h2>
                            <span class="block__item__explanation--subscript">{{group.initDate ? ('date_from' | translate)+' '+(group.initDate | date:'dd MMM yyyy - HH:mm') : 'date_without_initDate' | translate}}</span>
                            <span class="block__item__explanation--subscript">{{group.endDate ? ('date_to' | translate)+' '+(group.endDate | date:'dd MMM yyyy - HH:mm') : 'date_without_endDate' | translate}}</span>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="form--section">
                <button type="button" ng-class="{'btn':true, 'btn--primary':true, 'btn--small':true, 'btn--disabled':!common.user}" data-ng-click="editGroups(currentProject, groups);" data-element="exercise_button_editGroups">
                    {{ 'centerMode_editGroups' | translate }}
                </button>
            </div>
        </fieldset>
    </form>
</div>
