<div class="form--infotab" data-ng-controller="InfoTabCtrl">
    <form id="form-infotab" name="form" class="form-infotab" novalidate="true">
        <fieldset class="fieldset--left" data-ng-init="focus = false">
            <div class="field--title">
                <svg class="svg-icon svg-icon--text">
                    <use xlink:href="#tickCircle"></use>
                </svg>
                <legend class="h3">{{ 'infoTab_title_exerciseMark' | translate }}</legend>
            </div>
            <div class="form--section">
                <!-- input type="text"-->
                <div class="form-control">
                    <label>{{ 'infoTab_subTitle_exerciseRemark' | translate }}</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'exerciseMark0', 'input--error': form.projectname.$error.required && publishProjectError}">
                        <input type="text" id="exerciseMark0" name="exerciseMark0" data-ng-model="currentProject.mark[0]" data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" data-ng-disabled="!common.user" data-element="info-exercise-mark0">
                    </span>
                </div>
                <!-- textarea -->
                <div class="form-control project__description">
                    <label>{{ 'infoTab_subTitle_exerciseMark' | translate }}</label>
                    <span data-ng-class="{'form--textarea':true, 'input--focused':focus === 'textarea', 'input--error': form.textarea.$error.required && publishProjectError}">
                        <textarea id="textarea" name="textarea" rows="6" cols="53" placeholder="{{'infoTab_subTitle_exerciseRemark-placeholder' | translate}}" data-ng-model="currentProject.description"
                                  data-ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }" data-ng-focus="focus = 'textarea'" data-ng-disabled="!common.user" data-element="infotab-exercise-remark"/>
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
</div>
