<div class="modal_alert">
    <p>{{mainText | translate}}</p>
    <p ng-if="textContent">{{textContent | translate}}</p>
    <div ng-if="type==='information'">
        <h1>{{'centerMode_modal_createCenter-content' | translate}}</h1>
        <ul class="objective-list">
            <li>{{'centerMode_modal_createCenter-item1' | translate}}</li>
            <li>{{'centerMode_modal_createCenter-item2' | translate}}</li>
            <li>{{'centerMode_modal_createCenter-item3' | translate}}</li>
            <li>{{'centerMode_modal_createCenter-item4' | translate}}</li>
            <li>{{'centerMode_modal_createCenter-item5' | translate}}</li>
        </ul>
    </div>
    <div ng-if="type==='form'">
        <input type="text" id="centerName" name="centerName" placeholder="{{'centerMode_modal_createCenter-centerName' | translate }}" data-ng-model="center.name" autofocus>
        <input type="text" id="centerLocation" name="centerLocation" placeholder="{{'centerMode_modal_createCenter-location' | translate }}" data-ng-model="center.location" autofocus>
        <input type="number" id="centerTelephone" name="centerTelephone" placeholder="{{'centerMode_modal_createCenter-telephone' | translate }}" data-ng-model="center.telephone" autofocus>
    </div>
</div>
