<div class="modal_input">
    <p>{{ mainText | translate }}</p>
    <p ng-if="secondaryText" class="modal_input_secondaryText">{{ secondaryText | translate }}</p>
    
    <form id="inputForm" ng-if="modalInput">
        <span class="form--input" ng-class="{'input--error' : input.showError}">
            <input ng-if="!changeName" type="text" id="{{input.id}}" name="{{input.name}}" placeholder="{{input.placeholder | translate }}" data-ng-model="input.value" ng-focus="input.showError = false" autofocus>
            <input ng-if="changeName" type="text" name="os" id="os" ng-model="project.name" ng-pattern="/[^\s\\]/" placeholder="{{ 'modal-change-project-name-placeholder' | translate }}" data-ng-focus="focus = 'changeName'" data-ng-class="{'input--focused':focus === 'changeName'}" data-ng-blur="focus = false"
                   data-element="modal-change-name-input" required autofocus>
        </span>
        <span class="form--error" ng-show="input.showError">
            <small>{{ input.errorText | translate }}</small>
        </span>
    </form>
    <common-dropdown ng-if="modalDropdown" options="modaloptions" options-click="optionsClick" heading-option="headingOptions | translate" data-element="{{dropdown.dataElement}}"></common-dropdown>


</div>
