<div class="modal_input">
    <p>{{ mainText | translate }}</p>
    <p ng-if="secondaryText" class="modal_input_secondaryText" data-element="modals-text">{{ secondaryText | translate }}</p>

    <form id="inputForm" ng-if="modalInput" ng-submit="confirmAction(input.value || groups) && closeThisDialog()">
        <span class="form--input" ng-class="{'input--error' : input.showError}">
            <input type="text" id="{{input.id}}" name="{{input.name}}" placeholder="{{input.placeholder | translate }}" data-ng-model="input.value" ng-class="{'input--focused':focus}" ng-focus="input.showError = false; focus = true" ng-blur="focus = false" data-element="modal-change-name-input" required autofocus>
        </span>
        <span class="form--error" ng-show="input.showError" data-element="modals-input-error">
            <small>{{ input.errorText | translate }}</small>
        </span>
    </form>
    <common-dropdown ng-if="modalDropdown" options="modaloptions" options-click="optionsClick" heading-option="headingOptions | translate" data-element="dropdownDataElement"></common-dropdown>
</div>
