<section class="modal">
    <div class="modal__dialog">
        <div class="modal__dialog__content" ng-class="{'{{customClass}}':true}">
            <div ng-if="title" class="modal__header">
                <h1 class="modal--title" data-element="modal-title">{{title | translate}}</h1>
            </div>
            <div ng-if="contentTemplate" ng-include="contentTemplate" class="modal__body"></div>
            <div ng-if="modalButtons" class="modal__footer">
                <div class="modal--buttons" ng-if="!footerText">
                    <button ng-if="confirmButton" type="submit" ng-click="confirmAction(input.value || groups) && closeThisDialog()" ng-disabled="condition && !condition()" ng-class="{'btn--disabled':condition && !condition()}" class="btn btn--primary btn__modal--footer btn--confirm" data-element="modal-ok-dialog">{{confirmButton | translate}}</button>
                    <button ng-if="extraButton" type="submit" ng-click="extraAction(input.value) && closeThisDialog()" ng-disabled="conditionExtra && !conditionExtra()" ng-class="{'btn--disabled':conditionExtra && !condition()}" class="btn btn--primary btn__modal--footer btn--confirm" data-element="modal-extra-ok-dialog">{{extraButton | translate}}</button>
                    <button ng-if="rejectButton" type="button" ng-click="rejectAction(); closeThisDialog()" class="btn btn--secondary btn__modal--footer btn--reject" data-element="modal-cancel-dialog">{{rejectButton | translate}}</button>
                </div>
                <div class="modal__footer--text" ng-if="footerText">
                    <button class="link--default link--modal" ng-click="footerLink()">{{footerText | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>