<div class="modal_password-reset">
    <div class="form">
        <form name="form" class="form--password" autocomplete="off" ng-submit="confirmAction(form)" novalidate>
            <fieldset>
                <legend class="invisible">Password Form</legend>
                <div class="form-control">
                    <label for="passwordMain" data-ng-show="!isLogin">{{ 'modal-reset-password-main-password' | translate }}</label>
                    <span data-ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'passwordMain', 'input--error':form.passwordMain.submitted && (form.passwordMain.$error.required || form.passwordMain.$error.minlength || errorPassword)}">
                        <svg class="svg-icon">
                            <use xlink:href="#lock"></use>
                        </svg>
                        <input data-element="modal-password-reset-main-input" type="password" name="passwordMain" autocomplete="off" data-ng-model="password.main" data-ng-focus="form.passwordMain.submitted=false; focus='passwordMain'" data-ng-blur="focus = false" id="passwordMain" data-ng-minlength="6" maxlength="50" placeholder="{{'modal-reset-password-main-password-placeholder' | translate}}" autocorrect="off" required>
                    </span>
                    <span class="form--error" data-ng-show="form.passwordMain.submitted && form.passwordMain.$error.required" data-element="show-no-pass">
                        <small>{{ 'login-enter-password' | translate }}</small>
                    </span>
                    <span class="form--error" data-ng-show="form.passwordMain.submitted && form.passwordMain.$error.minlength" data-element="show-more-six-pass">
                        <small>{{ 'login-min-length-password' | translate }}</small>
                    </span>
                </div>
                <div class="form-control">
                    <label for="passwordRepeat" data-ng-show="!isLogin">{{ 'modal-reset-password-repeat' | translate }}</label>
                    <span data-ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'passwordRepeat', 'input--error':form.passwordRepeat.submitted && (form.passwordRepeat.$error.required || form.passwordRepeat.$error.minlength || errorPassword)}">
                        <svg class="svg-icon">
                            <use xlink:href="#lock"></use>
                        </svg>
                        <input data-element="modal-password-reset-repeat-input" type="password" name="passwordRepeat" autocomplete="off" data-ng-model="password.repeat" data-ng-focus="form.passwordRepeat.submitted=false; focus='passwordRepeat'" data-ng-blur="focus = false" id="passwordRepeat" data-ng-minlength="6" maxlength="50" placeholder="{{'modal-reset-password-repeat-password-placeholder' | translate}}" autocorrect="off" required>
                    </span>
                    <span class="form--error" data-ng-show="form.passwordRepeat.submitted && form.passwordRepeat.$error.required" data-element="show-no-pass">
                        <small>{{ 'login-enter-password' | translate }}</small>
                    </span>
                    <span class="form--error" data-ng-show="form.passwordRepeat.submitted && form.passwordRepeat.$error.minlength" data-element="show-more-six-pass">
                        <small>{{ 'login-min-length-password' | translate }}</small>
                    </span>
                    <span class="form--error" data-ng-show="form.passwordRepeat.submitted &&  errorPassword" data-element="show-incorrect-pass">
                        <small>{{ 'modal-reset-password-error' | translate }}</small>
                    </span>
                </div>
                <div>
                    <button data-element="modal-password-reset-ok-button" ng-click="form.passwordMain.submitted=true; form.passwordRepeat.submitted=true" class="btn btn--primary btn__modal--footer btn--confirm" data-element="modal-confirm-only">{{confirmButton | translate}}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
