<div class="modal_open-project">
    <div>
        <div>
            <span>Web2board version: {{version.web2board}}</span>
        </div>
        <div>
            <span>BitbloqLibs version: {{version.bitbloqLibs}}</span>
        </div>
        <!-- input type="text"-->
        <div>
            <label>Proxy:</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'projectname'}">
                        <input type="text"
                               placeholder="Proxy (default None)"
                               data-ng-model="settings.proxy">
                    </span>
                <button ng-click="testProxy()" class="btn btn--primary">
                    Test proxy
                </button>
        </div>
        <!-- textarea -->
        <div>
            <label>Arduino libraries path:</label>
                    <span data-ng-class="{'form--input':true, 'input--focused':focus === 'projectname'}">
                        <input type="text"
                               data-ng-model="settings.libraries_path"
                               ng-blur="onLibrariesPathChanged()">
                    </span>
        </div>

        <div class="modal--projects--action">
            <span class="input input--checkbox">
                <input ng-model="settings.check_online_updates" type="checkbox" id="newsletter">
                <label for="newsletter">
                    Check for updates
                </label>
        </div>
    </div>
</div>
