<div class="bloqs-tab" ng-mousedown="hideBloqsMenu($event)" data-ng-controller="BloqstabCtrl" data-ng-keyup="onFieldKeyUp($event)" data-ng-keydown="onFieldKeyDown($event)" ng-init="setScrollHeight()">
    <div class="tabs--title">
        <ul class="bloq--field--list text-strong">
            <li data-element="bloqs-tab" ng-click="setSoftwareTab('bloqs')" ng-class="{'active':softTab==='bloqs'}">{{ 'bloqs' | translate }}</li>
            <li data-element="code-tab" ng-click="setSoftwareTab('code')" ng-class="{'active':softTab==='code'}">{{ 'code' | translate }}</li>
            <li ng-if="projectService.project.hardware.robot==='zowi'" class="btn btn--zowi-firmware" ng-click="performFactoryReset()">
                <svg class="svg-icon">
                    <use xlink:href="#versionAnterior"></use>
                </svg>
                <span>{{'button_zowi_rest' | translate}}</span>
            </li>
            <li class="twitter-config"  ng-show="twitterWheel" >
                <svg id ="twitter-config-button" class="svg-icon" ng-click="clickTwitterConfig()">
                    <use xlink:href="#preferencias"></use>
                </svg>
                <div ng-show="twitterSettings" id="twitter-content" class="twitter-config__content">
                    <div class="form--section">
                        <fieldset>
                            <legend>
                                <svg class="svg-icon svg-icon--text">
                                    <use xlink:href="#tweeter"></use>
                                </svg>
                                <span>{{ 'twitter' | translate }}</span>
                            </legend>
                            <!-- input type="file"-->
                            <div class="form-control">
                                <div class="form-control">
                                    <label for="name">{{ 'consumer-key' | translate }}</label>
                                    <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-key'}">
                                        <input aria-invalid="false" data-element="consumer-key" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-key'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerKey" id="consumer-key" name="consumer-key" placeholder="{{'consumer-key' | translate}}" tabindex="0" type="text">
                                    </span>
                                </div>
                                <div class="form-control">
                                    <label for="name">{{ 'consumer-secret' | translate }}</label>
                                    <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-secret'}">
                                        <input aria-invalid="false" data-element="consumer-secret" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerSecret" id="consumer-secret" name="consumer-secret" placeholder="{{'consumer-secret' | translate}}" tabindex="0" type="text">
                                    </span>
                                </div>
                                <div class="form-control">
                                    <label for="name">{{ 'access-token' | translate }}</label>
                                    <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token'}">
                                        <input aria-invalid="false" data-element="access-token" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessToken" id="access-token" name="access-token" placeholder="{{'access-token' | translate}}" tabindex="0" type="text">
                                    </span>
                                </div>
                                <div class="form-control">
                                    <label for="name">{{ 'access-token-secret' | translate }}</label>
                                    <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token-secret'}">
                                        <input aria-invalid="false" data-element="access-token-secret" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessTokenSecret" id="access-token-secret" name="access-token-secret" placeholder="{{'access-token-secret' | translate}}" tabindex="0" type="text">
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-show="showScroll && softTab==='bloqs'" class="make--scrollbar">
        <div class="scrollbar--small"></div>
    </div>
    <div ng-show="showHorizontalScroll && softTab==='bloqs'" id="make--horizontal-scrollbar">
        <div id="scrollbar--horizontal-small"></div>
    </div>
    <div class="software--tab" ng-init="softTab = 'bloqs'" ng-show="softTab==='bloqs'">
        <div id="bloqs--field" ng-class="{'theme-colors':projectService.project.defaultTheme === 'infotab_option_colorTheme', 'theme-basic':projectService.project.defaultTheme === 'infotab_option_grayTheme' || !projectService.project.defaultTheme}" class="field" tabindex="0">
            <div data-ng-class="{'toolbox--main':true,'navbar--collapsed':collapsedHeader}" data-ng-include="'views/bloqsproject/softwareToolbox.html'"></div>
        </div>
        <div id="empty"></div>
        <div id="bloqs-context-menu">
            <ul>
                <li>
                    <button data-ng-click="duplicateBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-duplicate-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="!contextMenuBloq.itsEnabled() && !contextMenuBloq.itsFree()" data-ng-click="enableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-enable-bloq' | translate }}</button>
                </li>
                <li>
                    <button data-ng-show="contextMenuBloq.itsEnabled()" data-ng-click="disableBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-disable-bloq' | translate }}</button>
                </li>
                <li class="dropdown__item--separator"></li>
                <li>
                    <button data-ng-click="removeBloqFromContextMenu(contextMenuBloq)">{{ 'bloqstab-remove-bloq' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="software--tab" ng-show="softTab==='code'">
        <button class="software__edit-code" data-ng-click="goToCodeModal()" data-element="software-edit-code">
            <svg class="svg-icon svg-icon--text svg-icon--menu">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use>
            </svg>
            {{'bloqsTab_button_editCode' | translate }}
        </button>
        <div class="console--main">
            <beauty-code class="console--content" data-code="code"></beauty-code>
        </div>
    </div>
</div>
