<div class="tour-steps">
    <div ng-show="tourCurrentStep === 5" class="tour-step--fifth tour-step--right">
        <small>{{ 'tour-step-five' | translate }}</small>
        <span>{{ 'tour-step-five-text' | translate }}</span>
    </div>
    <div ng-show="tourCurrentStep === 6" class="tour-step--sixth tour-step--right">
        <small>{{ 'tour-step-six' | translate }}</small>
        <span>{{ 'tour-step-six-text' | translate }}</span>
    </div>
</div>
<aside class="toolbox--software" id="toolbox" data-element="toolbox">
    <h1 class="hidden">Components Toolbox</h1>
    <ul ng-class="{'level':true, 'level--1':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 1,'level--inactive':toolbox.level !== 1, 'level--inactive--1':toolbox.level === 2, 'level--inactive--2':toolbox.level === 3}">
        <!-- ZOWI -->
        <li ng-if="projectService.project.hardware.robot==='zowi'" data-element="toolbox-zowi">
            <button class="btn btn--toolbox btn--zowi" ng-click="toolbox.level = 2; toolbox.section = 'zowi'">
                <span class="toolbox toolbox-zowi"></span> {{ 'make-swtoolbox-zowi' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'zowi', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'zowi'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-zowi' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container--full">
                        <li id="{{'bloq' + zowi.name}}" data-ng-class="zowi.addClass" data-ng-repeat="zowi in common.properties.bloqsSortTree.zowi" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.zowi[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'zowi', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'zowi'}">
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedZowi' | translate }}</h1>
                        </li>
                        <!-- ADVANCED -->
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedZowi.name}}" data-ng-class="advancedZowi.addClass" data-ng-repeat="advancedZowi in common.properties.bloqsSortTree.advancedZowis" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedZowis[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- Evolution -->
        <li ng-if="projectService.project.hardware.robot==='evolution'" data-element="toolbox-evolution">
            <button class="btn btn--toolbox btn--evolution" ng-click="toolbox.level = 2; toolbox.section = 'evolution'">
                <span class="toolbox toolbox-evolution"></span> {{ 'make-swtoolbox-evolution' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'evolution', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'evolution'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-evolution' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container--full">
                        <li id="{{'bloq' + evolution.name}}" data-ng-class="evolution.addClass" data-ng-repeat="evolution in common.properties.bloqsSortTree.evolution" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.evolution[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'evolution', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'evolution'}">
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advanced-evolution' | translate }}</h1>
                        </li>
                        <!-- ADVANCED -->
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedEvolution.name}}" data-ng-class="advancedEvolution.addClass" data-ng-repeat="advancedEvolution in common.properties.bloqsSortTree.advancedEvolution" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedEvolution[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- mBot -->
        <li ng-if="projectService.project.hardware.robot==='mbot'" data-element="toolbox-mbot">
            <button class="btn btn--toolbox btn--mbot" ng-click="toolbox.level = 2; toolbox.section = 'mbot'">
                <span class="toolbox toolbox-mbot"></span> {{ 'make-swtoolbox-mbot' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'mbot', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'mbot'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-mbot' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container--full">
                        <li id="{{'bloq' + mBot.name}}" data-ng-class="mBot.addClass" data-ng-repeat="mBot in common.properties.bloqsSortTree.mBot" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.mBot[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'mbot', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'mbot'}">
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advanced' | translate }}</h1>
                        </li>
                        <!-- ADVANCED -->
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedMBot.name}}" data-ng-class="advancedMBot.addClass" data-ng-repeat="advancedMBot in common.properties.bloqsSortTree.advancedMBot" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedMBot[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END CODE -->
        <!-- COMPONENTS -->
        <li data-walkthrough="components" data-element="toolbox-components">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'components'; handleTour(6)">
                <span class="toolbox toolbox-components"></span> {{ 'components' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'components', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'components'}" data-walkthrough="components-container">
                <li>
                    <h1 class="h3 submenu__title">{{ 'components' | translate }}</h1>
                </li>
                <li ng-if="!anyComponent()" class="error--text">{{"no-components-connected" | translate}}</li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li class="{{component.addClass}}" id="{{'bloq' + component.name}}" data-ng-show="showComponents(component.name)" data-ng-repeat="component in common.properties.bloqsSortTree.components" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.components[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'components', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'components'}">
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedComponents' | translate }}</h1>
                        </li>
                        <!-- ADVANCED -->
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedComponent.name}}" data-ng-class="advancedComponent.addClass" data-ng-show="showComponents(advancedComponent.name)" data-ng-repeat="advancedComponent in common.properties.bloqsSortTree.advancedComponents" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedComponents[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END COMPONENTS -->
        <!-- FUNCTIONS -->
        <li data-element="toolbox-functions">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'functions'">
                <span class="toolbox toolbox-functions"></span> {{ 'make-swtoolbox-functions' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'functions', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'functions'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-functions' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + function.name}}" data-ng-class="function.addClass" data-ng-repeat="function in common.properties.bloqsSortTree.functions" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.functions[$index].name]" data-components-array="componentsArray">
                        </li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <!-- ADVANCED -->
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'functions', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'functions'}">
                        <li>
                            <h1 class="h3 submenu__title">{{ 'functions-swtoolbox-advancedFunctions' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedFunction.name}}" data-ng-class="advancedFunction.addClass" data-ng-repeat="advancedFunction in common.properties.bloqsSortTree.advancedFunctions" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedFunctions[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END FUNCTIONS -->
        <!-- VARIABLES -->
        <li data-element="toolbox-vars">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'variables'">
                <span class="toolbox toolbox-variables"></span> {{ 'make-swtoolbox-variables' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'variables', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'variables'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-variables' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + variable.name}}" data-ng-class="variable.addClass" data-ng-repeat="variable in common.properties.bloqsSortTree.variables" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.variables[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'variables', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'variables'}">
                        <!-- ADVANCED -->
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedVariables' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedVariable.name}}" data-ng-class="advancedVariable.addClass" data-ng-repeat="advancedVariable in common.properties.bloqsSortTree.advancedVariables" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedVariables[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END VARIABLES -->
        <!-- CODE -->
        <li data-element="toolbox-code">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'code'">
                <span class="toolbox toolbox-code"></span> {{ 'make-swtoolbox-code' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'code', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'code'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-code' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container--full">
                        <li id="{{'bloq' + code.name}}" data-ng-class="code.addClass" data-ng-repeat="code in common.properties.bloqsSortTree.codes" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.codes[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END CODE -->
        <!-- MATH -->
        <li data-element="toolbox-maths">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'math'">
                <span class="toolbox toolbox-math"></span> {{ 'make-swtoolbox-mathematics' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'math', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'math'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-mathematics' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + math.name}}" data-ng-class="math.addClass" data-ng-repeat="math in common.properties.bloqsSortTree.mathematics" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.mathematics[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'math', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'math'}">
                        <!-- ADVANCED -->
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedMathematics' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedVariable.name}}" data-ng-class="advancedMathematics.addClass" data-ng-repeat="advancedMathematics in common.properties.bloqsSortTree.advancedMathematics" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedMathematics[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END MATH -->
        <!-- TEXT -->
        <li data-element="toolbox-texts">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'text'">
                <span class="toolbox toolbox-text"></span> {{ 'make-swtoolbox-text' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'text', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'text'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-text' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + text.name}}" data-ng-class="text.addClass" data-ng-repeat="text in common.properties.bloqsSortTree.texts" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.texts[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'text', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'text'}">
                        <!-- ADVANCED -->
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-text-advanced' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedVariable.name}}" data-ng-class="advancedText.addClass" data-ng-repeat="advancedText in common.properties.bloqsSortTree.advancedText" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedText[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END TEXT -->
        <!-- CONTROL -->
        <li data-element="toolbox-control">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'control'">
                <span class="toolbox toolbox-control"></span> {{ 'make-swtoolbox-control' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'control', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'control'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-control' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + control.name}}" data-ng-class="control.addClass" data-ng-repeat="control in common.properties.bloqsSortTree.controls" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.controls[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'control', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'control'}">
                        <!-- ADVANCED -->
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedControls' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedVariable.name}}" data-ng-class="advancedControl.addClass" data-ng-repeat="advancedControl in common.properties.bloqsSortTree.advancedControls" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedControls[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END CONTROL -->
        <!-- LOGIC -->
        <li data-element="toolbox-logic">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'logic'">
                <span class="toolbox toolbox-logic"></span> {{ 'make-swtoolbox-logic' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'logic', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'logic'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-logic' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + logic.name}}" data-ng-class="logic.addClass" data-ng-repeat="logic in common.properties.bloqsSortTree.logics" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.logics[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END LOGIC -->
        <!-- CLASSES -->
        <!--         <li>
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'classes'">
                <span class="toolbox toolbox-code"></span> {{ 'make-swtoolbox-classes' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'classes', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'classes'}">
                <li>
                    <button class="btn submenu__button--back" ng-click="toolbox.level = 1">{{ 'back' | translate }}</button>
                </li>
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-classes' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container--full">
                        <li id="{{'bloq' + classes.name}}" data-ng-class="classes.addClass" data-ng-repeat="class in common.properties.bloqsSortTree.classes" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.classes[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li> -->
        <li data-element="toolbox-classes">
            <button class="btn btn--toolbox" ng-click="toolbox.level = 2; toolbox.section = 'classes'">
                <span class="toolbox toolbox-classes"></span> {{ 'make-swtoolbox-classes' | translate }}
                <svg class="svg-icon svg-icon--right">
                    <use xlink:href="#flecha"></use>
                </svg>
            </button>
            <ul ng-class="{'level':true, 'level--2':true, 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 2 && toolbox.section === 'classes', 'level--inactive--1':toolbox.level === 3, 'hidden':toolbox.section !== 'classes'}">
                <li>
                    <h1 class="h3 submenu__title">{{ 'make-swtoolbox-classes' | translate }}</h1>
                </li>
                <li>
                    <ul class="toolbox--bloqs--container">
                        <li id="{{'bloq' + classes.name}}" data-ng-class="classes.addClass" data-ng-repeat="classes in common.properties.bloqsSortTree.classes" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.classes[$index].name]" data-components-array="componentsArray"></li>
                    </ul>
                </li>
                <li>
                    <button class="btn btn--toolbox btn--advanced" ng-click="toolbox.level = 3">
                        {{ 'make-swtoolbox-advanced' | translate }}
                        <svg class="svg-icon svg-icon--right">
                            <use xlink:href="#flecha"></use>
                        </svg>
                    </button>
                    <ul ng-class="{'level':true, 'level--3':toolbox.section === 'classes', 'toolbox--collapsed':collapsedHeader, 'level--active':toolbox.level === 3, 'hidden':toolbox.section !== 'classes'}">
                        <!-- ADVANCED -->
                        <li>
                            <h1 class="h3 submenu__title">{{ 'make-swtoolbox-advancedClasses' | translate }}</h1>
                        </li>
                        <li>
                            <ul class="toolbox--bloqs--container--full">
                                <li id="{{'bloq' + advancedVariable.name}}" data-ng-class="advancedClasses.addClass" data-ng-repeat="advancedClasses in common.properties.bloqsSortTree.advancedClasses" data-bitbloq-bloq-creator data-bloq-schema="bloqsApi.schemas[common.properties.bloqsSortTree.advancedClasses[$index].name]" data-components-array="componentsArray"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <div ng-class="{'level--2--shadow':true,'level--shadow--active':toolbox.level === 3}" ng-click="toolbox.level = 2"></div>
            </ul>
        </li>
        <!-- END CLASSES -->
        <!--<li class="tabs__menu__item" ng-click="searchBloq()">
                  <span class="form--input">
                    <svg class="svg-icon--search">
                        <use xlink:href="#lupa"></use>
                    </svg>
                    <input type="search" name="search--normal" id="search--normal" placeholder="{{'find'|translate}}">
                </span>
            </li> -->
        <div ng-class="{'level--1--shadow':true,'level--shadow--active':toolbox.level !== 1}"></div>
    </ul>
</aside>