<div class="account__content">
    <form class="form--account" id="form--account">
        <div class="first-column">
            <div class="form--section">
            <!-- My Hardware -->
                <ol class="account__hardware-list" data-element="projects-list-project">
                    <li data-ng-repeat="project in ['1','2', '11','12', '21','22','31','32']" ng-init="sectionIndex = $index" class="hardware-list__item" data-element="projects-project">
                        <div class="hardware--item">
                            <div class="hardware__image__container" data-element="over-project">
                                <a class="hardware__image__open" data-ng-href="#/{{project.codeProject? 'codeproject/' : 'bloqsproject/'}}{{project._id}}" target="_blank">
                                    <img ng-src="{{common.urlImage + 'project/' + project._id + '?' + timestamp}}" err-src="../images/common/default-project.png">
                                </a>
                            </div>
                        </div>
                    </li>
                </ol>

                <!--Online compilation + Google Extension-->
                <fieldset ng-if="common.os !== 'ChromeOS'" class="user-options-checkbox">
                    <span class="input input--checkbox">
                        <input type="checkbox" id="chromeappCheckbox" name="chromeappCheckbox" value="common.user.chromeapp" ng-checked="common.user.chromeapp === true" ng-model="common.user.chromeapp" data-element="chromeapp-checkbox">
                        <label for="chromeappCheckbox">{{'account-checkbox-chromeapp' | translate}}</label>
                    </span>
                </fieldset>
            </div>
        </div>
    </form>
    <form class="form--account" id="form--account__second-column">
        <div class="second-column">
            <div class="form--section">
                <fieldset class="last--fieldset">
                    <legend>
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#earth"></use>
                        </svg>
                        <span>{{ 'language' | translate }}</span>
                    </legend>
                    <div class="form-control">
                        <common-dropdown class="dropdown--small" data-heading-option="common.user.language | translate" data-options-click="changeLanguage" data-options="test" />
                    </div>
                </fieldset>
            </div>
            <!---->
        </div>
    </form>
</div>
