<div class="view view--account" ng-class="{'account--ru':translate.use() === 'ru-RU', 'account--de':translate.use() === 'de-DE'}">
    <div class="account__header">
        <h1 class="h2 account__heading">{{ 'account-config' | translate }}</h1>
    </div>
    <div class="account__content">
        <form class="form--account" id="form--account">
            <div class="first-column">
                <div class="form--section">
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#user"></use>
                            </svg>
                            <span>{{ 'user-profile' | translate }}</span>
                        </legend>
                        <!-- Name -->
                        <div class="form-control">
                            <label for="name">{{ 'name' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'name'}">
                                <input type="text" id="name" name="name" placeholder="{{'name' | translate}}" tabindex="0" aria-invalid="false" data-ng-blur="focus = false" data-ng-focus="focus = 'name'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.firstName" data-element="firstname">
                            </span>
                        </div>
                        <!-- Surname -->
                        <div class="form-control">
                            <label for="surname">{{ 'surname' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'surname'}">
                                <input type="text" id="surname" name="surname" placeholder="{{'surname' | translate}}" tabindex="0" aria-invalid="false" data-ng-blur="focus = false" data-ng-focus="focus = 'surname'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.lastName" data-element="lastname" >
                            </span>
                        </div>
                        <!-- Username -->
                        <div class="form-control">
                            <label for="username">{{ 'user-name' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'username'}">
                                <input type="text" id="username" name="username" placeholder="{{'user-name' | translate}}" tabindex="0" maxlength="50" aria-invalid="false" data-ng-blur="focus = false" data-ng-focus="focus = 'username'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.username" data-element="username">
                            </span>
                        </div>
                        <!-- Email -->
                        <div class="form-control">
                            <label for="email">{{ 'email' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'email'}">
                                <input type="email" id="email" name="email" placeholder="mail@mail.com" tabindex="0" aria-invalid="false" data-ng-blur="focus = false" data-ng-focus="focus = 'email'" data-ng-model="common.user.email" data-element="email" disabled>
                            </span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#lock"></use>
                            </svg>
                            <span>{{ 'password' | translate }}</span>
                        </legend>
                        <div class="form-control">
                            <label>{{ 'account-change-password' | translate }}</label>
                            <input type="button" id="password" value="{{ 'account-restore-password' | translate }}" class="btn btn--secondary btn--small btn--account--password" data-ng-click="changePassword($event)" data-element="account-reset-password-button"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#share"></use>
                            </svg>
                            <span>{{ 'account-connect-to-social-network' | translate }}</span>
                        </legend>
                        <div class="account__connect">
                            <div ng-show="common.user.social.google.id !== ''">
                                <span>{{ 'account-connect-to' | translate }}</span>
                                <span class="connect-to-SN-google">
                                    Google +</span>
                            </div>
                            <div ng-show="common.user.social.facebook.id !== ''">
                                <span>{{ 'account-connect-to' | translate }}</span>
                                <span class="connect-to-SN-facebook">
                                    Facebook</span>
                            </div>
                        </div>
                        <div class="form-control">
                            <input type="button" value="{{ 'google+' | translate }}" class="btn btn--social btn__login--google" ng-click="authenticate('google')" ng-if="common.user && !common.user.social.google.id" data-element="account-social-google-button" />
                            <input type="button" value="{{ 'facebook' | translate }}" class="btn btn--social btn__login--facebook" ng-click="authenticate('facebook')" ng-if="common.user && !common.user.social.facebook.id" data-element="account-social-facebook-button"/>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="user-options-checkbox">
                    <span class="input input--checkbox">
                        <input type="checkbox" id="teacherCheckbox" name="teacherCheckbox" value="common.user.newsletter" ng-checked="common.user.newsletter === true" ng-model="common.user.newsletter" data-element="teacher-checkbox">
                        <label for="teacherCheckbox">{{'account-checkbox-teacher' | translate}}</label>
                    </span>
                </fieldset>
                <fieldset ng-if="common.os !== 'ChromeOS'" class="user-options-checkbox">
                    <span class="input input--checkbox">
                        <input type="checkbox" id="chromeappCheckbox" name="chromeappCheckbox" value="common.user.chromeapp" ng-checked="common.user.chromeapp === true" ng-model="common.user.chromeapp" data-element="chromeapp-checkbox">
                        <label for="chromeappCheckbox">{{'account-checkbox-chromeapp' | translate}}</label>
                    </span>
                </fieldset>
                <fieldset class="user-options-checkbox last">
                    <span class="input input--checkbox">
                        <input type="checkbox" id="seeBoardsUnderDevelopmentCheckbox" name="seeBoardsUnderDevelopmentCheckbox" value="common.user.seeBoardsUnderDevelopment" ng-checked="common.user.seeBoardsUnderDevelopment === true" ng-model="common.user.seeBoardsUnderDevelopment" data-element="seeBoardsUnderDevelopment-checkbox">
                        <label for="seeBoardsUnderDevelopmentCheckbox">{{'account-checkbox-seeboardsunderdevelopment' | translate}}</label>
                    </span>
                </fieldset>
                <p class="account__delete">{{'account-link-deleteAccount' | translate}}
                    <a href="mailto:{{'support_email' | translate}}">{{'support_email' | translate}}</a>
                </p>
            </div>
        </form>
        <form class="form--account" id="form--account__second-column">
            <div class="second-column">
                <div class="form--section">
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#imageDefault"></use>
                            </svg>
                            <span>{{ 'profile-avatar' | translate }}</span>
                        </legend>
                        <!-- input type="file"-->
                        <div class="form-control">
                            <div>
                                <div class="main--user--image" id="main-image" ng-click="uploadImageTrigger('main')">
                                    <img id="avatarUser" ng-src="{{common.urlImage + 'avatar/' + common.user._id}}" err-src="../images/common/avatar.png" data-element="account-image" >
                                </div>
                                <input type="file" name="projectimage" class="btn btn--primary btn--small hidden main-image--input" data-ng-blur="focus = false" data-ng-focus="focus='projectimage'" onchange="angular.element(this).scope().uploadImage(this.files)" data-element="account-fileinput"/>
                                <input type="button" value="{{ 'upload-image' | translate }}" class="btn btn--secondary btn--small btn--account-upload-image" data-ng-click="uploadImageTrigger('main')"/>
                                <div>
                                    <small>{{ 'account-avatar-requisites' | translate }}</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form--section">
                    <fieldset class="last--fieldset">
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#earth"></use>
                            </svg>
                            <span>{{ 'language' | translate }}</span>
                        </legend>
                        <div class="form-control">
                            <common-dropdown class="dropdown--small" data-heading-option="common.user.language | translate" data-options-click="changeLanguage" data-options="test"/>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="third-column">
                <div class="form--section">
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#tweeter"></use>
                            </svg>
                            <span>{{ 'twitter' | translate }}</span>
                        </legend>
                        <!-- input type="file"-->
                        <div class="form-control">
                            <div class="form-control">
                                <label for="name">{{ 'consumer-key' | translate }}</label>
                                <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-key'}">
                                    <input aria-invalid="false" data-element="firstname" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-key'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerKey" id="consumer-key" name="consumer-key" placeholder="{{'consumer-key' | translate}}" tabindex="0" type="text">
                                </span>
                            </div>
                            <div class="form-control">
                                <label for="name">{{ 'consumer-secret' | translate }}</label>
                                <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'consumer-secret'}">
                                    <input aria-invalid="false" data-element="firstname" data-ng-blur="focus = false" data-ng-focus="focus = 'consumer-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.consumerSecret" id="consumer-secret" name="consumer-secret" placeholder="{{'consumer-secret' | translate}}" tabindex="0" type="text">
                                </span>
                            </div>
                            <div class="form-control">
                                <label for="name">{{ 'access-token' | translate }}</label>
                                <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token'}">
                                    <input aria-invalid="false" data-element="firstname" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessToken" id="access-token" name="access-token" placeholder="{{'access-token' | translate}}" tabindex="0" type="text">
                                </span>
                            </div>
                            <div class="form-control">
                                <label for="name">{{ 'access-token-secret' | translate }}</label>
                                <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'access-token-secret'}">
                                    <input aria-invalid="false" data-element="firstname" data-ng-blur="focus = false" data-ng-focus="focus = 'access-token-secret'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.twitterApp.accessTokenSecret" id="access-token-secret" name="access-token-secret" placeholder="{{'access-token-secret' | translate}}" tabindex="0" type="text">
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
