<div class="view view--account" ng-class="{'account--ru':translate.use() === 'ru-RU', 'account--de':translate.use() === 'de-DE'}">
    <div class="account__header">
        <h1 class="h2 account__heading">{{ 'account-config' | translate }}</h1>
    </div>
    <div class="account__content">
        <form class="form--account" id="form--account">
            <div class="first-column">
                <div class="form--section">
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#usuario"></use>
                            </svg>
                            <span>{{ 'user-profile' | translate }}</span>
                        </legend>
                        <!-- Name -->
                        <div class="form-control">
                            <label for="name">{{ 'name' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'name'}">
                                <input aria-invalid="false" data-element="firstname" data-ng-blur="focus = false" data-ng-focus="focus = 'name'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.firstName" id="name" name="name" placeholder="{{'name' | translate}}" tabindex="0" type="text">
                            </span>
                        </div>
                        <!-- Surname -->
                        <div class="form-control">
                            <label for="surname">{{ 'surname' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'surname'}">
                                <input aria-invalid="false" data-element="lastname" data-ng-blur="focus = false" data-ng-focus="focus = 'surname'" data-ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }" data-ng-model="common.user.lastName" id="surname" name="surname" placeholder="{{'surname' | translate}}" tabindex="0" type="text">
                            </span>
                        </div>
                        <!-- Username -->
                        <div class="form-control">
                            <label for="username">{{ 'user-name' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'username'}">
                                <input aria-invalid="false" data-element="username" data-ng-blur="focus = false" data-ng-focus="focus = 'username'" data-ng-model="common.user.username" disabled id="username" name="username" placeholder="{{'user-name' || translate}}" tabindex="0" type="text">
                            </span>
                        </div>
                        <!-- Email -->
                        <div class="form-control">
                            <label for="email">{{ 'email' | translate }}</label>
                            <span class="form--input" data-ng-class="{'form--input':true, 'input--focused':focus === 'email'}">
                                <input aria-invalid="false" data-element="email" data-ng-blur="focus = false" data-ng-focus="focus = 'email'" data-ng-model="common.user.email" disabled id="email" name="email" placeholder="mail@mail.com" tabindex="0" type="email">
                            </span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#candado"></use>
                            </svg>
                            <span>{{ 'password' | translate }}</span>
                        </legend>
                        <div class="form-control">
                            <label>{{ 'account-change-password' | translate }}</label>
                            <input class="btn btn--secondary btn--small btn--account--password" data-element="account-reset-password-button" data-ng-click="turnToLocal($event)" id="password" ng-if="common.user.provider === 'social'" type="button" value="{{ 'account-restore-password' | translate }}"/>
                            <input class="btn btn--secondary btn--small btn--account--password" data-element="account-reset-password-button" data-ng-click="changePassword($event)" id="password" ng-if="common.user.provider === 'local'" type="button" value="{{ 'account-restore-password' | translate }}"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#redesSociales"></use>
                            </svg>
                            <span>{{ 'account-connect-to-social-network' | translate }}</span>
                        </legend>
                        <div class="account__connect">
                            <div ng-show="userProviders.google">
                                <span>{{ 'account-connect-to' | translate }}</span>
                                <span class="connect-to-SN">
                                    Google +</span>
                            </div>
                            <div ng-show="userProviders.facebook">
                                <span>{{ 'account-connect-to' | translate }}</span>
                                <span class="connect-to-SN">
                                    Facebook</span>
                            </div>
                        </div>
                        <div class="form-control">
                            <input class="btn btn--social btn__login--google" data-element="account-social-google-button" ng-click="authenticate('google')" ng-if="common.user && !common.user.social.google.email" type="button" value="{{ 'google+' | translate }}"/>
                            <input class="btn btn--social btn__login--facebook" data-element="account-social-facebook-button" ng-click="authenticate('facebook')" ng-if="common.user && !common.user.social.facebook.email" type="button" value="{{ 'facebook' | translate }}"/>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="teacher-checkbox">
                    <span class="input input--checkbox">
                        <input data-element="teacher-checkbox" id="teacherCheckbox" name="teacherCheckbox" ng-checked="common.user.newsletter === true" ng-model="common.user.properties.newsletter" type="checkbox" value="common.user.properties.isTeacher">
                        <label for="teacherCheckbox">{{'account-checkbox-teacher' | translate}}</label>
                    </span>
                </fieldset>
                <p class="account__delete">{{'account-link-deleteAccount' | translate}}
                    <a href="mailto:{{'support_email' | translate}}">{{'support_email' | translate}}</a>
                </p>
            </div>
        </form>
        <form class="form--account" id="form--account__second-column">
            <div class="second-column">
                <div class="form--section">
                    <fieldset>
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#imageDefault"></use>
                            </svg>
                            <span>{{ 'profile-avatar' | translate }}</span>
                        </legend>
                        <!-- input type="file"-->
                        <div class="form-control">
                            <div>
                                <div class="main--user--image" id="main-image" ng-click="uploadImageTrigger('main')">
                                    <img data-element="account-image" id="avatarUser" ng-src="{{common.urlImage + 'avatar/' + common.user._id}}" err-src="../images/common/avatar.png">
                                </div>

                                <input class="btn btn--primary btn--small hidden main-image--input" data-element="account-fileinput" data-ng-blur="focus = false" data-ng-focus="focus='projectimage'" id="" name="projectimage" onchange="angular.element(this).scope().uploadImage(this.files)" placeholder="" type="file"/>
                                <input class="btn btn--secondary btn--small btn--account-upload-image" data-ng-click="uploadImageTrigger('main')" type="button" value="{{ 'upload-image' | translate }}"/>

                                <div>
                                    <small>{{ 'account-avatar-requisites' | translate }}</small>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form--section">
                    <fieldset class="last--fieldset">
                        <legend>
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#Archivo_CambiarIdioma"></use>
                            </svg>
                            <span>{{ 'language' | translate }}</span>
                        </legend>
                        <div class="form-control">
                            <common-dropdown class="dropdown--small" data-heading-option="common.user.language | translate" data-options-click="changeLanguage" data-options="test"/>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
