<div class="bluetooth-interaction">
    <div class="bluetooth-interaction__head">
        <h1 class="bluetooth-interaction__title">Conecta el bluetooth a la placa</h1>
        <button ng-click="closeBluetoothInteraction()" class="btn bluetooth-interaction__close">
            <svg class="svg-icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="bluetooth-interaction__content">
        <img src="../images/gifs/interactionLED.gif" alt="Bluetooth interaction">
    </div>
</div>
