<div class="form form--login" style="min-width: 500px">
    <div class="form">
        <form name="form" autocomplete="on" novalidate>
            <fieldset style="margin:10px">
                <!-- User name o email -->
                <div class="form-control">
                        <span style="display: flex; width:100%"
                              class="input input--default form-input}">
                            <input style="flex-grow: 1"
                                   type="text"
                                   data-ng-model="serial.input"
                                   placeholder="Send text to board" autocorrect="off"
                                   autocomplete="on" data-element="login-emailusername-intput" required>
                            <button class="btn btn--secondary btn--small" ng-click="send()">Send</button>
                        </span>
                </div>
                <div class="form-control">
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-legend="true" chart-series="series"
                            chart-click="onClick" chart-options="chartOptions">
                    </canvas>
                </div>
                <!-- Submit Form -->
                <div>
                    <button class="btn btn--secondary btn--small">Pause</button>
                    <button class="btn btn--secondary btn--small">Clear</button>
                    <common-dropdown options="baudrateOptions" class="projects--sort-dropdown right" style="width:150px"
                                     heading-option="serial.baudrate" options-click="onBaudrateChanged"></common-dropdown>
                </div>
            </fieldset>
        </form>
    </div>
</div>
