<div class="code-project" data-ng-keydown="onFieldKeyUp($event)">
    <!-- Navigation -->
    <div ng-show="common.user && common.section === 'codeproject'" ng-class="{'nav':true, 'nav--bar':true, 'nav--make':true, 'header--collapsed':collapsedHeader}">
        <ul class="nav__menu">
            <li class="nav--logo" data-element="nav-logo">
                <a data-ng-href="#/{{common.user?'projects':''}}" class="nav__menu__link">
                    <svg class="svg-icon svg-icon-logo">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                    </svg>
                </a>
            </li>
            <li class="nav__menu__item project--title">
                <h1 id="currentproject" class="h3 make__project--name" ng-click="projectService.rename()" data-element="project-name">{{projectService.project.name || 'new-project' | translate}}
                    <span></span>
                </h1>
                <span class="make--saving" data-element="project-save-label-{{projectService.getSavingStatusIdLabel()}}">{{ projectService.getSavingStatusIdLabel() | translate }}</span>
            </li>
            <li class="nav__menu__item nav__item--white right--last" data-tooltips="true" data-tooltip-position="bottom" data-tooltip="{{ 'verify' | translate }}">
                <button class="nav__menu__btn btn" data-ng-click="verify()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}">
                    <svg class="svg-icon">
                        <use xlink:href="#tick"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-tooltips="true" data-tooltip-position="bottom" data-tooltip="{{ 'load' | translate }}">
                <button class="nav__menu__btn btn" data-ng-click="upload()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-walkthrough="upload">
                    <svg class="svg-icon">
                        <use xlink:href="#load"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="!projectService.project._acl.ALL && !disablePublish" data-tooltips="true" data-tooltip="{{ 'to-explore' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="publishProject()" data-ng-disabled="!projectService.project._id || disablePublish" data-ng-class="{'btn--make--disabled':!projectService.project._id || disablePublish}">
                    <svg class="svg-icon">
                        <use xlink:href="#cloud"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="projectService.project._acl.ALL && projectService.project._id && utils.userIsOwner(projectService.project, common.user._id)"
                data-tooltips="{{!projectService.project._id || !common.user || !utils.userIsOwner(projectService.project, common.user._id)}}"
                data-tooltip="{{(!common.user?'need-to-be-logged':!projectService.project._id?'empty-project':!utils.userIsOwner(projectService.project, common.user._id)?'you-are-not-the-admin-copy-it':'do-private') | translate}}"
                data-tooltip-position="bottom">
                <button ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!utils.userIsOwner(projectService.project, common.user._id)}"
                        data-ng-click="commonModals.doPrivateProject(projectService.project)()">
                    <svg class="svg-icon">
                        <use xlink:href="#private"></use>
                    </svg>
                </button>
            </li>
            <li class="nav__menu__item nav__item--white right" data-ng-if="disablePublish || projectService.project._acl.ALL && projectService.project._id && !utils.userIsOwner(projectService.project, common.user._id)" data-tooltips="true"
                data-tooltip="{{ 'project-addto-myprojects' | translate }}" data-tooltip-position="bottom">
                <button class="nav__menu__btn btn" data-ng-click="commonModals.clone(projectService.project, true)">
                    <svg class="svg-icon">
                        <use xlink:href="#plusCircle"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <!-- Actions Menu -->
    <div class="actions--make" data-ng-include="'views/makeActions.html'" data-ng-controller="MakeActionsCtrl"></div>
    <div data-ng-class="{'content--main':true, 'content--main--collapse':collapsedHeader || !common.user}" data-ng-click="dropdown = false">
        <aside data-ng-class="{'aside-code tabs--make--left':true, 'content--main--collapse':collapsedHeader}" ng-init="currentTab='code'">
            <ul class="tabs__menu">
                <li data-walkthrough="software-tab" data-ng-class="{tabs__menu__item:true, selected:currentTab==='code'}" data-ng-click="currentTab='code'" data-tooltips="true" data-tooltip="{{ 'software' | translate }}" data-tooltip-position="right"
                    data-element="software-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#code"></use>
                    </svg>
                </li>
                <li data-ng-class="{tabs__menu__item:true, selected:currentTab==='info'}" data-ng-click="currentTab='info'" data-tooltips="true" data-tooltip="{{ 'project-info' | translate }}" data-tooltip-position="right" data-element="info-tab">
                    <svg class="svg-icon">
                        <use xlink:href="#info"></use>
                    </svg>
                </li>
            </ul>
        </aside>
        <div data-ng-class="{'tab--container tab-code':true,'container-without-user': !common.user}">
            <div id="codeIde" class="code-ide" data-ng-show="currentTab==='code'" ui-ace="aceOptions" ng-model="projectService.project.code"></div>
            <div class="tab--make" data-ng-show="currentTab==='info'" data-ng-include="'views/bloqsproject/infoTab.html'"></div>
        </div>
    </div>
</div>
