<div class="component-interaction">
    <div class="component-interaction__head">
        <h1 class="component-interaction__title">Conecta el componente a la placa</h1>
        <button ng-click="closeComponentInteraction()" class="btn component-interaction__close">
            <svg class="svg-icon">
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="component-interaction__content">
        <img src="../images/gifs/interactionLED.gif" alt="component interaction">
    </div>
</div>
