<div class="main--cookies">
    <h1 class="h1 main--terms--title">{{ 'policies-cookies' | translate }}</h1>
    <section>
        <h1 class="h2">{{ 'service-terms-privacy-policy' | translate}}</h1>

        <p>
            <span>{{ 'service-terms-privacy-policy-6-1' | translate }} <a href="http://www.bq.com/" target="_blank">www.bq.com.</a></span>
            <span>{{ 'service-terms-privacy-policy-6-2' | translate }} <a href="mailto:lopd@bq.com" target="_blank">lopd@bq.com.</a></span>
        </p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-cookies' | translate}}</h1>

        <p>
            <span>{{ 'service-terms-cookies-7-1' | translate }} <a href="http://bitbloq.bq.com" target="_blank">http://bitbloq.bq.com</a></span>
            <span>{{ 'service-terms-cookies-7-2' | translate }} <a href="http://www.bq.com/" target="_blank">www.bq.com.</a></span>
        </p>
    </section>
</div>
