<header ng-class="{'header--ru':translate.use() === 'ru-RU', 'header--de':translate.use() === 'de-DE', header:true, 'header--relative':!common.headerAbsolute}" ng-controller="HeaderCtrl" role="banner">
    <h1 class="invisible">Bitbloq</h1>

    <div class="nav nav--bar nav--main">
        <nav class="menu" role="navigation">
            <h1 class="invisible">Bitbloq Navigation</h1>
            <ul class="nav__menu">
                <li class="nav--logo" data-element="nav-logo">
                    <a class="nav__menu__link" data-ng-href="#/{{common.user?'projects':''}}">
                        <svg class="svg-icon svg-icon-logo">
                            <use xlink:href="#logoBibtloq_webTool"></use>
                        </svg>
                    </a>
                </li>
                <li ng-if="common.user && userRole==='headMaster'" data-element="nav-center" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'center'}">
                    <a class="nav__menu__link" href="#/center-mode/center">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Center"></use>
                        </svg>
                        <span>{{ 'header_tab_myCenter' | translate }}</span>
                    </a>
                </li>
                <li ng-if="common.user && (userRole==='headMaster' || userRole==='teacher')" data-element="nav-class" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'center'}">
                    <a class="nav__menu__link" href="#/center-mode/classes">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Class"></use>
                        </svg>
                        <span>{{ 'header_tab_myClass' | translate }}</span>
                    </a>
                </li>
                <li data-element="nav-make" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':(common.section === 'bloqsproject' || common.section === 'codeproject')}" ng-if="!common.user">
                    <a class="nav__menu__link" href="#/bloqsproject">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Construye"></use>
                        </svg>
                        <span>{{ 'make' | translate }}</span>
                    </a>
                </li>
                <li data-element="nav-projects" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'projects'}" ng-if="common.user">
                    <a class="nav__menu__link" href="#/projects">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Mis_proyectos"></use>
                        </svg>
                        <span>{{ 'projects' | translate }}</span>
                    </a>
                </li>
                <li data-element="nav-explore" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'explore'}">
                    <a class="nav__menu__link" href="#/explore">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Explora"></use>
                        </svg>
                        <span>{{ 'explore' | translate }}</span>
                    </a>
                </li>
                <li data-element="nav-learn" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'learn'}">
                    <a class="nav__menu__link" href="#/learn">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Aprende"></use>
                        </svg>
                        <span data-element="header-menu-learn">{{ 'learn' | translate }}</span>
                    </a>
                </li>
                <li data-element="nav-forum" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'forum'}">
                    <a class="nav__menu__link" href="#/forum">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Forum"></use>
                        </svg>
                        <span>{{ 'help_title_forum' | translate }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu--user" ng-show="!common.user">
            <div class="menu--user__header">
                <button class="btn btn--secondary btn--small" data-element="header-enterbutton" ng-click="common.goToLogin()">{{ 'enter' | translate }}</button>
            </div>
        </div>
        <div class="menu--user" ng-show="common.user">
            <div ng-if="common.user && userRole!=='headMaster'" class="menu--user__center-mode">
                <p>{{'centerMode_modal_createCenterTitle' | translate}}</p>
                <button ng-click="activateCenterMode()">{{'centerMode_header_info' | translate}}</button>
            </div>
            <div class="menu--user__header">
                <span class="menu--user__avatar" ng-click="openMenu($event)">
                    <img class="img--avatar" image-change="common.avatarChange" data-element="open-header-menu" err-src="../images/common/avatar.png" ng-src="{{common.urlImage + 'avatar/' + common.user._id}}">
                </span>
            </div>
            <ul class="menu--user__content" ng-show="showHeader">
                <li>
                    <span>
                        {{ 'welcome-male' | translate }}
                        {{common.user.username}}
                    </span>
                </li>
                <li>
                    <a href="/#/account">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#preferencias"></use>
                        </svg>
                        {{ 'header-account-config' | translate }}
                    </a>
                </li>
                <li>
                    <a data-element="header-change-language" href ng-click="commonModals.launchChangeLanguageModal()">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#Archivo_CambiarIdioma"></use>
                        </svg>
                        {{ 'header-change-language' | translate }}
                    </a>
                </li>
                <li>
                    <a data-element="header-menu-logout" href ng-click="logout();">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#cerrarsesion"></use>
                        </svg>
                        {{ 'header-close-session' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
