<header ng-class="{'header--ru':translate.use() === 'ru-RU', 'header--de':translate.use() === 'de-DE', header:true, 'header--relative':!common.headerAbsolute}" ng-controller="HeaderCtrl" role="banner">
    <h1 class="invisible">Bitbloq</h1>
    <div class="nav nav--bar nav--main">
        <nav class="menu" role="navigation">
            <h1 class="invisible">Bitbloq Navigation</h1>
            <ul>
                <li data-element="nav-logo">
                    <a class="nav__menu__link" data-ng-href="#/{{common.user?'projects/myprojects':''}}">
                        <svg class="svg-icon svg-icon-logo">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="nav__menu" ng-if="common.user && (common.userRole==='headmaster' || common.userRole==='teacher')">
                <li ng-if="common.userRole==='headmaster'" ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'center-mode' && common.urlType.indexOf('center') > -1}" data-element="nav-center">
                    <a class="nav__menu__link" href="#/center-mode/center">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#home"></use>
                        </svg>
                        <span>{{ 'header_tab_myCenter' | translate }}</span>
                    </a>
                </li>
                <li ng-class="{'nav__menu__item':true, 'nav__menu__item--selected': common.section === 'center-mode' && common.urlType === 'teacher'}" data-element="nav-class">
                    <a class="nav__menu__link" href="#/center-mode/teacher">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#people"></use>
                        </svg>
                        <span>{{ 'header_tab_myClasses' | translate }}</span>
                    </a>
                </li>
                <li ng-class="{'nav__menu__item':true, 'nav__menu__item--selected':common.section === 'exercises'}" data-element="nav-exercises">
                    <a class="nav__menu__link" href="#/exercises">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#exercise"></use>
                        </svg>
                        <span>{{ 'header_tab_myExercises' | translate }}</span>
                    </a>
                </li>
                <li ng-class="{'nav__menu__item':true}">
                    <button class="nav__menu__link" ng-click="openMenu($event)" data-element="nav-show-menu">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#ellipsis"></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <ul class="nav__menu" ng-class="{'menu--overlay menu--overlay__content':common.user && (common.userRole==='headmaster' || common.userRole==='teacher')}" ng-show="!common.user || (common.userRole!=='headmaster' && common.userRole!=='teacher') || showHeader">
                <li class="nav__menu__item menu--overlay__item" ng-if="!common.user" ng-class="{'nav__menu__item--selected':(common.section === 'bloqsproject' || common.section === 'codeproject')}" data-element="nav-make">
                    <a class="nav__menu__link" href="#/bloqsproject">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#build"></use>
                        </svg>
                        <span>{{ 'make' | translate }}</span>
                    </a>
                </li>
                <li class="nav__menu__item menu--overlay__item" ng-if="common.user" ng-class="{'nav__menu__item--selected':common.section === 'projects'}" data-element="nav-projects">
                    <a class="nav__menu__link" href="#/projects/myprojects">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#folder"></use>
                        </svg>
                        <span>{{ 'projects' | translate }}</span>
                    </a>
                </li>
                <li class="nav__menu__item menu--overlay__item" ng-if="common.user" ng-class="{'nav__menu__item--selected':common.section === 'tasks'}" data-element="nav-exercise">
                    <a class="nav__menu__link" href="#/tasks">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#exercise"></use>
                        </svg>
                        <span>{{ 'header_tab_tasks' | translate }}</span>
                    </a>
                </li>
                <li class="nav__menu__item menu--overlay__item" ng-class="{'nav__menu__item--selected':common.section === 'explore'}" data-element="nav-explore">
                    <a class="nav__menu__link" href="#/explore">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#cloud"></use>
                        </svg>
                        <span>{{ 'explore' | translate }}</span>
                    </a>
                </li>
                <li class="nav__menu__item menu--overlay__item" ng-class="{'nav__menu__item--selected':common.section === 'learn'}" data-element="nav-learn">
                    <a class="nav__menu__link" href="#/learn">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#book"></use>
                        </svg>
                        <span data-element="header-menu-learn">{{ 'learn' | translate }}</span>
                    </a>
                </li>
                <li class="nav__menu__item menu--overlay__item" ng-class="{'nav__menu__item--selected':common.section === 'forum'}" data-element="nav-forum">
                    <a class="nav__menu__link" href="#/forum">
                        <svg class="svg-icon svg-icon--text">
                            <use xlink:href="#forum"></use>
                        </svg>
                        <span>{{ 'help_title_forum' | translate }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu--user" ng-show="!common.user">
            <div class="menu--user__header">
                <button class="btn btn--secondary btn--small" ng-click="common.goToLogin()" data-element="header-enterbutton">{{ 'enter' | translate }}</button>
            </div>
        </div>
        <div class="menu--user" ng-show="common.user">
            <div class="menu--user__header">
                <span class="menu--user__avatar" ng-click="openUserMenu($event)">
                    <img class="img--avatar" image-change="common.avatarChange" err-src="../images/common/avatar.png" ng-src="{{common.urlImage + 'avatar/' + common.user._id}}" data-element="open-header-menu">
                </span>
            </div>
            <div class="menu--overlay" ng-show="showUserHeader">
                <h3 class="menu--overlay__title" translate="hi-username" translate-values="{ value:'{{common.user.username}}' }"></h3>
                <ul class="menu--overlay__content">
                    <li class="menu--overlay__item menu--overlay__item--border">
                        <a href="/#/account">
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#settings"></use>
                            </svg>
                            {{ 'header-account-config' | translate }}
                        </a>
                    </li>
                    <li class="menu--overlay__item menu--overlay__item--border">
                        <button ng-click="logout()" data-element="header-menu-logout">
                            <svg class="svg-icon svg-icon--text">
                                <use xlink:href="#logOut"></use>
                            </svg>
                            {{ 'header-close-session' | translate }}
                        </button>
                    </li>
                    <li class="menu--overlay__item menu--overlay__item--stand-out" ng-if="(!common.user.birthday || !utils.userIsUnder14(common.user.birthday)) && common.userRole!=='headmaster'">
                        <button ng-click="createCenter()" data-element="header-menu-create-center">
                            {{ 'header-create-center' | translate }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
