<div class="learn" data-element="learn-view">
    <div class="tutorials--title">
        <h1 class="tutorials--level">{{'basics'| translate}}</h1>
    </div>
    <ul class="tutorial--list" data-element="help-basicTutorial">
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/antes-de-empezar-con-bitbloq-2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/1.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_1_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_1_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-id="{{translate.use()}}" ng-href="{{diwoURL}}/conociendo-bitbloq-2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/2.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_2_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_2_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/que-es-un-robot-conociendo-los-sensores-y-actuadores/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/3.png" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_3_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_3_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/y-la-luz-se-hizo-programando-leds-en-bitbloq-2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/4.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_4_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_4_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/si-tu-me-dices-ven-sentencias-condicionales-y-el-pulsador/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/5.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_5_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_5_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/comunicandose-con-puerto-serie-bitbloq2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/6.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_6_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_6_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/programando-con-variables-en-bitbloq-2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/7.png" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_7_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_7_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/aprende-a-pensar-como-un-robot-los-algoritmos/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/8.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_8_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_8_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/piruru-piii-programando-el-zumbador/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/9.png" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_9_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_9_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/o-blanco-o-negro-el-sensor-infrarrojo/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/10.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_10_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_10_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/programando-el-potenciometro-con-bitbloq-2/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/11.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_11_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_11_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/ve-hacia-la-luz-robotin-programando-el-sensor-de-luz/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/12.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_12_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_12_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user"></button>
            <a class="contact-us" ng-href="{{diwoURL}}/bucles-bucles-bucles-bucles-bu-los-bucles-de-control/" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/diwo/13.jpg" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'diwo_tutorial_13_title' | translate}}</span>

                <p class="tutorial--item--text"> {{'diwo_tutorial_13_text' | translate}}</p>
            </div>
        </li>
        <li class="tutorial--item">
            <button class="contact-us" ng-if="common.user" data-ng-click="commonModals.sendCommentsModal()" data-element="help-contact-us-tutorial"></button>
            <a class="contact-us" ng-if="!common.user" href="mailto:{{'support_email' | translate}}" data-element="help-contact-us-tutorial" target="_blank"></a>

            <div class="tutorial--image--container">
                <img src="../images/common/default-project.png" alt="">
            </div>
            <div class="tutorial--short--info">
                <span class="tutorial--item--heading">{{'tutorials-preparing'|translate}}</span>

                <p class="tutorial--item--text"> {{'tutorials-simple'|translate}}</p>
            </div>
        </li>
    </ul>
</div>
