<div id="loginContainer" class="login-container" ng-class="{'hide-container': !isLogin || isForgotPassword}">
    <div ng-class="{'form--login__container':true}"  data-effect="shake">
        <h1 class="h3">{{ 'enter' | translate }}</h1>
        <span class="form--subtitle">{{ 'login-profiles' | translate }}</span>

        <div class="social--buttons__container">
            <ul class="row row--collapse">
                <li class="social--button__container">
                    <button class="btn btn--social btn__login--facebook" ng-click="authenticate('facebook')">
                        {{ 'facebook' | translate }}
                    </button>
                </li>
                <li class="social--button__container">
                    <button id="authorize-button" class="btn btn--social btn__login--google" ng-click="authenticate('google')">
                        {{ 'google+' | translate }}
                    </button>
                </li>
            </ul>
            <span class="form-control form--error" data-ng-show="errors.register.socialEmail">
                <small>{{ 'login-registered-email' | translate }}</small>
                <button data-ng-click="setForgotPassword(); isForgotPassword=true" class="btn btn--forgot btn--forgot-error">
                    <small> {{ 'login-forgot-password' | translate }}</small>
                </button>
            </span>
        </div>
        <div class="separator">
            <span>{{ 'or' | translate }}</span>
        </div>
        <div class="form">
            <form name="form" autocomplete="on" novalidate>
                <fieldset class="form--data--center">
                    <legend class="invisible">Login Form</legend>
                    <ul class="alert-container" ng-show="form.$submitted">
                        <li class="form__span--error" ng-show="errors.disconnect">
                            {{ 'login-error-disconnect' | translate }}
                        </li>
                    </ul>
                    <!-- User name o email -->
                    <div class="form-control">
                        <label for="emailusername" class="invisible">Username or Email</label>
                        <span ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'emailusername', 'input--error':form.emailusername.submitted && (form.emailusername.$error.required || errors.login.emailUserName)}">
                            <svg class="svg-icon form-icon--username icon--form--validating">
                                <use xlink:href="#user"></use>
                            </svg>
                            <input type="text" id="emailusername" name="emailusername" data-ng-model="form.emailUserNameModel" data-ng-focus="form.emailusername.submitted=false; focus = 'emailusername'" data-ng-blur="focus = false" maxlength="50" placeholder="{{'login-username-email' | translate}}" autocorrect="off" autocomplete="on" data-element="login-emailusername-intput" required>
                        </span>
                        <span class="form--error" data-ng-show="form.emailusername.submitted && form.emailusername.$error.required" data-element="show-no-user-and-email">
                            <small>{{ 'login-username-or-email' | translate }}</small>
                        </span>
                        <span class="form--error" data-ng-show="form.emailusername.submitted && errors.login.emailUserName" data-element="show-no-user-or-email-register">
                            <small>{{ 'login-incorrect-username-email' | translate }}</small>
                            <small>
                                <input data-ng-click="recovery.emailError=false; isForgotPassword=false; isSocialRegister=false; setRegister()" class="btn btn--forgot btn--forgot-error" tabindex="-1" value="{{ 'login-email-register' | translate }}">
                            </small>
                        </span>
                    </div>
                    <!-- Password -->
                    <input type="password" class="ng-hide">

                    <div class="form-control">
                        <span data-ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'password', 'input--error':form.password.submitted && (form.password.$error.required || form.password.$error.minlength || errors.login.password)}">
                            <svg class="svg-icon">
                                <use xlink:href="#lock"></use>
                            </svg>
                            <input type="password" id="password" name="password" autocomplete="off" data-ng-model="user.password" data-ng-focus="form.password.submitted=false; focus = 'password'" data-ng-blur="focus = false" data-ng-minlength="6" maxlength="50" placeholder="{{'password' | translate}}" autocorrect="off" data-element="login-password-input" required>
                        </span>
                        <span class="form--error" data-ng-show="form.password.submitted && form.password.$error.required" data-element="show-no-pass">
                            <small>{{ 'login-enter-password' | translate }}</small>
                        </span>
                        <span class="form--error" data-ng-show="form.password.submitted && form.password.$error.minlength" data-element="show-more-six-pass">
                            <small>{{ 'login-min-length-password' | translate }}</small>
                        </span>
                        <span class="form--error" data-ng-show="form.password.submitted &&  errors.login.password" data-element="show-incorrect-password">
                            <small>{{ 'login-incorrect-password' | translate }}</small>
                        </span>
                    </div>
                    <!-- Submit Form -->
                    <div class="form-control">
                        <input type="submit" name="submitform" class="btn btn--primary btn__login--submit" value="{{'enter' | translate}}" data-ng-click="form.password.submitted=true; form.emailusername.submitted=true; loginSubmit(form)" data-element="login-button">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="form-control form--login__footer">
            <p class="form-control text-center">
                <button data-element="login-forgot-password-button" data-ng-click="setForgotPassword(); isForgotPassword=true; recovery.success=false; recovery.error=false" class="btn btn--forgot">{{ 'login-forgot' | translate }}</button>
            </p>
        </div>
    </div>
    <p class="text-center">

    <div class="form--login__register">
        <a ng-show="!isSocialRegister" ng-click="form.password.submitted=false; setRegister()" data-element="create-account">
            <strong>{{'login-create-account' | translate }}</strong>
        </a>
    </div>
    </p>
</div>
<div id="isForgotPassword" class="login-container" ng-class="{'hide-container': !isForgotPassword, 'form--login__container':true}" data-effect="shake">
    <div ng-show="!recovery.success && !recovery.error">
        <h1 class="h3">{{ 'recovery-title' | translate }}</h1>
        <span class="form--subtitle">{{ 'recovery-explanation' | translate }}</span>

        <div class="form">
            <form name="formForgot" autocomplete="off" ng-submit="forgotPassword(formForgot)" novalidate>
                <fieldset class="form--data--center">
                    <legend class="invisible">Forgot Form</legend>
                    <!-- Email -->
                    <div class="form-control" ng-init="emailFocus=false">
                        <label for="emailToSend" class="invisible">email</label>
                        <span ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'email', 'input--error':formForgot.emailToSend.submitted && (formForgot.emailToSend.$invalid || formForgot.emailToSend.$error.required || recovery.emailError)}">
                            <svg class="svg-icon">
                                <use xlink:href="#mail"></use>
                            </svg>
                            <input type="email" id="emailToSend" name="emailToSend" placeholder="{{'email' | translate}}" autocorrect="off" autocomplete="off" data-ng-model="emailToSend" data-ng-focus="formForgot.emailToSend.submitted=false; focus = 'email'" data-ng-blur="focus = false" data-ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$/" data-element="login-email-to-send-input" required>
                        </span>
                        <span class="form--error" data-ng-show="formForgot.emailToSend.submitted && formForgot.emailToSend.$error.required" data-element="show-noemail">
                            <small>{{ 'login-email-empty' | translate }}</small>
                        </span>
                        <span class="form--error" data-ng-show="formForgot.emailToSend.submitted && (formForgot.emailToSend.$error.email || formForgot.emailToSend.$error.pattern)" data-element="invalid-email">
                            <small>{{ 'login-valid-email' | translate }}</small>
                        </span>
                        <span class="form--error" data-ng-show="formForgot.emailToSend.submitted && recovery.emailError">
                            <small data-element="login-email-not-exist">{{ 'login-email-not-exist' | translate }}</small>
                            <small>
                                <input data-ng-click="recovery.emailError=false; isForgotPassword=false; isSocialRegister=false; user.email=emailToSend" class="btn btn--forgot btn--forgot-error" tabindex="-1" value="{{ 'login-email-register' | translate }}">
                            </small>
                        </span>
                    </div>
                    <!-- Submit Form -->
                    <div class="form-control">
                        <button type="submit" name="submitform" class="btn btn--primary btn__login--submit" ng-click="formForgot.emailToSend.submitted=true" data-element="login-email-to-send-button">{{ 'send' | translate }}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div ng-show="recovery.success">
        <h1 class="h3">{{ 'recovery-success-title' | translate }}</h1>
        <span class="form--subtitle">{{ 'recovery-success-explanation' | translate }}</span>

        <div class="form-control">
            <small>{{ 'recovery-success-spam' | translate }}</small>
            <button data-ng-click="forgotPassword(formForgot)" class="btn btn--forgot">
                <small> {{ 'recovery-error-forward' | translate }}</small>
            </button>
        </div>
    </div>
    <div ng-show="recovery.error">
        <h1 class="h3">{{ 'recovery-error-title' | translate }}</h1>
        <span class="form--subtitle">{{ 'recovery-error-explanation' | translate }}</span>

        <div class="form-control">
            <small>{{ 'recovery-error-forward-error' | translate }}</small>
            <a href="mailto:{{'support_email' | translate}}" class="btn btn--forgot">
                <small> {{ 'recovery-error-email' | translate }}</small>
            </a>
        </div>
    </div>
    <div class="form--login__footer">
        <p class="form-control text-center">
            <a ng-click="isForgotPassword=!isForgotPassword; setLoginFromForgotPassword();">
                <span ng-show="!isForgotPassword">{{'login-return-to-login' | translate }}</span>
                <span ng-show="isForgotPassword">{{'recovery-got-to-init' | translate }}</span>
            </a>
        </p>
    </div>
</div>
