<div class="form form--login">
    <div ng-class="{'login-is-loading':common.isLoading}"></div>
    <div ng-show="!common.isLoading" ng-class="{'form--container':true}">
        <a href="#/">
            <svg class="form--login__image">
                <use xlink:href="#logoHorizontal"></use>
            </svg>
        </a>
        <div ng-show="!isSocialRegister" data-ng-include="'views/loginForm.html'"></div>
        <div ng-show="!isSocialRegister" data-ng-include="'views/registerForm.html'"></div>
        <div ng-show="isSocialRegister" ng-class="{'form--login__container':true}" data-effect="shake">
            <h1 class="h3">{{ isLessThan18 ? 'login-usernameBirthday-create' : 'login-username-create' | translate }}</h1>
            <span class="form--subtitle">{{ isLessThan18 ? 'login-usernameBirthday-explanation' : 'login-username-explanation' | translate }}</span>
            
            <div class="form">
                <form name="formSocial" autocomplete="off" novalidate>
                    <fieldset class="form--data--center">
                        <legend class="invisible">Login Form</legend>
                        <!-- User social name -->
                        <div class="form-control">
                            <span class="form--input input--default" data-ng-class="{'input--error':formSocial.usernameSocial.submitted && (formSocial.usernameSocial.$error.required || username.invalid || (username.search && !username.free)), 'input--focused':focus === 'usernameSocial'}">
                                <svg class="svg-icon form-icon--username icon--form--validating">
                                    <use xlink:href="#user"></use>
                                </svg>
                                <input type="text" id="usernameSocial" name="usernameSocial" class="input--login--username" maxlength="50" placeholder="{{'user-name' | translate}}" autocorrect="off" autocomplete="off" ng-model="user.username" ng-focus="formSocial.usernameSocial.submitted = false; focus = 'usernameSocial'"
                                       ng-blur="focus = false" data-element="login-social-username-input" required>
                                <svg ng-show="username.searching" class="svg-icon icon--form--loading icon--form--validating icon--animated--spin">
                                    <use xlink:href="#loader"></use>
                                </svg>
                                <svg ng-show="username.search && username.free" class="svg-icon icon--form--validating icon--form--validated ">
                                    <use xlink:href="#tickCircle"></use>
                                </svg>
                            </span>
                            <span class="form--error" ng-show="formSocial.usernameSocial.submitted && formSocial.usernameSocial.$error.required">
                                <small>{{ 'login-username-empty' | translate }}</small>
                            </span>
                            <span class="form--error" ng-show="formSocial.usernameSocial.submitted && username.search && !username.free">
                                <small>{{ 'login-username-in-use' | translate }}</small>
                            </span>
                            <span class="form--error" ng-show="formSocial.usernameSocial.submitted && username.invalid">
                                <small>{{ 'login-alphanumeric-numeric-error' | translate }}</small>
                            </span>
                        </div>
                        <!-- User social email -->
                        <div class="form-control" ng-if="showEmailForm">
                            <span class="form--input input--default"
                                  data-ng-class="{'input--error':formSocial.emailSocial.submitted && (formSocial.emailSocial.$error.required || formSocial.emailSocial.$error.email || formSocial.emailSocial.$error.pattern || (email.search && !email.free)), 'input--focused':focus === 'emailSocial'}">
                                <svg class="svg-icon form-icon--username icon--form--validating">
                                    <use xlink:href="#mail"></use>
                                </svg>
                                <input id="emailSocial" name="emailSocial" type="email" class="input--login--username" data-ng-model="user.email" data-ng-focus="formSocial.emailSocial.submitted=false; focus = 'emailSocial'" data-ng-blur="focus = false"
                                       data-ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$/" placeholder="{{'email' | translate}}" autocorrect="off"
                                       autocomplete="off" required>
                                <svg ng-show="email.searching" class="svg-icon icon--form--loading icon--form--validating icon--animated--spin">
                                    <use xlink:href="#loader"></use>
                                </svg>
                                <svg ng-show="email.search && email.free" class="svg-icon icon--form--validating icon--form--validated ">
                                    <use xlink:href="#tickCircle"></use>
                                </svg>
                            </span>
                            <span class="form--error" data-ng-show="formSocial.emailSocial.submitted && formSocial.emailSocial.$error.required" data-element="register-show-noemail">
                                <small>{{ 'login-email-empty' | translate }}</small>
                            </span>
                            <span class="form--error" data-ng-show="formSocial.emailSocial.submitted && (formSocial.emailSocial.$error.email || formSocial.emailSocial.$error.pattern)" data-element="register-invalid-email">
                                <small>{{ 'login-valid-email' | translate }}</small>
                            </span>
                            <span class="form--error" data-ng-show="formSocial.emailSocial.submitted && email.search && !email.free" data-element="login-duplicated-email">
                                <small>{{ 'login-registered-email' | translate }}</small>
                            </span>
                        </div>
                        <button class="btn btn--default btn--check-user" ng-click="formSocial.usernameSocial.submitted = true; formSocial.emailSocial.submitted = true; checkSocialForm()" data-element="login-social-check-user-button">{{showEmailForm? 'login-check-social' : 'login-check-username' | translate }}</button>
                        <!-- Age -->
                        <div class="form-control form-birthday" ng-show="isLessThan18">
                            <label for="birthday">{{ 'login-birth-day' | translate }}</label>
                            <span id="birthday" data-ng-class="{'input input--date':true, 'input--focused':focus === 'birthday'}">
                            <div class="input--group--date" ng-init="formSocial.birthday.submitted=false">
                                <input data-element="register-day-input" type="text" id="birthdayDay" name="day" autocomplete="off" pattern="[0-9]+" maxlength="2" placeholder="{{'days' | translate}}" data-ng-model="socialYounger.birthday.day" data-ng-focus="formSocial.birthday.submitted=false; focusHandler($event)"
                                       data-ng-blur="focus = false; checkAge(socialYounger)" autocorrect="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" data-ng-class="{'birthday--error':formSocial.birthday.submitted && (errors.register.emptyBirthday || errors.register.validBirthday)}" required>
                                <input data-element="register-month-input" type="text" id="birthdayMonth" name="month" autocomplete="off" pattern="[0-9]+" maxlength="2" placeholder="{{'months' | translate}}" data-ng-model="socialYounger.birthday.month" data-ng-focus="formSocial.birthday.submitted=false; focusHandler($event)"
                                       data-ng-blur="focus = false; checkAge(socialYounger)" autocorrect="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" data-ng-class="{'birthday--error':formSocial.birthday.submitted && (errors.register.emptyBirthday || errors.register.validBirthday)}" required>
                                <input data-element="register-year-input" type="text" id="birthdayYear" name="year" autocomplete="off" pattern="[0-9]+" maxlength="4" minlength="4" placeholder="{{'years' | translate}}" data-ng-model="socialYounger.birthday.year"
                                       data-ng-focus="formSocial.birthday.submitted=false; focusHandler($event)"
                                       data-ng-blur="focus = false; checkAge(socialYounger)" autocorrect="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" data-ng-class="{'birthday--error':formSocial.birthday.submitted && (errors.register.emptyBirthday || errors.register.validBirthday)}" required>
                            </div>
                        </span>
                            <span class="form--error" ng-show="formSocial.birthday.submitted && errors.register.emptyBirthday && !errors.register.validBirthday" data-element="show-no-birthdate">
                            <small>{{ 'login-introduce-birth-day' | translate }}</small>
                        </span>
                            <span class="form--error" ng-show="formSocial.birthday.submitted && errors.register.validBirthday" data-element="show-valid-birthdate">
                            <small>{{ 'login-valid-birth-day' | translate }}</small>
                        </span>
                        </div>
                        <!--Tutor-->
                        <div data-ng-show="userUnder14Years">
                            <p class="login-paragraph">{{ 'under14-register-warning-1' | translate }}</p>
                            <p class="login-paragraph">{{ 'under14-register-warning-2' | translate }}</p>
                            <p class="login-paragraph">{{ 'under14-register-warning-3' | translate }}</p>
                        </div>
                        <!--Name-->
                        <div class="form-control" data-ng-show="userUnder14Years">
                            <label for="tutorName">{{ 'login-tutor-name' | translate }}</label>
                            <span class="form--input input--default" ng-class="{'input--error':formSocial.tutorName.submitted && formSocial.tutorName.$error.required, 'input--focused':focus === 'tutorName'}">
                            <svg class="svg-icon form-icon--username icon--form--validating">
                                <use xlink:href="#user"></use>
                            </svg>
                            <input ng-class="{'input--login--username':true}" ng-model="user.tutor.firstName" ng-focus="formSocial.tutorName.submitted = false; focus = 'tutorName'" ng-blur="formSocial.tutorName.submitted = true;focus = false" id="tutorName" name="tutorName" type="text" maxlength="50"
                                   placeholder="{{'name' | translate}}"
                                   autocorrect="off" autocomplete="off" required data-element="register-tutor-name">
                        </span>
                            <span class="form--error" data-ng-show="formSocial.tutorName.submitted && formSocial.tutorName.$error.required" data-element="show-nonametutor">
                            <small>{{ 'insert-name' | translate }}</small>
                        </span>
                        </div>
                        <!--Surname-->
                        <div class="form-control" data-ng-show="userUnder14Years">
                            <label for="tutorSurname">{{ 'login-tutor-surname' | translate }}</label>
                            <span class="form--input input--default" ng-class="{'input--error':formSocial.tutorSurname.submitted && formSocial.tutorSurname.$error.required, 'input--focused':focus === 'tutorSurname'}">
                            <svg class="svg-icon form-icon--username icon--form--validating">
                                <use xlink:href="#user"></use>
                            </svg>
                            <input ng-class="{'input--login--username':true}" ng-model="user.tutor.lastName" ng-focus="formSocial.tutorSurname.submitted = false; focus = 'tutorSurname'" ng-blur="formSocial.tutorSurname.submitted = true;focus = false" id="tutorSurname" name="tutorSurname" type="text" maxlength="50"
                                   placeholder="{{'surname' | translate}}" autocorrect="off" autocomplete="off" required data-element="register-tutor-lastname">
                        </span>
                            <span class="form--error" data-ng-show="formSocial.tutorSurname.submitted && formSocial.tutorSurname.$error.required" data-element="show-nosurname">
                            <small>{{ 'insert-surname' | translate }}</small>
                        </span>
                        </div>
                        <!-- Email -->
                        <div class="form-control" data-ng-show="userUnder14Years">
                            <label for="tutorEmail">{{ 'login-tutor-email' | translate }}</label>
                            <span ng-class="{'input input--form--login input--default':true, 'input--focused':focus === 'tutorEmail', 'input--error':formSocial.tutorEmail.submitted && (formSocial.tutorEmail.$invalid || formSocial.tutorEmail.$error.required || errors.register.tutorEmail)}">
                            <svg class="svg-icon">
                                <use xlink:href="#mail"></use>
                            </svg>
                            <input data-ng-model="user.tutor.email" data-ng-focus="formSocial.tutorEmail.submitted=false; focus = 'tutorEmail'" data-ng-blur="focus = false;formSocial.tutorEmail.submitted=true;" id="tutorEmail" name="tutorEmail" type="email"
                                   data-ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$/" placeholder="{{'email' | translate}}" autocorrect="off" autocomplete="off" required data-element="register-tutor-email">
                        </span>
                            <span class="form--error" data-ng-show="formSocial.tutorEmail.submitted && formSocial.tutorEmail.$error.required" data-element="register-show-notutoremail">
                            <small>{{ 'login-email-empty' | translate }}</small>
                        </span>
                            <span class="form--error" data-ng-show="formSocial.tutorEmail.submitted && (formSocial.tutorEmail.$error.email || formSocial.tutorEmail.$error.pattern)" data-element="register-invalid-tutoremail">
                            <small>{{ 'login-valid-email' | translate }}</small>
                        </span>
                            <span class="form--error" data-ng-show="errors.register.sameTutorEmail" data-element="register-same-email">
                            <small>{{ 'login-tutor-same-email' | translate }}</small>
                        </span>
                        </div>
                        <!--FIN Tutor-->
                        <!-- Service terms -->
                        <div class="form-control form-service-term">
                        <span data-ng-class="{'input input--checkbox':!formSocial.readServiceTerm.submitted || user.cookiePolicyAccepted, 'input--checkbox--error':formSocial.readServiceTerm.submitted && !user.cookiePolicyAccepted}">
                            <input type="checkbox" name="readServiceTerm" id="readServiceTerm" ng-model="user.cookiePolicyAccepted" data-ng-focus="formSocial.readServiceTerm.submitted=false" data-element="login-social-term-checkbox" required>
                            <label for="readServiceTerm">
                                {{ 'register-read-service-term' | translate }}
                                <a href="#/terms" target="_blank">{{ 'register-read-general-conditions' | translate}}</a>
                                {{ 'text-join' | translate }}
                                <a href="#/cookies" target="_blank">{{ 'register-read-policies-privacy' | translate }}</a>
                            </label>
                        </span>
                            <span class="form--error" ng-show="formSocial.readServiceTerm.submitted && !user.cookiePolicyAccepted" data-element="show-no-check">
                            <small>{{ 'login-conditions' | translate }}</small>
                        </span>
                        </div>
                        <!-- Submit Form -->
                        <div class="form-control">
                            <input type="submit" name="submitform" class="btn btn--primary btn__login--submit" value="{{ 'enter' | translate }}"
                                   ng-click="registerSocial(formSocial)" data-element="login-social-enter-button">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="form--login__footer">
                <p class="form-control text-center">
                    <a ng-click="isLogin=false; isSocialRegister=false">{{'login-return-to-register' | translate }}</a>
                </p>
            </div>
        </div>
    </div>
</div>