<ul class="actions__menu">
    <div class="tour-steps">
        <div ng-show="tourCurrentStep === 7 && !common.user" class="tour-step--seventh tour-step--right">
            <small>{{ 'tour-step-seven' | translate }}</small>
            <span>{{ 'tour-step-seven-text' | translate }}</span>
        </div>
    </div>
    <li class="actions__menu__item">
        <button ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'file'}" ng-click="dropdownHandler('file')" data-element="menu-file">{{'file' | translate}}</button>
        <ul ng-class="{actions__menu__dropdown:true, hidden:dropdown !== 'file', 'actions__menu--selected':dropdown === 'file'}">
            <li ng-if="common.section === 'bloqsproject'" class="dropdown__item">
                <a href="#/bloqsproject/" target="_blank" data-element="menu-newproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#nuevoProyecto"></use>
                    </svg>{{'create-new-project' | translate}}</a>
            </li>
            <li data-tooltips="{{!common.user}}" data-tooltip="{{(!common.user?'need-to-be-logged':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!common.user" data-ng-click="openProject()" data-element="menu-openproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#open"></use>
                    </svg>
                    {{'open-project' | translate}}
                </div>
            </li>
            <li ng-if="common.section === 'bloqsproject'" class="dropdown__item" data-ng-click="openFileProject()" data-element="menu-openprojectfromfile">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#upload"></use>
                </svg>
                {{'open-project-from-file' | translate}}
            </li>
            <li ng-if="common.section === 'bloqsproject'" class="dropdown__item--separator"></li>
            <li data-tooltips="{{!common.user}}" data-tooltip="{{(!common.user?'need-to-be-logged':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!common.user" data-ng-click="commonModals.renameProject(project)" data-element="menu-changename">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#edit"></use>
                    </svg>
                    {{'change-name' | translate}}
                </div>
            </li>
            <li data-tooltips="{{!common.user}}" data-tooltip="{{(!common.user?'need-to-be-logged':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!common.user" data-ng-click="clone()" data-element="menu-clone">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#duplicar"></use>
                    </svg>
                    {{'create-copy' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li ng-if="common.section === 'bloqsproject'" class="dropdown__item" data-ng-click="downloadProject()" data-element="menu-download">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#descargar"></use>
                </svg>
                {{'download-project' | translate}}
            </li>
            <li class="dropdown__item" data-ng-click="downloadIno()" data-element="menu-exportarduino">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#exportcode"></use>
                </svg>
                {{common.section==='bloqsproject'? 'export-arduino-code': 'navigation_text_file_downloadArduinoCode'| translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-ng-click="commonModals.launchChangeLanguageModal()" data-element="menu-changelanguage">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#Archivo_CambiarIdioma"></use>
                </svg>
                {{'change-language' | translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltips="{{!utils.userIsOwner(project, common.user._id) || !project._id}}" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':!utils.userIsOwner(project, common.user._id)?'you-are-not-the-admin':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!utils.userIsOwner(project, common.user._id) || !project._id" data-ng-click="removeProject(project)" data-element="menu-removeproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#remove"></use>
                    </svg>
                    {{'delete-project' | translate}}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item" data-ng-show="currentTab === 1">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'edit'}" data-ng-click="dropdownHandler('edit')" data-element="makeactions-menuedit">{{'edit' | translate}}</button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--edit':true, hidden:dropdown !== 'edit', 'actions__menu--selected':dropdown === 'edit'}">
            <li data-ng-class="{'dropdown__item':true, 'dropdown__menu--disabled':bloqsHistory.length <= 1 }" data-ng-click="undo()" data-element="makeactions-menuedit-undo" data-ng-disabled="disableUndo()">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#deshacer"></use>
                </svg>
                {{'undo' | translate}}
            </li>
            <li data-ng-class="{'dropdown__item':true, 'dropdown__menu--disabled':bloqsHistoryPointer >= bloqsHistory.length }" data-ng-click="redo()" data-element="makeactions-menuedit-redo" data-ng-disabled="disableRedo()">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#rehacer"></use>
                </svg>
                {{'redo' | translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-ng-click="copycode()" data-clipboard-target="" data-element="makeactions-menuedit-copycode">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#duplicar"></use>
                </svg>
                {{'makeActions_copyCode' | translate}}
            </li>
        </ul>
    </li>
    <li class="actions__menu__item">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'view'}" data-ng-click="dropdownHandler('view')" data-element="makeactions-menuview">{{'see' | translate}}</button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--view':true, hidden:dropdown !== 'view', 'actions__menu--selected':dropdown === 'view'}">
            <!-- <li class="dropdown__item" data-ng-click="zoom(0.1)" data-element="makeactions-menuview-morezoom">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#Ver_ampliarZoom"></use>
                </svg>
                {{'more-zoom' | translate}}
            </li>
            <li class="dropdown__item" data-ng-click="zoom(1)" data-element="makeactions-menuview-resetzoom">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#zoom_normal"></use>
                </svg>
                {{'reset-zoom' | translate}}
            </li>
            <li class="dropdown__item" data-ng-click="zoom(-0.1)" data-element="makeactions-menuview-lesszoom">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#Ver_reducirZoom"></use>
                </svg>
                {{'less-zoom' | translate}}
            </li> -->
            <!-- <li class="dropdown__item--separator"></li> -->
            <li>
                <div class="dropdown__item" data-ng-click="serialMonitor()" data-ng-disabled="isWeb2BoardInProgress()" data-element="makeactions-menuview-console">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#Ver_verSerialMonitor"></use>
                    </svg>
                    {{'show-console' | translate}}
                </div>
                <!--<div class="dropdown__item" data-ng-click="chartMonitor()" data-ng-disabled="isWeb2BoardInProgress()" data-element="makeactions-menuview-console">-->
                    <!--<svg class="svg-icon svg-icon&#45;&#45;text svg-icon&#45;&#45;menu">-->
                        <!--<use xlink:href="#Ver_verSerialMonitor"></use>-->
                    <!--</svg>-->
                    <!--Chart monitor-->
                <!--</div>-->
                <div class="dropdown__item" data-ng-click="showWeb2boardSettings()" data-ng-disabled="isWeb2BoardInProgress()" data-element="makeactions-menuview-console">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#web2board"></use>
                    </svg>
                    {{ 'web2board-settings-title' | translate }}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'share'}" data-ng-click="dropdownHandler('share')" data-element="makeactions-menushare">{{'share' | translate}}</button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--share':true, hidden:dropdown !== 'share', 'actions__menu--selected':dropdown === 'share'}">
            <li data-tooltips="{{!project._id || !common.user || !utils.userIsOwner(project, common.user._id)}}" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':!utils.userIsOwner(project, common.user._id)?'you-are-not-the-admin-copy-it':'publish-project') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-if="!project._acl.ALL" data-ng-disabled="!utils.userIsOwner(project, common.user._id) || !project._id" data-ng-click="publishProject()" data-element="makeactions-menushare-publish">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#Compartir_publicarEnExplora"></use>
                    </svg>
                    {{'to-explore' | translate}}
                </div>
            </li>
            <li data-tooltips="{{!utils.userIsOwner(project, common.user._id) || !project._id}}" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':!utils.userIsOwner(project, common.user._id)?'you-are-not-the-admin-copy-it':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-if="project._acl.ALL" data-element="makeactions-menushare-private" data-ng-disabled="!utils.userIsOwner(project, common.user._id) || !project._id" data-ng-click="commonModals.doPrivateProject(project)">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#privado"></use>
                    </svg>
                    {{'do-private' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltips="{{!utils.userIsOwner(project, common.user._id) || !project._id}}" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':!utils.userIsOwner(project, common.user._id)?'you-are-not-the-admin-copy-it':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!utils.userIsOwner(project, common.user._id) || !project._id" data-ng-click="commonModals.modalShareWithUsers(project)" data-element="makeactions-menushare-share-with-users">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#usuario"></use>
                    </svg>
                    {{'with-another-users' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltips="{{!common.user || !project._id || (!utils.userIsOwner(project, common.user._id) && !project._acl.ALL)}}" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':(!utils.userIsOwner(project, common.user._id) && !project._acl.ALL)?'projectActions__text_privateProjectAndNoAdmin':'') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-disabled="!common.user || !project._id || (!utils.userIsOwner(project, common.user._id) && !project._acl.ALL)" data-ng-click="publishProject('Social')" data-element="makeactions-menushare-share-social">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#redesSociales"></use>
                    </svg>
                    {{'on-social-media' | translate}}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'help'}" data-ng-click="dropdownHandler('help')" data-element="makeactions-menuhelp">{{'help' | translate}}</button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--file':help, hidden:dropdown !== 'help', 'actions__menu--selected':dropdown === 'help'}">
            <li class="dropdown__item" data-element="makeactions-menuhelp-faq">
                <a href="#/help/forum/Preguntas%20frecuentes" target="_blank">{{'faq' | translate}}</a>
            </li>
            <li class="dropdown__item" data-element="makeactions-menuhelp-tutorial">
                <a href="#/learn" target="_blank">{{'basic-tutorials' | translate}}</a>
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item">
                <button ng-if="common.user" ng-click="commonModals.errorFeedbackModal()" data-element="makeactions-menuhelp-errorfeedback" class="contact-us-email">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#warning"></use>
                    </svg>
                    {{'notify-error' | translate}}
                </button>
                <a ng-if="!common.user" href="mailto:{{'support_email' | translate}}" target="_blank" data-element="makeactions-menuhelp-errorfeedback" class="contact-us-email">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#warning"></use>
                    </svg>
                    {{'notify-error' | translate}}
                </a>
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-element="makeactions-menuhelp-forum">
                <a href="#/help/forum" target="_blank">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#Ayuda_IrAlForoDeBitbloq"></use>
                    </svg>
                    {{'goto-bitbloq-forum' | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>
<button data-element="hide-bar" data-ng-disabled="!common.user" ng-class="{'actions__collapse--header':true, 'btn--make--disabled':!common.user,'nav__menu__btn':true}" data-ng-click="toggleCollapseHeader()">
    <svg data-ng-class="{'svg-icon':true, 'svg-icon--animated':true, 'svg-icon--rotate':collapsedHeader}">
        <use xlink:href="#plegarMenu"></use>
    </svg>
</button>
<ul data-ng-class="{'little__actions right':true, 'header--transparent':!collapsedHeader && common.user}">
    <li class="nav__menu__item right" data-ng-if="!project._acl.ALL && common.user && utils.userIsOwner(project, common.user._id)" data-tooltips="true" data-tooltip="{{(!common.user?'need-to-be-logged':!project._id?'empty-project':!utils.userIsOwner(project, common.user._id)?'you-are-not-the-admin-copy-it':'publish-project') | translate}}" data-tooltip-position="bottom">
        <button ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!project._id}" data-ng-click="publishProject()">
            <svg class="svg-icon">
                <use xlink:href="#publicar"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-ng-if="project._acl.ALL && project._id && common.user && utils.userIsOwner(project, common.user._id)" data-tooltips="true" data-tooltip="{{ 'do-private' | translate }}" data-tooltip-position="bottom">
        <button ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!utils.userIsOwner(project, common.user._id)}" data-ng-click="commonModals.doPrivateProject(project)">
            <svg class="svg-icon">
                <use xlink:href="#privado"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-ng-if="project._acl.ALL && !utils.userIsOwner(project, common.user._id) || !common.user || project._acl['user:' + common.user._id].permission === 'READ'" data-tooltips="true" data-tooltip="{{ 'project-addto-myprojects' | translate }}" data-tooltip-position="bottom">
        <button ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!common.user}" data-ng-click="commonModals.clone(project)">
            <svg class="svg-icon">
                <use xlink:href="#mas"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-tooltips="true" data-tooltip="{{ 'load' | translate }}" data-tooltip-position="bottom">
        <button class="nav__menu__btn btn" data-ng-click="upload();" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-walkthrough="upload">
            <svg class="svg-icon">
                <use xlink:href="#cargar"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-tooltips="true" data-tooltip="{{ 'verify' | translate }}" data-tooltip-position="bottom">
        <button class="nav__menu__btn btn" data-ng-click="verify()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}">
            <svg class="svg-icon">
                <use xlink:href="#verificar"></use>
            </svg>
        </button>
    </li>
</ul>
<input id="uploadProject" class="hide" type="file" name="uploadProject" onchange="angular.element(this).scope().uploadProjectSelected(this.files)" data-element="makeactions-input-upload-file" />
