<ul class="actions__menu">
    <div class="tour-steps">
        <div class="tour-step--seventh tour-step--right" ng-show="tourCurrentStep === 7 && !common.user">
            <small>{{ 'tour-step-seven' | translate }}</small>
            <span>{{ 'tour-step-seven-text' | translate }}</span>
        </div>
    </div>
    <li class="actions__menu__item">
        <button ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'file'}" ng-click="dropdownHandler('file')" data-element="menu-file">
            {{'file' | translate}}
        </button>
        <ul ng-class="{actions__menu__dropdown:true, hidden:dropdown !== 'file', 'actions__menu--selected':dropdown === 'file'}">
            <li class="dropdown__item" ng-if="common.section !== 'exercise' && common.section !== 'task'">
                <a href="#/bloqsproject/" target="_blank" data-element="menu-newproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#file"></use>
                    </svg>
                    {{'create-new-project' | translate}}</a>
            </li>
            <li class="dropdown__item" ng-if="common.section !== 'exercise' && common.section !== 'task'">
                <a href="#/codeproject/" target="_blank" data-element="menu-newprojectcode">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#code"></use>
                    </svg>
                    {{'create-new-code-project' | translate}}</a>
            </li>
            <li ng-if="common.section !== 'exercise' && common.section !== 'task'" data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':'') | translate}}" data-tooltips="{{!common.user}}">
                <div class="dropdown__item" data-ng-click="openProject()" data-ng-disabled="!common.user" data-element="menu-openproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#open"></use>
                    </svg>
                    {{'open-project' | translate}}
                </div>
            </li>
            <li class="dropdown__item" ng-if="common.section !== 'exercise' && common.section !== 'task' && common.section === 'bloqsproject'" data-ng-click="openFileProject()" data-element="menu-openprojectfromfile">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#upload"></use>
                </svg>
                {{'open-project-from-file' | translate}}
            </li>
            <li ng-if="common.section === 'exercise'" data-tooltip-position="right" data-tooltip="{{(!currentProject._id?'empty-project':'') | translate}}" data-tooltips="{{!currentProject._id}}">
                <div class="dropdown__item" ng-disabled="groups.length <= 0" data-ng-click="editExerciseGroups(currentProject, groups, true );" data-ng-disabled="!common.user || !currentProject._id" data-element="centerMode_editDate">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    {{'centerMode_editDate' | translate}}
                </div>
            </li>
            <li ng-if="common.section === 'exercise'" data-tooltip-position="right" data-tooltip="{{(!currentProject._id?'empty-project':'') | translate}}" data-tooltips="{{!currentProject._id}}">
                <div class="dropdown__item" data-ng-click="editExerciseGroups(currentProject, groups)" data-ng-disabled="!common.user || !currentProject._id" data-element="centerMode_asignGroup">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#people"></use>
                    </svg>
                    {{'centerMode_assignGroup' | translate}}
                </div>
            </li>
            <li data-ng-if="common.section === 'task'" data-tooltip-position="right" data-tooltip="{{(currentProject.status!=='pending'?'centerMode_deliveredExercise': !onTime()[0]?'centerMode_send_initDateError': !onTime()[1]?'centerMode_send_endDateError' : 'send-to-teacher') | translate}}" data-tooltips="{{currentProject.status!=='pending' || !onTime()[0] || !onTime()[1]}}">
                <div class="dropdown__item" data-ng-click="sendTask(currentProject)" data-ng-disabled="currentProject.status!=='pending' || !onTime()[0] || !onTime()[1]" data-element="makeActions_sendExercise">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#airplane"></use>
                    </svg>
                    {{'send-to-teacher' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li ng-if="common.section !== 'task'" data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':'') | translate}}" data-tooltips="{{!common.user}}">
                <div class="dropdown__item" data-ng-click="currentProjectService.rename()" data-ng-disabled="!common.user" data-element="menu-changename">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#pencil"></use>
                    </svg>
                    {{'change-name' | translate}}
                </div>
            </li>
            <li ng-if="common.section!=='task'" data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':'you-are-not-the-admin') | translate}}" data-tooltips="{{!common.user || !currentProject._id || (!utils.userIsOwner(currentProject, common.user._id, common.section))}}">
                <div class="dropdown__item" data-ng-click="currentProjectService.clone()" data-ng-disabled="!common.user || !currentProject._id" data-element="menu-clone">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#duplicate"></use>
                    </svg>
                    {{'create-copy' | translate}}
                </div>
            </li>
            <li ng-if="common.section==='task'" data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':'you-are-not-the-admin') | translate}}" data-tooltips="{{!common.user || !currentProject._id || !currentProject.userCanUpdate}}">
                <div class="dropdown__item" data-ng-click="currentProjectService.saveInMyProjects()" data-ng-disabled="!common.user || !currentProject._id" data-element="menu-save-in-projects">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#folder"></use>
                    </svg>
                    {{'save-in-my-projects' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li ng-if="common.section === 'bloqsproject'" data-tooltip-position="right" data-tooltip="{{(isEmptyProject()?'empty-project':'') | translate}}" data-tooltips="{{isEmptyProject()}}">
                <div class="dropdown__item" data-ng-click="currentProjectService.download()" data-ng-disabled="isEmptyProject()" data-element="menu-download">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#download"></use>
                    </svg>
                    {{common.section === 'bloqsproject'? 'download-project' : 'centerMode_downloadExercise' | translate}}
                </div>
            </li>
            <li class="dropdown__item" data-ng-click="downloadIno()" data-element="menu-exportarduino">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#fileCode"></use>
                </svg>
                {{common.section==='bloqsproject'? 'export-arduino-code': 'navigation_text_file_downloadArduinoCode'| translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-ng-click="commonModals.launchChangeLanguageModal()" data-element="menu-changelanguage">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#earth"></use>
                </svg>
                {{'change-language' | translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin':'') | translate}}" data-tooltips="{{!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id}}">
                <div class="dropdown__item" data-ng-click="removeProject(currentProject, common.section)" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id" data-element="menu-removeproject">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#delete"></use>
                    </svg>
                    {{(common.section==='exercise' || common.section==='task')? 'delete-exercise': 'delete-project' | translate}}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item" data-ng-show="currentTab === 1">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'edit'}" data-ng-click="dropdownHandler('edit')" data-element="makeactions-menuedit">
            {{'edit' | translate}}
        </button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--edit':true, hidden:dropdown !== 'edit', 'actions__menu--selected':dropdown === 'edit'}">
            <li data-ng-class="{'dropdown__item':true, 'dropdown__menu--disabled':bloqsHistory.length <= 1 }" data-ng-click="undo()" data-ng-disabled="disableUndo(currentTab, hardwareHistory, bloqsHistory)" data-element="makeactions-menuedit-undo">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#undo"></use>
                </svg>
                {{'undo' | translate}}
            </li>
            <li data-ng-class="{'dropdown__item':true, 'dropdown__menu--disabled':bloqsHistoryPointer >= bloqsHistory.length }" data-ng-click="redo()" data-ng-disabled="disableRedo(currentTab, hardwareHistory, bloqsHistory)" data-element="makeactions-menuedit-redo">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#do"></use>
                </svg>
                {{'redo' | translate}}
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-clipboard-target="" data-ng-click="copycode()" data-element="makeactions-menuedit-copycode">
                <svg class="svg-icon svg-icon--text svg-icon--menu">
                    <use xlink:href="#duplicate"></use>
                </svg>
                {{'makeActions_copyCode' | translate}}
            </li>
        </ul>
    </li>
    <li class="actions__menu__item">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'view'}" data-ng-click="dropdownHandler('view')" data-element="makeactions-menuview">
            {{'see' | translate}}
        </button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--view':true, hidden:dropdown !== 'view', 'actions__menu--selected':dropdown === 'view'}">
            <li>
                <div class="dropdown__item" data-ng-click="serialMonitor()" data-ng-disabled="isWeb2BoardInProgress()" data-element="makeactions-menuview-web2board">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#screen"></use>
                    </svg>
                    {{'show-console' | translate}}
                </div>
            </li>
            <li>
                <div class="dropdown__item" data-ng-click="showWeb2boardSettings()" data-ng-disabled="isWeb2BoardInProgress()" data-ng-if="(common.os !== 'ChromeOS' && (common.user && !common.user.chromeapp)) || (common.os !== 'ChromeOS' && (!common.user.username))" data-element="makeactions-menuview-console">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#connection"></use>
                    </svg>
                    {{ 'web2board-settings-title' | translate }}
                </div>
            </li>
            <li>
                <div class="dropdown__item" data-ng-click="showPlotter()" data-ng-disabled="isWeb2BoardInProgress()" data-element="makeactions-menuview-plotter">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#graphic"></use>
                    </svg>
                    {{'show-plotter' | translate}}
                </div>
            </li>
            <li data-tooltips="{{!currentProject._id || !common.user || !utils.userIsOwner(currentProject, common.user._id, common.section)}}" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':'publish-project') | translate}}" data-tooltip-position="right">
                <div class="dropdown__item" data-ng-click="showViewer()" data-ng-disabled="!currentProject._id || isWeb2BoardInProgress()" ng-if="!currentProject.codeProject" data-element="makeactions-menuview-viewer">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#group"></use>
                    </svg>
                    {{'show-viewer' | translate}}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item" ng-if="common.section !== 'exercise' && common.section !== 'task'">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'share'}" data-ng-click="dropdownHandler('share')" data-element="makeactions-menushare">
            {{'share' | translate}}
        </button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--share':true, hidden:dropdown !== 'share', 'actions__menu--selected':dropdown === 'share'}">
            <li data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':currentProjectService.showActivation?'activate-robot-explore':'publish-project') | translate}}" data-tooltips="{{!currentProject._id || !common.user || !utils.userIsOwner(currentProject, common.user._id, common.section) || currentProjectService.showActivation}}">
                <div class="dropdown__item" data-ng-click="publishProject()" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id || currentProjectService.showActivation" data-ng-if="!currentProject._acl.ALL" data-element="makeactions-menushare-publish">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#publish"></use>
                    </svg>
                    {{'to-explore' | translate}}
                </div>
            </li>
            <li data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':'') | translate}}" data-tooltips="{{!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id}}">
                <div class="dropdown__item" data-ng-click="commonModals.doPrivateProject(currentProject)" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id" data-ng-if="currentProject._acl.ALL" data-element="makeactions-menushare-private">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#private"></use>
                    </svg>
                    {{'do-private' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltip-position="right" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':'') | translate}}" data-tooltips="{{!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id}}">
                <div class="dropdown__item" data-ng-click="commonModals.modalShareWithUsers(currentProject)" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id" data-element="makeactions-menushare-share-with-users">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#user"></use>
                    </svg>
                    {{'with-another-users' | translate}}
                </div>
            </li>
            <li class="dropdown__item--separator"></li>
            <li data-tooltip-position="right"  data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':(!utils.userIsOwner(currentProject, common.user._id, common.section) && !currentProject._acl.ALL)?'projectActions__text_privateProjectAndNoAdmin':currentProjectService.showActivation?'activate-robot-social':'') | translate}}" data-tooltips="{{!common.user || !currentProject._id || (!utils.userIsOwner(currentProject, common.user._id, common.section) && !currentProject._acl.ALL) || currentProjectService.showActivation}}">
                <div class="dropdown__item" data-ng-click="publishProject('Social')" data-ng-disabled="!common.user || !currentProject._id || (!utils.userIsOwner(currentProject, common.user._id, common.section) && !currentProject._acl.ALL) || currentProjectService.showActivation" data-element="makeactions-menushare-share-social">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#share"></use>
                    </svg>
                    {{'on-social-media' | translate}}
                </div>
            </li>
        </ul>
    </li>
    <li class="actions__menu__item">
        <button data-ng-class="{'actions__menu__button':true, 'actions__menu--selected':dropdown === 'help'}" data-ng-click="dropdownHandler('help')" data-element="makeactions-menuhelp">
            {{'help' | translate}}
        </button>
        <ul data-ng-class="{actions__menu__dropdown:true, 'actions--file':help, hidden:dropdown !== 'help', 'actions__menu--selected':dropdown === 'help'}">
            <li class="dropdown__item" data-element="makeactions-menuhelp-faq">
                <a href="#/forum/Preguntas%20frecuentes" target="_blank">{{'faq' | translate}}</a>
            </li>
            <li class="dropdown__item" data-element="makeactions-menuhelp-tutorial">
                <a href="#/learn" target="_blank">{{'basic-tutorials' | translate}}</a>
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item">
                <button class="contact-us-email" ng-click="commonModals.errorFeedbackModal()" ng-if="common.user" data-element="makeactions-menuhelp-errorfeedback">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#warning"></use>
                    </svg>
                    {{'notify-error' | translate}}
                </button>
                <a class="contact-us-email" href="mailto:{{'support_email' | translate}}" ng-if="!common.user" target="_blank" data-element="makeactions-menuhelp-errorfeedback">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#warning"></use>
                    </svg>
                    {{'notify-error' | translate}}
                </a>
            </li>
            <li class="dropdown__item--separator"></li>
            <li class="dropdown__item" data-element="makeactions-menuhelp-forum">
                <a href="#/forum" target="_blank">
                    <svg class="svg-icon svg-icon--text svg-icon--menu">
                        <use xlink:href="#conversation"></use>
                    </svg>
                    {{'goto-bitbloq-forum' | translate}}
                </a>
            </li>
        </ul>
    </li>
</ul>
<button data-ng-click="toggleCollapseHeader()" data-ng-disabled="!common.user" ng-class="{'actions__collapse--header':true, 'btn--make--disabled':!common.user,'nav__menu__btn':true}" data-element="hide-bar">
    <svg data-ng-class="{'svg-icon':true, 'svg-icon--animated':true, 'svg-icon--rotate':collapsedHeader}">
        <use xlink:href="#fold"></use>
    </svg>
</button>
<ul data-ng-class="{'little__actions right':true, 'header--transparent':!collapsedHeader && common.user}">
    <li class="nav__menu__item right" data-ng-if="common.section !== 'task' && common.section !== 'exercise' && !currentProject._acl.ALL && common.user && utils.userIsOwner(currentProject, common.user._id, common.section)" data-tooltip-position="bottom" data-tooltip="{{(!common.user?'need-to-be-logged':!currentProject._id?'empty-project':!utils.userIsOwner(currentProject, common.user._id, common.section)?'you-are-not-the-admin-copy-it':currentProjectService.showActivation?'activate-robot-explore':'publish-project') | translate}}" data-tooltips="true">
        <button data-ng-click="publishProject()" ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!currentProject._id || !utils.userIsOwner(currentProject, common.user._id)}" data-ng-disabled="!utils.userIsOwner(currentProject, common.user._id, common.section) || !currentProject._id || currentProjectService.showActivation">
            <svg class="svg-icon">
                <use xlink:href="#cloud"></use>
            </svg>
        </button>
    </li>

    <li class="nav__menu__item right" data-ng-if="currentProject._acl.ALL && currentProject._id && common.user && utils.userIsOwner(currentProject, common.user._id, common.section)" data-tooltip-position="bottom" data-tooltip="{{ 'do-private' | translate }}" data-tooltips="true">
        <button data-ng-click="commonModals.doPrivateProject(currentProject)" ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!utils.userIsOwner(currentProject, common.user._id, common.section)}">
            <svg class="svg-icon">
                <use xlink:href="#private"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-ng-if="currentProject._acl.ALL && !utils.userIsOwner(currentProject, common.user._id, common.section) || !common.user || currentProject._acl['user:' + common.user._id].permission === 'READ'" data-tooltip-position="bottom" data-tooltip="{{ 'project-addto-myprojects' | translate }}" data-tooltips="true">
        <button data-ng-click="commonModals.clone(currentProject)" ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!common.user}">
            <svg class="svg-icon">
                <use xlink:href="#plusCircle"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-ng-if="common.section === 'task' && common.user._id !== currentProject.teacher" data-tooltip-position="bottom" data-tooltip="{{(currentProject.status!=='pending'?'centerMode_deliveredExercise': !onTime()[0]?'centerMode_send_initDateError': !onTime()[1]?'centerMode_send_endDateError' : 'send-to-teacher') | translate}}" data-tooltips="true">
        <button data-ng-click="sendTask(currentProject)" ng-class="{'nav__menu__btn':true, 'btn':true, 'btn--make--disabled':!common.user || currentProject.status!=='pending'}" data-ng-disabled="currentProject.status!=='pending' || !onTime()[0] || !onTime()[1]">
            <svg class="svg-icon">
                <use xlink:href="#airplane"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-tooltip-position="bottom" data-tooltip="{{ (!common.user && currentProject.hardware.showRobotImage)?'robots-not-activated-guest-upload':(currentProject.hardware.showRobotImage && !currentProjectService.isRobotActivated() && (common.section === 'bloqsproject') || common.section === 'codeproject') ? 'robots-not-activated-upload' : currentProject.hardware.showRobotImage && !robotActivatedInCenter ? 'robots-not-activated-center-upload' :'load' | translate }}" data-tooltips="true">
        <button class="nav__menu__btn btn" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-ng-click="upload();" data-ng-disabled="isWeb2BoardInProgress() || !common.user && currentProject.hardware.showRobotImage || ( (common.section === 'bloqsproject' || common.section === 'codeproject') && currentProject.hardware.showRobotImage && !currentProjectService.isRobotActivated()) || ((common.section === 'exercise' || common.section === 'task') && currentProject.hardware.showRobotImage && !robotActivatedInCenter)" data-walkthrough="upload">
            <svg class="svg-icon">
                <use xlink:href="#load"></use>
            </svg>
        </button>
    </li>
    <li class="nav__menu__item right" data-tooltip-position="bottom" data-tooltip="{{ (!common.user && currentProject.hardware.showRobotImage)?'robots-not-activated-guest-compile': (currentProject.hardware.showRobotImage && !currentProjectService.isRobotActivated() && (common.section === 'bloqsproject') || common.section === 'codeproject')? 'robots-not-activated-compile' : currentProject.hardware.showRobotImage && !robotActivatedInCenter ?  'robots-not-activated-center-compile': 'verify' | translate }}" data-tooltips="true">
        <button class="nav__menu__btn btn" data-ng-class="{'btn--make--disabled':isWeb2BoardInProgress()}" data-ng-click="verify()" data-ng-disabled="isWeb2BoardInProgress() || !common.user && currentProject.hardware.showRobotImage || ( (common.section === 'bloqsproject' || common.section === 'codeproject') && currentProject.hardware.showRobotImage && !currentProjectService.isRobotActivated()) || ((common.section === 'exercise' || common.section === 'task') && currentProject.hardware.showRobotImage && !robotActivatedInCenter)">
            <svg class="svg-icon">
                <use xlink:href="#tick"></use>
            </svg>
        </button>
    </li>
</ul>
<input type="file" accept=".json, .bitbloq" class="hide" id="uploadProject" name="uploadProject" onchange="angular.element(this).scope().uploadProjectSelected(this.files)" data-element="makeactions-input-upload-file" />
