<div class="projects--actions">
    <div class="projects--action projects--action--sort">
        <common-dropdown data-element="my-proyects-dropdown-order" options="orderOptions" options-click="sortProjects" pre-heading="'explore-sortby'" heading-option="orderOptions[0] | translate" class="projects--sort-dropdown"></common-dropdown>
    </div>
    <!-- <div class="projects--action">
        <common-dropdown options="filterOptions" pre-heading="'see:'" pre-heading-class="'test'" heading-option="filterOptions[0] | translate" options-click="filterProjects" class="projects--filter-dropdown"></common-dropdown>
    </div> -->
    <div class="projects--action grid-list">
        <button ng-click="itemsLayout = 'grid'" ng-class="{btn:true, 'btn--projects--actions':true, 'btn--selected':itemsLayout === 'grid', 'grid--left':true}">
            <svg class="svg-icon">
                <use xlink:href="#cuadricula"></use>
            </svg>
        </button>
        <button data-element="myprojects-item-layout-list-button" ng-click="itemsLayout = 'list'" ng-class="{btn:true, 'btn--projects--actions':true, 'btn--selected':itemsLayout === 'list', 'grid--right':true}">
            <svg class="svg-icon">
                <use xlink:href="#listado"></use>
            </svg>
        </button>
    </div>
    <div class="projects--action grid-list">
        <button ng-click="downloadAllProjects()" ng-class="{'btn btn--projects--actions grid--right grid--left':true, 'btn-only-disabled': userProjects.length === 0 || filtered.projects.length === 0}" data-ng-disabled="userProjects.length === 0 || filtered.projects.length === 0" data-tooltips="true" data-tooltip-position="right" data-tooltip="{{'download-all-projects' | translate}}">
            <svg class="svg-icon">
                <use xlink:href="#descargar"></use>
            </svg>
        </button>
    </div>
    <div class="projects--action">
        <span class="form--input">
            <svg class="svg-icon--search">
                <use xlink:href="#lupa"></use>
            </svg>
            <input type="search" name="search--normal" id="search--normal" ng-model="searchText" placeholder="{{'find'|translate}}" data-ng-focus="focus = 'search'" data-ng-class="{'input--focused':focus === 'search'}" data-ng-blur="focus = false" data-element="projects-find">
        </span>
    </div>
</div>
<ol class="projects__project-list" data-element="projects-list-project">
    <!-- <h2 class="ng-hide">Lista de proyectos</h2> -->
    <a href="#/bloqsproject" target="_blank" ng-show="userProjects.length === 0 || filtered.projects.length === 0" ng-class="{'project-list__item':true, 'new--project':true, 'project-list__item--wide':itemsLayout === 'list'}">
        <div ng-class="{'project--item':true, 'project--item--wide':itemsLayout === 'list'}">
            <div ng-class="{'project__image__container--new':true, 'project__image__container--wide':itemsLayout === 'list'}" ng-mouseover="itemHover">
                <svg class="svg-icon">
                    <use xlink:href="#plus"></use>
                </svg>
            </div>
            <h3 data-element="projects-new-project" class="h3 project__info--title create__project">{{'create-new-project' | translate}}</h3>
        </div>
    </a>

    <div ng-show="(userProjects.length !== 0 && filtered.projects.length !== 0) && projectSearched.length === 0" class="project-shared--empty">
        <p class="empty__info">{{'projects_text_searchEmpty' | translate}}

        <p>
    </div>
    <li data-ng-repeat="project in projectSearched = (filtered.projects = (userProjects | filter:inRemoveProjects) |filter:{name: searchText} | filter:userProjectsFilterFunction(userProjectsFilter)) | orderBy:userProjectsOrderBy:userProjectsReverseOrder track by project._id" ng-init="sectionIndex = $index" ng-class="{'project-list__item':true, 'project__item--wide':itemsLayout === 'list'}" data-element="projects-project">
        <div ng-class="{'project--item':true, 'project--item--wide':itemsLayout === 'list'}">
            <div ng-class="{'project__image__container':true, 'project__image__container--wide':itemsLayout === 'list'}" ng-mouseover="itemHover" data-element="over-project">
                <a class="project__image__open" data-ng-href="#/{{project.codeProject? 'codeproject/' : 'bloqsproject/'}}{{project._id}}" target="_blank">
                    <img data-corbel-src="project._id" data-corbel-collection="Angularproject" data-corbel-default-image="../images/common/default-project.png" corbel-image-type="project.imageType">
                </a>
                <span class="project--item--trash" ng-click="removeProject(project)" data-tooltips="true" data-tooltip-position="left" data-tooltip="{{'delete-project' | translate}}">
                    <svg class="svg-icon" data-element="eliminate-myproject">
                        <use xlink:href="#remove"></use>
                    </svg>
                </span>
            </div>
            <div ng-class="{'project__info__container':true, 'project__info__container--wide':itemsLayout === 'list'}">
                <div ng-class="{'project__footer':true, 'project__footer--wide':itemsLayout === 'list'}">
                    <div class="footer__icons--left">
                        <div ng-click="renameProject(project)" data-element="myprojects-rename-project" class="project--footer--icon" data-tooltips="true" ng-attr-data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide':'myprojects'}}" data-tooltip="{{ 'change-name' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#edit"></use>
                            </svg>
                        </div>
                        <div ng-click="createCopy(project)" data-element="myprojects-copy-project" class="project--footer--icon" data-tooltips="true" ng-attr-data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide':'myprojects'}}" data-tooltip="{{ 'create-copy' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#duplicar"></use>
                            </svg>
                        </div>
                        <div data-ng-if="!project.codeProject" data-element="myprojects-download-project" data-ng-click="projectApi.download(project)" class="project--footer--icon" data-tooltips="true" ng-attr-data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide':'myprojects'}}" data-tooltip="{{ 'download-project' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#descargar"></use>
                            </svg>
                        </div>
                        <div data-element="myprojects-export-arduino-code-button" data-ng-click="projectApi.downloadIno(project)" class="project--footer--icon" data-tooltips="true" ng-attr-data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide':'myprojects'}}" data-tooltip="{{ 'export-arduino-code' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#exportcode"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="footer__icons--right">
                        <div data-ng-click="commonModals.publishModal(project)" class="project--footer--icon" data-ng-if="!project._acl.ALL" data-tooltips="true" ng-attr-data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide--right':'myprojects--right'}}" data-tooltip="{{ 'publish-project' | translate }}" data-element="myprojects-footer-publish">
                            <svg class="svg-icon">
                                <use xlink:href="#Compartir_publicarEnExplora"></use>
                            </svg>
                        </div>
                        <div data-ng-click="commonModals.doPrivateProject(project)" class="project--footer--icon" data-ng-if="project._acl.ALL" data-tooltips="true" data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide--right':'myprojects--right'}}" data-tooltip="{{ 'do-private' | translate }}" data-element="myprojects-footer-private">
                            <svg class="svg-icon">
                                <use xlink:href="#privado"></use>
                            </svg>
                        </div>
                        <div class="project--footer--icon" data-ng-click="commonModals.modalShareWithUsers(project)" data-tooltips="true" data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide--right':'myprojects--right'}}" data-tooltip="{{ 'share-with-users' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#usuario"></use>
                            </svg>
                        </div>
                        <div class="project--footer--icon" data-ng-click="commonModals.shareSocialModal(project)" data-tooltips="true" data-tooltip-position="{{(itemsLayout === 'list')?'myprojects--wide--right':'myprojects--right'}}" data-tooltip="{{ 'share-social-networks' | translate }}">
                            <svg class="svg-icon">
                                <use xlink:href="#redesSociales"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div ng-class="{'project__info__header':true, 'project__info__header--wide':itemsLayout === 'list'}">
                    <a data-ng-href="#/{{project.codeProject? 'codeproject/' : 'bloqsproject/'}}{{project._id}}" target="_blank">
                        <h3 class="h3 project__info--title" data-element="projects-project-name">{{project.name}}</h3>
                    </a>

                    <div ng-if="itemsLayout === 'list'" class="project__info--description">{{project.description}}</div>
                    <div class="project__info__header__data">
                        <time class="text--secondary project__info--time" data-element="myprojects-time-tag">{{ project._updatedAt | amDateFormat:'DD/MM/YY - HH:mm[h]' }}</time>
                        <div class="project__info__header__icons">
                            <svg class="svg-icon" ng-if="project._acl.ALL">
                                <use xlink:href="#Compartir_publicarEnExplora"></use>
                            </svg>
                            <svg class="svg-icon" data-ng-if="projectApi.isShared(project)">
                                <use xlink:href="#usuario"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <span ng-if="project.codeProject" class="project--item--code" data-tooltips="true" data-tooltip-position="right" data-tooltip="{{ 'my-project_placeholder_code-project' | translate }}">
                <svg class="svg-icon">
                    <use xlink:href="#codigo"></use>
                </svg>
            </span>
        </div>
    </li>
</ol>
