<div class="projects--actions">
    <div class="projects--action projects--action--sort">
        <common-dropdown class="projects--sort-dropdown" options="orderOptions" options-click="sort" pre-heading="'explore-sortby'" heading-option="orderOptions[0] | translate"></common-dropdown>
    </div>
    <div class="projects--action grid-list">
        <button ng-click="itemsLayout = 'grid'" ng-class="{btn:true, 'btn--projects--actions':true, 'btn--selected':itemsLayout === 'grid', 'grid--left':true}">
            <svg class="svg-icon">
                <use xlink:href="#grid"></use>
            </svg>
        </button>
        <button ng-click="itemsLayout = 'list'" ng-class="{btn:true, 'btn--projects--actions':true, 'btn--selected':itemsLayout === 'list', 'grid--right':true}">
            <svg class="svg-icon">
                <use xlink:href="#list"></use>
            </svg>
        </button>
    </div>
    <div class="projects--action">
        <span class="form--input" ng-class="{'input--focused':focus === 'sharedprojectssearch'}">
            <svg class="svg-icon--search">
                <use xlink:href="#search"></use>
            </svg>
            <input type="search" name="search--normal" id="search--normal" ng-model="searchText.text" placeholder="{{'find'|translate}}" data-element="projects-shared-find" data-ng-focus="focus = 'sharedprojectssearch'"
                   data-ng-blur="focus = false">
        </span>
    </div>
</div>
<ol class="projects__project-list">
    <!-- <h2 class="ng-hide">Lista de proyectos</h2> -->
    <div ng-show="sharedProjects.length === 0" class="project-shared--empty">
        <svg class="svg-icon">
            <use xlink:href="#inbox"></use>
        </svg>
        <p class="empty__info">{{'myProjectShare_text_empty ' | translate}}

        <p>
    </div>
    <li pagination-id="shared" dir-paginate="project in sharedProjects | filter:userProjectsFilterFunction(userProjectsFilter) |  itemsPerPage: itemsPerPage track by project._id"
        current-page="pagination.sharedprojects.current" total-items="{{sharedCount}}" ng-init="sectionIndex = $index" ng-class="{'project-list__item':true, 'project__item--wide':itemsLayout === 'list'}">
        <div ng-class="{'project--item':true, 'project--item--wide':itemsLayout === 'list'}">
            <div ng-class="{'project__image__container':true, 'project__image__container--wide':itemsLayout === 'list'}" ng-mouseover="itemHover" data-element="over-project">
                <a class="project__image__open" data-ng-href="#/{{project.codeProject? 'codeproject/' : 'bloqsproject/'}}{{project._id}}" target="_blank">
                    <img ng-src="{{common.urlImage + 'project/' + project._id}}" err-src="../images/common/default-project.png">
                </a>
            </div>
            <div ng-class="{'project__info__container':true, 'project__info__container--wide':itemsLayout === 'list'}">
                <div ng-class="{'project__footer':true, 'project__footer--wide':itemsLayout === 'list'}">
                    <div class="footer__addtomyprojects">
                        <div ng-click="createCopy(project)" class="project--footer--icon">
                            <svg class="svg-icon">
                                <use xlink:href="#plusCircle"></use>
                            </svg>
                            <span>{{ 'project-addto-myprojects' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div ng-class="{'project__info__header':true, 'project__info__header--wide':itemsLayout === 'list'}">
                    <a data-ng-href="#/{{project.codeProject? 'codeproject/' : 'bloqsproject/'}}{{project._id}}" target="_blank">
                        <h3 class="h3 project__info--title" data-element="projects-project-name">{{project.name}}</h3>
                    </a>
                    <div ng-if="itemsLayout === 'list'" class="project__info--description">{{project.description}}</div>
                    <div class="project__info__header__data shared-project">
                        <p class="shared-project__into__username">{{ 'explore-created-by' | translate }}
                            <span>{{project.creator.username}}</span>
                        </p>
                        <span class="shared-project__into__intro-date">
                            <p>{{project._acl['user:'+ common.user._id].properties.date ? 'sharedProject_date_shareAt' : '' | translate}}</p>
                            <time class="text--secondary project__info--time">{{ project._acl['user:'+ common.user._id].properties.date | amDateFormat:'DD/MM/YY - HH:mm[h]' }}</time>
                        </span>
                    </div>
                </div>
            </div>
            <span ng-if="project.codeProject" class="project--item--code" data-tooltip-position="right" data-tooltip="{{ 'my-project_placeholder_code-project' | translate }}">
                <svg class="svg-icon">
                    <use xlink:href="#code"></use>
                </svg>
            </span>
        </div>
    </li>
    <div id="shared__paginator" class="projects__paginator">
        <dir-pagination-controls pagination-id="shared" on-page-change="getMySharedProjectsPage(newPageNumber)" max-size="7" template-url="views/forum/forumPagination.html"></dir-pagination-controls>
    </div>
</ol>
