<div class="projects--view section-with-header-and-subheader">
    <div ng-class="{'loading--content':common.isLoading}"></div>
    <div class="section-header">
        <h1 class="h2 projects--heading">{{ 'projects' | translate }}</h1>
    </div>
    <div class="tabs-layout">
        <aside class="tabs-layout__aside">
            <h1 class="invisible">Menú de Proyectos</h1>
            <ul class="tabs__header">
                <li class="tabs__header__item tabs__header__main" ng-class="{'selected--tab':selectedTab === 'myprojects'}" ng-click="goTo('myprojects')">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#folderOpen"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{ 'my-projects' | translate }} ({{projectsCount}})
                    </span>
                </li>
                <li class="tabs__header__item aside--menu__item--releases" ng-class="{'selected--tab':selectedTab === 'sharedprojects'}" data-element="projects-shared-projects" ng-click="goTo('sharedprojects')">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#inbox"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{'shared' | translate}} ({{ sharedCount }})
                    </span>
                </li>
                <li class="tabs__header__item aside--menu__item--releases" ng-class="{'selected--tab':selectedTab === 'trash'}" data-element="projects-trash-projects" ng-click="goTo('trash')">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#delete"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{'trash' | translate}} ({{ trashCount }})
                    </span>
                </li>
                <a href="#/bloqsproject" target="_blank" class="btn btn--primary btn--small btn--new-project" data-element="projects-new-project">
                    <svg class="svg-icon svg-icon--text">
                        <use xlink:href="#plusCircle"></use>
                    </svg>
                    {{ 'create-new-project' | translate }}
                </a>
            </ul>
        </aside>
        <div class="tabs-layout__content">
            <div class="tab" ng-show="selectedTab === 'myprojects'" ng-include="'views/myprojects.html'"></div>
            <div class="tab" ng-show="selectedTab === 'sharedprojects'" class="myprojects--tab projects--tab">
                <div ng-include="'views/mysharedprojects.html'"></div>
            </div>
            <div class="tab" ng-show="selectedTab === 'trash'" ng-include="'views/mytrash.html'"></div>
        </div>
    </div>
</div>