<div class="project--view tabs-layout tabs-layout-proyect">
    <!-- PROJECT HEADER -->
    <div class="project--header">
        <h1 class="h2">{{project.name}}</h1>

        <div class="project--subheader">
            <div class="subheader--left">
                <div class="subheader--item">
                    <span class="project--header--username">{{ 'project-username-from' | translate }}
                      <span class="project--header--username__link"> {{project.creator.username}}
                      </span>
                    </span>
                </div>
                <div class="subheader--item">
                    <span>|</span>
                </div>
                <div class="subheader--item">
                    <svg class="svg-icon">
                        <use xlink:href="#vistas"></use>
                    </svg>
                    <span data-element="project-times-viewed">{{project.timesViewed}}</span>
                </div>
                <!--                 <div class="subheader--item">
                    <svg class="svg-icon">
                        <use xlink:href="#corazon"></use>
                    </svg>
                    <span>{{project.timesLiked || 0}}</span>
                </div> -->
                <div class="subheader--item">
                    <svg class="svg-icon">
                        <use xlink:href="#mas"></use>
                    </svg>
                    <span data-element="project-times-added">{{project.timesAdded || 0}}</span>
                </div>
            </div>
            <div class="subheader--right">
                <span class="subheader--item">{{ 'last-change' | translate }} {{ project.updatedAt | amDateFormat:'DD[ ]MMMM[ ]YYYY' }}</span>
            </div>
        </div>
    </div>
    <!-- END PROJECT HEADER -->
    <!-- PROJECT CONTENT -->
    <div class="project--content">
        <div class="content--left">
            <div class="project--image--container">
                <div ng-show="imageShown === videoID" class="embed-responsive embed-responsive-16by9">
                    <youtube-video class="embed-responsive-item" video-id="videoID"></youtube-video>
                </div>
                <img ng-show="imageShown !== videoID" alt="Project image" ng-src="{{common.urlImage + 'project/' + project._id + '?' + timestamp}}" err-src="../images/common/default-project.png">
            </div>
            <div class="project--description">
                <p>{{project.description || 'project-without-description' | translate}}</p>
            </div>
            <div class="project--tags">
                <span>{{ 'tags' | translate}}:</span>
                <ul ng-class="{'hardware--tags':project.userTags.length > 0}">
                    <li data-ng-repeat="tag in project.hardwareTags">{{tag | translate}}</li>
                    <li data-ng-repeat="tag in project.userTags">{{tag}}</li>
                </ul>
            </div>
        </div>
        <aside class="content--right">
            <div class="project--actions">
                <button class="btn btn--primary btn--project--action--add" data-ng-show="common.user && project && !utils.userIsOwner(project, common.user._id)" data-ng-click="commonModals.clone(project); countAdded()" data-element="explore-project-addbutton">
                    <svg class="svg-icon">
                        <use xlink:href="#mas"></use>
                    </svg>
                    {{ 'project-addto-myprojects' | translate }}
                </button>
                <!--                 <button class="btn btn--project--action" ng-click="projectApi.addTimesLiked(project._id)">
                    <svg class="svg-icon">
                        <use xlink:href="#corazon"></use>
                    </svg>
                    {{ 'like' | translate }}
                </button> -->
                <button class="btn btn--project--action" ng-click="openProject(project)" data-element="explora-project-seebutton">
                    <svg class="svg-icon">
                        <use xlink:href="#open"></use>
                    </svg>
                    {{ 'project-watch' | translate }}
                </button>
                <button class="btn btn--project--action" data-ng-if="project && !project.codeProject" data-ng-click="projectApi.download(project, 'json', true)" data-element="explora-project-download">
                    <svg class="svg-icon">
                        <use xlink:href="#descargar"></use>
                    </svg>
                    {{ 'download' | translate }}
                </button>
                <button class="btn btn--project--action" data-ng-if="project.codeProject" data-ng-click="projectApi.download(project, 'arduino', true)" data-element="explora-project-download">
                    <svg class="svg-icon">
                        <use xlink:href="#descargar"></use>
                    </svg>
                    {{ 'download' | translate }}
                </button>
            </div>
        </aside>
    </div>
    <!-- END PROJECT CONTENT -->
</div>
