<div class="projects--view section-with-header-and-subheader">
    <div ng-class="{'loading--content':common.isLoading}"></div>
    <div class="section-header">
        <h1 class="h2 projects--heading">{{ 'projects' | translate }}</h1>
    </div>
    <div class="tabs-layout">
        <aside class="tabs-layout__aside">
            <h1 class="invisible">Menú de Proyectos</h1>
            <ul class="tabs__header">
                <li class="tabs__header__item tabs__header__main" ng-class="{'selected--tab':selectedTab === 'projects'}" ng-click="selectedTab = 'projects'; refreshProjects()">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#folderOpen"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{ 'my-projects' | translate }} ({{ filtered.projects.length}})
                    </span>
                </li>
                <li ng-class="{'tabs__header__item':true, 'aside--menu__item--releases':true, 'selected--tab':selectedTab === 'releases'}" data-element="projects-shared-projects" ng-click="selectedTab = 'releases'">
                    <svg class="svg-icon--aside--menu">
                        <use xlink:href="#inbox"></use>
                    </svg>
                    <span class="menu__item__span">
                        {{'shared' | translate}} ({{ sharedProjects.length || 0 }})
                    </span>
                    </span>
                </li>
                <a href="#/bloqsproject" target="_blank" class="btn btn--primary btn--small btn--new-project" data-element="projects-new-project">
                    <svg class="svg-icon svg-icon--text">
                        <use xlink:href="#plusCircle"></use>
                    </svg>
                    {{ 'create-new-project' | translate }}</a>
            </ul>
        </aside>
        <div class="tabs-layout__content">
            <div class="tab myprojects" ng-show="selectedTab === 'projects'" ng-include="'views/myprojects.html'"></div>
            <div class="tab mysharedprojects" ng-show="selectedTab === 'releases'" class="myprojects--tab projects--tab">
                <div ng-include="'views/mysharedprojects.html'"></div>
            </div>
        </div>
    </div>
</div>
