<div class="form form--login">
    <div ng-class="{'form--container':true}">
        <a href="#/">
            <svg class="form--login__image">
                <use xlink:href="#Logo"></use>
            </svg>
        </a>

        <div ng-class="{'form--login__container':true,  shake:errors.login || errors.register.email || recovery.emailError}">
            <div ng-show="!recovery.success && !recovery.error">
                <h1 class="h3">{{ 'recovery-create-password-title' | translate }}</h1>

                <div class="form">
                    <form name="form" class="form--recovery" autocomplete="off" ng-submit="createPassword(form)" novalidate>
                        <fieldset class="form--data--center">
                            <legend class="invisible">Password Form</legend>
                            <div class="form-control">
                                <label for="passwordMain" class="hidden">{{ 'recovery-create-password-main' | translate }}</label>
                                <span data-ng-class="{'input input--form--login':true, 'input--default': true, 'input--focused':focus === 'passwordMain', 'input--error':form.passwordMain.submitted && (form.passwordMain.$error.required || form.passwordMain.$error.minlength || errorPassword)}">
                                    <svg class="svg-icon">
                                        <use xlink:href="#candado"></use>
                                    </svg>
                                    <input data-element="reset-password-main-input" type="password" name="passwordMain" autocomplete="off" data-ng-model="password.main" data-ng-focus="form.passwordMain.submitted=false; focus='passwordMain'" data-ng-blur="focus = false" id="passwordMain" data-ng-minlength="6" maxlength="50" placeholder="{{'recovery-create-password-main-placeholder' | translate}}" autocorrect="off" required>
                                </span>
                                <span class="form--error" data-ng-show="form.passwordMain.submitted && form.passwordMain.$error.required" data-element="show-no-pass">
                                    <small>{{ 'login-enter-password' | translate }}</small>
                                </span>
                                <span class="form--error" data-ng-show="form.passwordMain.submitted && form.passwordMain.$error.minlength" data-element="show-more-six-pass">
                                    <small>{{ 'login-min-length-password' | translate }}</small>
                                </span>
                            </div>
                            <div class="form-control">
                                <label for="passwordRepeat" class="hidden">{{ 'recovery-create-password-repeat' | translate }}</label>
                                <span data-ng-class="{'input input--form--login':true, 'input--default': true, 'input--focused':focus === 'passwordRepeat', 'input--error':form.passwordRepeat.submitted && (form.passwordRepeat.$error.required || form.passwordRepeat.$error.minlength || errorPassword)}">
                                    <svg class="svg-icon">
                                        <use xlink:href="#candado"></use>
                                    </svg>
                                    <input data-element="reset-password-repeat-input" type="password" name="passwordRepeat" autocomplete="off" data-ng-model="password.repeat" data-ng-focus="form.passwordRepeat.submitted=false; focus='passwordRepeat'" data-ng-blur="focus = false" id="passwordRepeat" data-ng-minlength="6" maxlength="50" placeholder="{{'recovery-create-password-repeat-placeholder' | translate}}" autocorrect="off" required>
                                </span>
                                <span class="form--error" data-ng-show="form.passwordRepeat.submitted && form.passwordRepeat.$error.required" data-element="show-no-pass">
                                    <small>{{ 'login-enter-password' | translate }}</small>
                                </span>
                                <span class="form--error" data-ng-show="form.passwordRepeat.submitted && form.passwordRepeat.$error.minlength" data-element="show-more-six-pass">
                                    <small>{{ 'login-min-length-password' | translate }}</small>
                                </span>
                                <span class="form--error" data-ng-show="form.passwordRepeat.submitted &&  errorPassword" data-element="show-incorrect-pass">
                                    <small>{{ 'modal-reset-password-error' | translate }}</small>
                                </span>
                            </div>
                            <div class="form-control">
                                <button data-element="reset-password-button-ok" ng-click="form.passwordMain.submitted=true; form.passwordRepeat.submitted=true" class="btn btn--small btn--primary btn__modal--footer btn--confirm">{{ 'save' | translate}}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="form--login__footer">
                <p class="form-control text-center">
                    <a href="#/">{{'recovery-got-to-init' | translate }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
