<div class="styleguide-view">
    <div class="alerts--container">
        <div ng-repeat="alert in alerts.getAlerts()" class="test">
            <div class="alert {{alert.domClass}}" id="{{alert.id}}">
                <span>{{alert.text}}</span>
                <div class="alert--close" ng-click="alerts.close(alert.uid, $event)">
                    <svg class="svg-icon">
                        <use xlink:href="#erase"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="sample--container">
        <h1 class="h2">Texto</h1>
        <!-- COLORES TEXTO-->
        <h1 class="h1">Fabio me exige, sin tapujos, que añada cerveza al whisky. </h1>
        <h2 class="h2">Fabio me exige, sin tapujos, que añada cerveza al whisky. </h2>
        <h3 class="h3">Fabio me exige, sin tapujos, que añada cerveza al whisky. </h3>
        <p class="text--strong">Fabio me exige, sin tapujos, que añada cerveza al whisky. </p>
        <p class="text--primary">Fabio me exige, sin tapujos, que añada cerveza al whisky. </p>
        <p class="text--secondary">Fabio me exige, sin tapujos, que añada cerveza al whisky. </p>
        <p class="text--disabled">Fabio me exige, sin tapujos, que añada cerveza al whisky. </p>
        <a href="">Fabio me exige, sin tapujos, que añada cerveza al whisky. </a>
        <p>
            <small>Fabio me exige, sin tapujos, que añada cerveza al whisky.</small>
    </div>
    <div class="row">
        <div class="col-mobile-6">
            <h1 class="h2">Campos de texto</h1>
            <div class="separator-10"></div>
            <!-- Disabled Input -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="disabled" class="sample--label">Deshabilitado</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input">
                            <input type="text" name="disabled" id="disabled" placeholder="Disable" disabled>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Normal Input -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="normal" class="sample--label">Normal</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input">
                            <input type="text" name="normal" id="normal" placeholder="Normal">
                        </span>
                    </div>
                </div>
            </div>
            <!-- Focused Input -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="onfocus" class="sample--label">En el foco</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input input--focused">
                            <input type="text" name="onfocus" id="onfocus" placeholder="Focused">
                        </span>
                    </div>
                </div>
            </div>
            <!-- Error Input -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="error" class="sample--label">Error</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input input--error">
                            <input type="text" name="error" id="error" value="My input is an error" placeholder="Error input">
                        </span>
                        <span class="form--error">
                            <small>Error triggered</small>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Search off -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="search--normal" class="sample--label">Buscador off</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input">
                            <svg class="svg-icon--search">
                                <use xlink:href="#search"></use>
                            </svg>
                            <input type="search" name="search--normal" id="search--normal" placeholder="{{'find'|translate}}">
                        </span>
                    </div>
                </div>
            </div>
            <!-- Validating - OK -->
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="normal" class="sample--label">Validating - OK</label>
                    </div>
                    <div class="col-mobile-7">
                        <span class="form--input">
                            <input ng-click="validate($event)" type="text" name="normal" id="normal" placeholder="Escribe aquí">
                            <svg ng-show="validating" class="svg-icon icon--form--loading icon--form--validating icon--animated--spin">
                                <use xlink:href="#loading"></use>
                            </svg>
                            <svg ng-show="validationOk" class="svg-icon icon--form--validating icon--form--validated ">
                                <use xlink:href="#tickCircle"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mobile-6">
            <h1 class="h2">Desplegables</h1>
            <div class="separator-10"></div>
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="select">Deshabilitado</label>
                    </div>
                    <div class="col-mobile-7">
                        <common-dropdown options="test" disabled="true" />
                    </div>
                </div>
            </div>
            <div class="sample--item">
                <div class="row">
                    <div class="col-mobile-5">
                        <label for="select">Normal</label>
                    </div>
                    <div class="col-mobile-7">
                        <common-dropdown options="test" options-click="mifuncion" />
                    </div>
                </div>
            </div>
            <h1 class="h2">Radio buttons - Checkboxes</h1>
            <span class="input input--checkbox">
                <input type="checkbox" name="sample--checkbox" id="sample--checkbox">
                <label for="sample--checkbox">
                    <span>Checkbox</span>
                </label>
            </span>
            <br>
            <span class="input input--checkbox">
                <input type="checkbox" name="sample--checkbox" id="sample--checkbox" disabled checked>
                <label for="sample--checkbox">
                    <span>Checkbox</span>
                </label>
            </span>
            <br>
            <span class="input input--radio">
                <input type="radio" name="sample--radio" value="sample--radio">
                <label for="sample--radio">
                    <span>Radio</span>
                </label>
            </span>
            <br>
            <span class="input input--radio">
                <input type="radio" name="sample--radio1" value="sample--radio1" disabled checked>
                <label for="sample--radio">
                    <span>Disabled radio</span>
                </label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <h1 class="h2">Buttons</h1>
            <button class="btn btn--primary">Botón principal</button>
            <button class="btn btn--secondary">Botón secundario</button>
            <button class="btn btn--tertiary">Botón Terciario</button>
            <button class="btn btn--disabled">Botón deshabilitado</button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <div class="separator-10"></div>
            <button class="btn btn--primary btn--medium">Botón principal mediano</button>
            <button class="btn btn--secondary btn--medium">Botón secundario mediano</button>
            <button class="btn btn--tertiary btn--medium">Botón terciario mediano</button>
            <button class="btn btn--disabled btn--medium">Botón deshabilitado mediano</button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <div class="separator-10"></div>
            <button class="btn btn--primary btn--small">Botón principal pequeño</button>
            <button class="btn btn--secondary btn--small">Botón secundario pequeño</button>
            <button class="btn btn--tertiary btn--small">Botón terciario pequeño</button>
            <button class="btn btn--disabled btn--small">Botón deshabilitado pequeño</button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <div class="separator-10"></div>
            <button class="btn btn--social btn__login--facebook btn--small">Facebook</button>
            <button class="btn btn--social btn__login--google btn--small">Google</button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <h1 class="h2">Alerts</h1>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Info Alert', id:'infoalert', type:'info', time:300000})">Trigger Info Alert
            </button>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Ok Alert', id:'infoalert', type:'ok', time:300000})">Trigger ok Alert
            </button>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Confirm Alert', id:'confirmalert', type:'confirm', time:300000})">Trigger Confirm Alert
            </button>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Warning Alert', id:'warning', type:'warning'})">Trigger Warning Alert
            </button>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Loading Alert', id:'loading', type:'loading', time:300000})">Trigger loading Alert
            </button>
            <button class="btn btn--primary btn--small" ng-click="alertsService.add({text:'Error Alert', id:'error', type:'error', time:300000})">Trigger Error Alert
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <h1 class="h2">Modals</h1>
            <button class="btn btn--primary btn--small" ng-click="simpleModal()">Trigger Simple modal</button>
            <button class="btn btn--primary btn--small" ng-click="confirmModal()">Trigger Confirm modal</button>
            <button class="btn btn--primary btn--small" ng-click="confirmRejectModal()">Trigger Confirm/Reject modal</button>
        </div>
    </div>
    <div class="row">
        <div class="col-mobile-12">
            <wysiwyg></wysiwyg>
        </div>
    </div>
    <div>
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="3:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
            <md-grid-tile ng-repeat="tile in userProjects" md-rowspan="0" md-colspan="1" md-colspan-sm="1" ng-class="">
                <div class="posi">
                    <h3>{{tile.name}}</h3>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
