<div class="main--static-text">
    <h1 class="h1 main--title">{{ 'service-terms' | translate }}</h1>
    <section>
        <h1 class="h2">{{ 'service-terms-intro' | translate}}</h1>
        <p>{{ 'service-terms-intro-1-1' | translate }}</p>
        <p>{{ 'service-terms-intro-1-2' | translate }}</p>
        <p>{{ 'service-terms-intro-1-3' | translate }}</p>
        <p>{{ 'service-terms-intro-1-4' | translate }}</p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-user-accounts' | translate}}</h1>
        <p>{{ 'service-terms-user-accounts-2-1' | translate }}</p>
        <p>{{ 'service-terms-user-accounts-2-2' | translate }}</p>
        <p>{{ 'service-terms-user-accounts-2-3' | translate }}</p>
        <p>{{ 'service-terms-user-accounts-2-4' | translate }}
            <a href="mailto:{{'support_email' | translate}}">{{'support_email' | translate}}.</a></p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-community-rules' | translate}}</h1>
        <p>{{ 'service-terms-community-rules-3-1' | translate }}</p>
        <p>{{ 'service-terms-community-rules-3-2' | translate }}</p>
        <p>{{ 'service-terms-community-rules-3-3' | translate }}</p>
        <p>{{ 'service-terms-community-rules-3-4' | translate }}</p>
        <p>{{ 'service-terms-community-rules-3-5' | translate }}</p>
        <p>{{ 'service-terms-community-rules-3-6' | translate }}</p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-licences' | translate }}</h1>
        <p>{{ 'service-terms-licences-4-1' | translate }}</p>
        <p>{{ 'service-terms-licences-4-2' | translate }}</p>
        <p>{{ 'service-terms-licences-4-3' | translate }}
            <a href="mailto:soporte.bitbloq@bq.com" target="_blank">{{ 'support_email' | translate }}.</a></p>
        <p>{{ 'service-terms-licences-4-4' | translate }}
            <a href="http://bitbloq.bq.com" target="_blank">bitbloq.bq.com.</a></p>
        <p>{{ 'service-terms-licences-4-5' | translate }}</p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-third-party-websites' | translate }}</h1>
        <p>{{ 'service-terms-third-party-websites-content' | translate }}</p>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-privacy-policy' | translate }}</h1>
        <p>
            <span>
                {{ 'service-terms-privacy-policy-6-1' | translate }}
                <a href="http://www.bq.com" target="_blank">www.bq.com.</a> {{ 'service-terms-privacy-policy-6-2' | translate }}
                <a href="mailto:lopd@bq.com">lopd@bq.com.</a>
            </span>
        </p>
    </section>
    </section>
    <section>
        <h1 class="h2">{{ 'service-terms-cookies' | translate }}</h1>
        <p>
            <span>
                {{ 'service-terms-cookies-7-1' | translate }}
                <a href="http://bitbloq.bq.com" target="_blank">http://bitbloq.bq.com</a> {{ 'service-terms-cookies-7-2' | translate }}
                <a class="service-term__link" href="http://www.bq.com" target="_blank">www.bq.com.</a>
            </span>
        </p>
    </section>
    <section>
        <h1 class="h2">{{ 'explore-rules-title' | translate }}</h1>
        <p>
            <span>{{ 'explore-rules-text-0' | translate }}</span>
        </p>
        <p>
            <span>{{ 'explore-rules-text-1' | translate }}</span>
        </p>
        <p>
            <span>E{{ 'explore-rules-text-2' | translate }}</span>
            <ul>
                <li>
                    <span>{{ 'explore-rules-text-3' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'explore-rules-text-4' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'explore-rules-text-5' | translate }}</span>
                </li>
                <li>
                    <span>{{ 'explore-rules-text-6' | translate }}</span>
                </li>
            </ul>
        </p>
        <p>
            <span>{{ 'explore-rules-text-7' | translate }}</span>
        </p>
    </section>
</div>