<ol class="wizard__hardware-list" data-element="projects-list-project">
    <li data-ng-repeat="robot in robots" ng-init="sectionIndex = $index" class="hardware-list__item" data-element="projects-project">
        <div class="hardware--item">
            <div class="hardware__image__container" data-element="over-project">
                <img ng-src="{{common.urlImage + 'project/' + project._id + '?' + timestamp}}" err-src="../images/common/default-project.png">
            </div>
            <p class="hardware__image__container_name">{{robot._id | translate}}</p>
            <p class="hardware__image__container_product">Ver producto</p>
        </div>
    </li>
</ol>
