<p>
    <strong>Recibe un mensaje parecido a "<i class="text-secondary">ascii\' codec can\'t decode byte 0xe1 in position 13: ordinal not in range(128)</i>"?</strong>
</p>
<p>Este tipo de errores suelen estar relacionados con el nombre del usuario cuando este incluye un caracter poco frecuente tipo <i class="common--icon-keycap-fx">º</i> o <i class="common--icon-keycap-fx">ª</i></p>
<p>Intente compilar su código con otra cuenta cuyo nombre de usuario sea <i>"mas sencillo"</i>, o
    <strong>active la compilación online</strong>:
    <ul>
        <li class="switch--chromeApp">
            <span class="input input--checkbox">
                <input type="checkbox" id="chromeappCheckbox" name="chromeappCheckbox" value="common.user.chromeapp" ng-checked="common.user.chromeapp === true" ng-model="common.user.chromeapp" data-element="chromeapp-checkbox">
                <label for="chromeappCheckbox">{{'account-checkbox-chromeapp' | translate}}</label>
            </span>
        </li>
</p>
