<span>¿Qué es <strong>un proxy</strong>?</span>
<p>Un proxy, o servidor proxy, en una red informática, es un servidor —programa o dispositivo—, que hace de intermediario en las peticiones de recursos que realiza un cliente (A) a otro servidor (C). Por ejemplo, si una hipotética máquina A solicita un recurso a C, lo hará mediante una petición a B, que a su vez trasladará la petición a C; de esta forma C no sabrá que la petición procedió originalmente de A.</p>
  <p>Esta situación estratégica de punto intermedio le permite ofrecer diversas funcionalidades: control de acceso, registro del tráfico, restricción a determinados tipos de tráfico, mejora de rendimiento, anonimato de la comunicación, <strong><i>caché web</i></strong>, etc.</p>
<span>Si estás en un centro educativo, o crees poder estar bajo un proxy, <strong>contacta con el administrador de redes</strong> <i>(generalmente es la persona que ha instalado la red, o el encargado de mantenerla)</i></span>
<p>
    <strong>Camino</strong>: {{common.supportSteps}}
</p>
