<p>
    <strong>No podemos dar soporte</strong> a distribuciones de <span class="icon--linux">  Linux <i>no certificadas</i><span><p>Hemos recibido reportes de usuarios bajo distribuciones no soportadas que han conseguido hacer funcionar el software, solventando las siguientes dificultades:
    <ul>
        <li class="icon--check"> Pruebe activando el modo online para funcionar como <span class="icon--chrome"> ChromeApp</span>. Puede activar el modo <span class="icon--chrome"> ChromeApp</span> en el <a href="/#/account">panel de configuración de su cuenta</a>, bajo la opción:<br>
            <i class="text--secondary">"{{"account-checkbox-chromeapp" | translate}}"</i>
        </li>
        <li class="icon--check">Ejecute el comando de dialout: <span class="common--text-term-fx little">sudo adduser username_to_include dialout</span></li>
    </ul>
</p>
