Necesitamos que incluya los <i class="text-secondary">ficheros de log</i> de web2board en el formulario de contacto.
<br><strong>web2board consta de 2 programas</strong> (<i class="text-secondary">"web2board"</i> y el launcher <i class="text-secondary">"Web2boardLink"</i>), cada cual con su propio fichero de log.
<br> Los ficheros se encuentran en distintas rutas dependiendo del S.O.:
<ul>
    <li>
        <span class="icon--windows"> Windows</span>:
        <br>
        <ul>
            <li class="common--text-term-fx">%APPDATA%/.web2boardLink.log</li>
            <li class="common--text-term-fx">%APPDATA%/web2board/info.log</li>
        </ul>
    </li>
    <li>
        <span class="icon--linux"> Linux</span> y
        <span class="icon--mac"> Mac</span>:
        <br>
        <ul>
            <li class="common--text-term-fx">~/.web2boardLink.log</li>
            <li class="common--text-term-fx">~/.web2board/info.log</li>
        </ul>
    </li>
</ul>
