<p class="support--ok-warning"><i class="fa fa-check-circle support--icon--giga support--icon--ok" aria-hidden="true"></i>
    <br>
    <span>No tenéis de que preocuparos,
        <strong>no hay ningún virus ni amenaza</strong>
    </span>
</p>
<p>Los antivirus no tienen tiempo de analizar todos los programas que existen, por lo que analizan los programas y cuando detectan acciones poco habituales, automáticamente, lo catalogan como amenaza, generalmente como troyano. En Bitbloq tenemos muchas librerías que compilan programas, accedemos a los puerto serie <i>(USB)</i> para cargar a las placas. Estas caracteristicas hacen que los antivirus puedan detectar Bitbloq como un virus potencial, generando un <i>falso positivo</i></p>
<p>¿Tiene el sistema y el
    <strong>antivirus actualizado</strong>?
    <br>Es muy importante que los antivirus estén actualizados para que funcionen correctamente, detectando los posibles virus y minimizando el numero de falsos positivos.
    <br>Cuando Bitbloq es detectado como un posible virus, procedemos a enviar una petición para que se incluya en la lista de software seguro del antivirus.</p>
<p>Para llevar a cabo la petición para que incluyan a Bitbloq en la lista de software seguro de su antivirus, necesitamos que incluya en el formulario de contacto la siguiente información:
    <ul>
        <li class="icon--check">Sistema Operativo y versión del mismo</li>
        <li class="icon--check">Antivirus y versión del mismo</li>
    </ul>
</p>
